@use "@angular/material" as mat;
@use "src/theme/theme-variables" as *;

.container-custom {
  text-align: center;
  padding: 1rem;
}

.mat-icon {
  vertical-align: middle;
}

.report-error {
  color: mat.m2-get-color-from-palette($app-warn);
}

.custom-radio-group {
  display: flex;
  flex-direction: column;
}
