<div class="container">
    <mat-card>

        <h3>
            <mat-card-title  translate class="section-heading">Add a new Buyer account:</mat-card-title>
            <mat-divider class="divider-custom"></mat-divider>
            <mat-divider class="divider-custom"></mat-divider>
        </h3>

        <mat-card-content>
            <form (ngSubmit)="submitForm()"  [formGroup]="form" novalidate>
                <div class="report-error" [hidden]="!error || isLoading" translate>
                    <span translate>Error submitting the form.</span>
                </div>

                <div fxLayout="column">

                    <mat-form-field >
                        <input formControlName="user_id" matInput placeholder="{{ 'ID user' | translate }}">
                        <mat-error *ngIf="form.controls.user_id.invalid || form.controls.user_id.untouched">
                                <span translate>ID User is required</span>
                        </mat-error>
                    </mat-form-field>


                </div>

                <button disabled="{{createDisable}}" mat-button class="mat-raised-button mat-primary options" type="submit" >
                    <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
                    <span translate>Create</span>
               </button>
               <br>
               <h2 *ngIf="createDisable" class="mat-h2"><span translate>Account number:</span><span>{{account_number}} </span></h2>
            </form>

          
        </mat-card-content>

    </mat-card>



</div>
