<div class="container">
  <mat-card>
    <!--<h1>
      <mat-card-title translate>APP_NAME</mat-card-title>
    
      <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
    </h1>-->
    <h3>
      <mat-card-title class="section-heading" translate>mccr.createMCCR</mat-card-title>
      <mat-divider class="divider-custom"></mat-divider>
      <mat-divider class="divider-custom"></mat-divider>
    </h3>
    <mat-card-content>
      <form (ngSubmit)="submitForm()" *ngIf="mitigationActions | async"  [formGroup]="form" novalidate>
        <div class="form-error" [hidden]="!error || isLoading" translate>
          <span translate>errorLabel.errorSubmittingForm</span>
        </div>
        <br/>
        <div fxLayout="column">

          <mat-form-field>
              <mat-select  formControlName="mitigationActionCtrl" [placeholder]="'mitigationAction.MA' | translate">
                  <mat-option *ngFor="let mitigationAction of processedMitigationActions" [value]="mitigationAction.id">
                    {{ mitigationAction.name }}
                  </mat-option>
                </mat-select>
          </mat-form-field>
          <br/>
          <mat-card formArrayName="files">
              <mat-card-title translate>reportData.files</mat-card-title>
              <mat-divider></mat-divider>
              
              <!-- loop throught units -->
              <div *ngFor="let file of form.controls.files.controls; let i=index">
                
                <!-- row divider show for every nex row exclude if first row -->
                <mat-divider *ngIf="form.controls.files.controls.length > 1 && i > 0" ></mat-divider><br>
                
                <!-- group name in this case row index -->
                <div [formGroupName]="i">
                  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="3.5%" fxLayoutAlign="center">
                    
  
                    <mat-form-field class="input-full-width">
                        <app-input-file class="mat-raised-button mat-primary" formControlName="file" [placeholder]="'errorLabel.requiredInput' | translate" [valuePlaceholder]="'reportData.noFileSelected' | translate" required></app-input-file>
                        <mat-icon matSuffix>folder</mat-icon>
                        <mat-error *ngIf="file.controls.file.hasError('required')">
                          <span translate="">reportData.selectFile</span>
                        </mat-error>
           
                    </mat-form-field>
      
                
      
                    <!-- row delete button, hidden if there is just one row -->
                    <button mat-mini-fab color="warn" 
                            *ngIf="form.controls.files.controls.length > 1" (click)="removeFile(i)" type="button">
                        <mat-icon>delete forever</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
      
              <!-- New unit button -->
              <mat-divider></mat-divider>
              <br>
              <mat-card-actions>
                <app-generic-button style="color: white;" (click)="addFile()" *ngIf="form.controls.files.controls.length <= 10" name="reportData.addFile"></app-generic-button>
              </mat-card-actions>
            </mat-card> <!-- End form units array -->    
          <br/>
          <br>
        </div>
          <div class="box-button">
              <app-generic-button  type="submit" [disabled]="form.invalid || isLoading" routerLink="/mccr/registries/new"  name="mccr.submitMccr"></app-generic-button>
              <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
          </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
