@use "@angular/material" as mat;
@use "src/theme/theme-variables" as *;

.container-custom {
  text-align: center;
  padding: 1rem;
}

.mat-icon {
  vertical-align: middle;
}

.new-mitigation-action-form-error {
  color: mat.m2-get-color-from-palette($app-warn);
}

.mat-form-field {
  font-size: 16px;
  display: block;
}
