<div class="container-custom">
  <div class="header-container flex flex-col justify-center items-center">
    <h2 translate>adaptationAction.form3.title</h2>
  </div>
  <ng-container *ngIf="type === types.A">
    <div class="flex flex-col justify-center items-start rounded bg-gray-100 border-2 border-gray-200 p-2">
      <span translate>general.optional</span>
    </div>
  </ng-container>
  <form [formGroup]="form">
    <mat-vertical-stepper #stepper linear formArrayName="formArray">
      <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
        <ng-template matStepLabel>
          <span translate>adaptationAction.form3.financingInfo</span>
        </ng-template>

        <span translate>adaptationAction.form3.status</span>
        <mat-radio-group
          #adaptationActionFinancingStatus="matRadioGroup"
          formControlName="adaptationActionFinancingStatusCtrl"
          class="custom-radio-group"
        >
          <mat-radio-button value="1">
            <label translate>Asegurado</label>
          </mat-radio-button>
          <mat-radio-button value="2">
            <label translate>Por obtener</label>
          </mat-radio-button>
        </mat-radio-group>

        <mat-form-field *ngIf="adaptationActionFinancingStatus.value == 2" class="field-ppcn">
          <mat-label translate>adaptationAction.form3.stepsFinancing</mat-label>
          <input matInput formControlName="adaptationActionFinancingManagementCtrl" />
          <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>
        <mat-form-field class="field-ppcn" appearance="fill">
          <mat-label translate>adaptationAction.form3.sourceFinancing</mat-label>
          <mat-select
            (selectionChange)="selectSourceFinancing($event.value)"
            [(ngModel)]="climateValueSourceComponent"
            #climateValueSource
            formControlName="adaptationActionFinancingSourceDetailCtrl"
            multiple
          >
            <mat-option [value]="1">
              <label translate>adaptationAction.funding.public</label>
            </mat-option>

            <mat-option [value]="2">
              <label translate>adaptationAction.funding.private</label>
            </mat-option>

            <mat-option [value]="3">
              <label translate>adaptationAction.funding.international</label>
            </mat-option>

            <mat-option [value]="4">
              <label translate>adaptationAction.funding.undefined</label>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="field-ppcn" appearance="fill">
          <mat-label translate>adaptationAction.form3.financingInstrument</mat-label>
          <mat-select #climateValue formControlName="adaptationActionFinancingDetailInstrumentCtrl" multiple>
            <mat-option *ngFor="let element of instrumentDeatils" [value]="element.id">
              <label translate>{{ element.name }}</label>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          *ngIf="climateValue?.value?.includes(instrumentDeatils[instrumentDeatils.length - 1]?.id)"
          [style.margin-right]="'10px'"
          [style.width.%]="100"
          class="ppcn-field"
        >
          <mat-label translate>adaptationAction.form3.nameInstrument</mat-label>
          <input matInput formControlName="adaptationActionFinancingDetailInstrumentOtherCtrl" />
          <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

        <div class="flex flex-col">
          <div class="flex flex-row">
            <div [style.margin-right]="'10px'">
              <mat-button-toggle-group (change)="changeCurrency($event.value)" [value]="actualCurrency">
                <mat-button-toggle value="CRC">CRC</mat-button-toggle>
                <mat-button-toggle value="USD">USD</mat-button-toggle>
                <mat-button-toggle value="other"><span translate>general.other</span></mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <mat-form-field
              *ngIf="actualCurrency == 'other'"
              [style.margin-right]="'10px'"
              [style.width.%]="100"
              class="ppcn-field"
            >
              <mat-label translate>general.currencyType</mat-label>
              <input formControlName="adaptationActionFinancingBufgetOtherCtrl" type="text" matInput required />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>

            <mat-form-field [style.margin-right]="'10px'" [style.width.%]="100" class="ppcn-field">
              <mat-label translate>Presupuesto</mat-label>
              <input type="text" matInput formControlName="adaptationActionFinancingBufgetValueCtrl" required />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>

            <mat-form-field class="field-ppcn" appearance="fill">
              <mat-label translate>mitigationAction.referenceYear</mat-label>
              <mat-select formControlName="adaptationActionFinancingBufgetStarDateCtrl">
                <mat-option *ngFor="let element of yearsArray" [value]="lastValidYear - element">
                  <label translate>{{ lastValidYear - element }}</label>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="text-sm text-gray-500" translate>mitigationAction.referenceYearHint</div>
        </div>

        <div class="button-box flex flex-row justify-end items-center">
          <button
            mat-raised-button
            color="primary"
            type="button"
            [disabled]="formArray?.get([0]).invalid"
            (click)="clickNext(stepper, climateValueSourceComponent?.includes(3))"
          >
            <span translate>general.next</span>
          </button>
        </div>
      </mat-step>

      <mat-step *ngIf="climateValueSourceComponent?.includes(3)" formGroupName="1" [stepControl]="formArray?.get([1])">
        <ng-template matStepLabel>
          <span translate>adaptationAction.form3.actionsfinancedInternationalSources</span>
        </ng-template>

        <span translate>adaptationAction.form3.mideplanRegistes</span>
        <mat-radio-group
          (change)="financeChange($event.value)"
          #adaptationActionFinancingRegisterMIDEPLANC="matRadioGroup"
          formControlName="adaptationActionFinancingRegisterMIDEPLANCtrl"
          class="custom-radio-group"
        >
          <mat-radio-button [value]="1">
            <label translate>Si</label>
          </mat-radio-button>
          <mat-radio-button [value]="2">
            <label translate>No</label>
          </mat-radio-button>
        </mat-radio-group>

        <mat-form-field *ngIf="adaptationActionFinancingRegisterMIDEPLANC.value == 1" class="field-ppcn">
          <mat-label translate>adaptationAction.form3.projectNameRegistered</mat-label>
          <input matInput formControlName="adaptationActionFinancingRegisterNameMIDEPLANCtrl" />
          <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="adaptationActionFinancingRegisterMIDEPLANC.value == 1" class="field-ppcn">
          <mat-label translate>adaptationAction.form3.executingEntity</mat-label>
          <input matInput formControlName="adaptationActionFinancingRegisterEntityMIDEPLANCtrl" />
          <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

        <div class="button-box flex flex-row justify-end items-center">
          <button (click)="stepper.previous()" mat-button><span translate>general.back</span></button>
          <button
            mat-raised-button
            color="primary"
            type="button"
            [disabled]="formArray?.get([1]).invalid"
            (click)="submitForm()"
          >
            <span translate>general.next</span>
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>
