<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="brand" href="./home" translate><img src="assets/{{logoName}}"></a>
  </div>
  <div fxHide.lt-md>
    <a class="brand" href="./home" translate><img src="assets/{{logoName}}"></a>
    
    <button  *ngIf="showModule(permissions,'admin')" mat-button [matMenuTriggerFor]="admin" >
      <span translate>ADMIN</span>
    </button>
    <mat-menu  #admin="matMenu" [overlapTrigger]="false">
      <button mat-menu-item routerLink="/admin/users" routerLinkActive="active"><span translate>admin.users</span></button>
      <button  mat-menu-item routerLink="/admin/permissions" routerLinkActive="active"><span translate>admin.permissions</span></button>
      <button  mat-menu-item routerLink="/admin/groups" routerLinkActive="active"><span translate>admin.groups</span></button>
    </mat-menu>

    <button *ngIf="showModule(permissions,'')" mat-button routerLink="/report" routerLinkActive="active">
      <span translate>reportData.reportsM</span>
    </button>
    <button *ngIf="showModule(permissions,'ma')"  mat-button routerLink="/mitigation/actions" routerLinkActive="active">
      <span translate>mitigationAction.MAt</span>
    </button>

    <button mat-button [matMenuTriggerFor]="mccr" >
      <span translate>MCCR</span>
    </button>
    <mat-menu  #mccr="matMenu" [overlapTrigger]="false">
      <button *ngIf="showModule(permissions,'mccr')" mat-menu-item routerLink="/mccr/registries" routerLinkActive="active">MCCR REGISTRIES</button>
      <button mat-menu-item routerLink="/mccr/poc" routerLinkActive="active">UCC POC</button>
    </mat-menu>

    <mat-menu #appMenu="matMenu">
        <span translate>MCCR</span>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Help</button>
    </mat-menu>

    <button *ngIf="showModule(permissions,'ppcn')" mat-button routerLink="/ppcn/registries" routerLinkActive="active">
      <span translate>PPCN</span>
    </button>


  </div>
  <span fxFlex></span>
  <button mat-icon-button [matMenuTriggerFor]="languageMenu">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
        {{language}}
      </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>credentialsSection.loggedAs</span>&nbsp;<b>{{username}}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-menu-item (click)="logout()" translate>credentialsSection.logout</button>
  </mat-menu>
</mat-toolbar>
