<div class="container-custom">
  <mat-card>
    <h3>
      <mat-card-title translate class="section-heading">mccrPoc.addBuyerTransfer</mat-card-title>
      <mat-divider class="divider-custom"></mat-divider>
      <mat-divider class="divider-custom"></mat-divider>
    </h3>
    <mat-card-content>
      <form (ngSubmit)="submitForm()" [formGroup]="form" novalidate>
        <div class="report-error" [hidden]="!error || isLoading" translate>
          <span translate>errorLabel.errorSubmittingForm</span>
        </div>

        <div class="flex flex-col">
          <mat-form-field>
            <input type="text" matInput formControlName="userId" [placeholder]="'admin.IDuser' | translate" />
            <mat-error *ngIf="form.controls.userId.invalid || form.controls.userId.untouched">
              <span translate>errorLabel.IDUserRequired</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input [disabled]="true" value="{{ id }}" matInput placeholder="{{ 'mccrPoc.uccCode' | translate }}" />
          </mat-form-field>

          <mat-form-field>
            <input
              formControlName="developerAccountNUmber"
              matInput
              placeholder="{{ 'mccrPoc.DevAccountNumber' | translate }}"
            />
            <mat-error
              *ngIf="form.controls.developerAccountNUmber.invalid || form.controls.developerAccountNUmber.untouched"
            >
              <span translate>errorLabel.devAccountNumRequired</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input
              formControlName="buyerAccountNUmber"
              matInput
              placeholder="{{ 'mccrPoc.buyerAccountNumber' | translate }}"
            />
            <mat-error *ngIf="form.controls.buyerAccountNUmber.invalid || form.controls.buyerAccountNUmber.untouched">
              <span translate>errorLabel.buyerAccountNumRequired</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input
              type="number"
              formControlName="numberUccToTransfer"
              matInput
              placeholder="{{ 'mccrPoc.numberUCCTransfer' | translate }}"
            />
            <mat-error *ngIf="form.controls.numberUccToTransfer.invalid || form.controls.numberUccToTransfer.untouched">
              <span translate>errorLabel.numUCCTransferRequired</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <button mat-button class="mat-raised-button mat-primary options" type="submit">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span translate>general.add</span>
          </button>
          <button class="options" mat-raised-button color="primary" (click)="back()">
            <span translate>general.cancel</span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
