.data-container {
  height: 230px;
  width: 660px;
  margin-left: 32%;

}

button {
  margin-left: 35%;
}

.label404 {
  font-size: 40px;
  margin-left: 10%;
}

.text {
  font-size: 20px;
  margin-left: 10%;
}
