.dataContainer{
    height: 230px;
    width: 660px;
    margin-left: 32%;

}

button{
    margin-left: 35%;
}

.label404{
    font-size: 40px;
}

.text{
    font-size: 20px;
}

#text{
    margin-left: 10%;
}

#notFound{
    margin-left: 10%;
}