<mat-toolbar class="toolbar-title">
  <div translate class="section-heading">ppcn.dataPPCN</div>
</mat-toolbar>
<mat-divider class="divider-custom"></mat-divider>
<mat-divider class="divider-custom"></mat-divider>
<br>

<div class="box-button" *ngIf="hasPermProvider()">
  <a  mat-button class="mat-raised-button mat-primary" routerLink="/ppcn/registries/new">
    <span translate> ppcn.addPPCN</span>
  </a>
</div>

<div class="container mat-elevation-z8 table-sinamecc">
  <mat-table #table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="id_ppcn">
      <mat-header-cell *matHeaderCellDef translate> ID PPCN </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
    </ng-container>

    <!-- Strategy Name Column -->
    <ng-container matColumnDef="organization_ppcn">
      <mat-header-cell *matHeaderCellDef translate> specificLabel.OrganizationDistrictCanton </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.organization.name }} </mat-cell>
    </ng-container>

    <!-- Objective Column -->
    <ng-container matColumnDef="fsm_state">
      <mat-header-cell *matHeaderCellDef translate> general.status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fsm_state}} </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="request_type">
      <mat-header-cell *matHeaderCellDef translate> geographyLabel.requestType </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.required_level.level_type }} </mat-cell>
    </ng-container>
    
    <!-- Status Column -->
    <ng-container matColumnDef="required_recognition">
      <mat-header-cell *matHeaderCellDef translate> specificLabel.requiredRecognition </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.recognition_type.recognition_type }} </mat-cell>
    </ng-container>
    <!-- Updated Column -->
    <ng-container matColumnDef="geographic_level">
      <mat-header-cell *matHeaderCellDef translate> geographyLabel.geographicLevel</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.geographic_level.level }} </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef translate>general.actions</mat-header-cell>
      <mat-cell *matCellDef="let element" class="login-box">
        <button mat-icon-button color="primary" (click)="view(element.id)"><mat-icon color="white">visibility</mat-icon></button>
        <button *ngIf="hasPermProvider()" mat-icon-button color="warn" (click)="openDeleteConfirmationDialog(element.id)"><mat-icon color="white">delete</mat-icon></button>
        <button mat-icon-button color="primary" *ngIf="!(element.fsm_state === 'PPCN_end' || element.fsm_state === 'PPCN_send_recognition_certificate')" (click)="addReview(element.id)" > <mat-icon color="white">navigate_next</mat-icon></button>
        <button  mat-icon-button color="primary" (click)="changelog(element.id)" > <mat-icon color="white">history</mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row [ngClass]="row.fsm_state" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
  </mat-paginator>
</div>
