<mat-toolbar class="toolbar-title">
  <div translate class="section-heading">Data for PPCN</div>
</mat-toolbar>
<mat-divider class="divider-custom"></mat-divider>
<mat-divider class="divider-custom"></mat-divider>
<br>

<div class="box-button">
  <a mat-button class="mat-raised-button mat-primary" routerLink="/ppcn/registries/new">
    <span translate> Add new PPCN</span>
  </a>
</div>

<div class="container mat-elevation-z8 table-sinamecc">
  <mat-table #table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="id_ppcn">
      <mat-header-cell *matHeaderCellDef translate> ID PPCN </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
    </ng-container>

    <!-- Strategy Name Column -->
    <ng-container matColumnDef="organization_ppcn">
      <mat-header-cell *matHeaderCellDef translate> Organization </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.organization.name }} </mat-cell>
    </ng-container>

    <!-- Objective Column -->
    <ng-container matColumnDef="request_type">
      <mat-header-cell *matHeaderCellDef translate> Request Type </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.requiredLevel.level_type }} </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="required_recognition">
      <mat-header-cell *matHeaderCellDef translate> Required Recognition </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.recognitionType.recognition_type }} </mat-cell>
    </ng-container>
    <!-- Updated Column -->
    <ng-container matColumnDef="sector">
      <mat-header-cell *matHeaderCellDef translate> Sector </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.sector.sector }} </mat-cell>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="subsector">
      <mat-header-cell *matHeaderCellDef translate> Subsector </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.subsector.name}} </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef translate> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element" class="login-box">
        <button mat-icon-button color="primary" (click)="view(element.id)">
          <mat-icon color="white">visibility</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="openDeleteConfirmationDialog(element.id)">
          <mat-icon color="white">delete</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="update(element.id)">
          <mat-icon color="white">edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="addReview(element.id)" > <mat-icon color="white">rate_review</mat-icon></button>
        <button mat-icon-button color="primary" (click)="changelog(element.id)" > <mat-icon color="white">history</mat-icon></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row [ngClass]="row.fsm_state" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
  </mat-paginator>
</div>
