.container {
    text-align: center;
    padding: 1rem;
  }
  
  .mat-icon {
    vertical-align: middle;
  }
  

.rejected {
  background: lightpink;
}

.in-review {
  background: yellow;
}

.approved {
  background: lightgreen;
}

.on-change {
  background: lightblue;
}
