<mat-toolbar>
  <span translate>Data for Report</span>
</mat-toolbar>
<a mat-button color="primary" routerLink="/mitigation/actions/new" > <span translate> Add new mitigation action</span></a>
<div class="container mat-elevation-z8">
<mat-table #table [dataSource]="dataSource">


  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef translate> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Strategy Name Column -->
  <ng-container matColumnDef="strategy_name">
    <mat-header-cell *matHeaderCellDef translate> Program, Strategy or Initiative </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.strategy_name}} </mat-cell>
  </ng-container>

    <!-- Objective Column -->
    <ng-container matColumnDef="purpose">
      <mat-header-cell *matHeaderCellDef translate> Objective </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.purpose}} </mat-cell>
    </ng-container>
  <!-- Updated Column -->
  <ng-container matColumnDef="updated">
    <mat-header-cell *matHeaderCellDef translate> Last update: </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.updated}} </mat-cell>
  </ng-container>

  <!-- Created Column -->
  <ng-container matColumnDef="created">
    <mat-header-cell *matHeaderCellDef translate> Created At </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.created}} </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef translate> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
      <button mat-raised-button color="primary" (click)="view(element.id)" translate>View</button>
      <button mat-raised-button color="warn" (click)="delete(element.id)" translate>Delete</button>
      <button mat-raised-button color="accent" (click)="update(element.id)" translate>Edit</button>
    </mat-cell>
</ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator
[pageSize]="10"
[pageSizeOptions]="[5, 10, 20]"
[showFirstLastButtons]="true">
</mat-paginator>
</div>
