<mat-toolbar class="toolbar-title">
  <div [style.width]="'auto'" translate class="section-heading">mitigationAction.MAs</div>
</mat-toolbar>
<mat-divider class="divider-custom"></mat-divider>
<mat-divider class="divider-custom"></mat-divider>
<br />

<div *ngIf="loading" class="loading-component flex flex-col justify-center items-center">
  <mat-spinner color="accent"></mat-spinner>
  <h1 class="mat-h1" translate>general.loading</h1>
</div>
<div class="mat-elevation-z8 table-sinamecc bg-white">
  <mat-table #table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef translate> info.name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <!-- Strategy Name Column -->
    <ng-container matColumnDef="strategy_name">
      <mat-header-cell *matHeaderCellDef translate> mitigationAction.maType</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.type }}
      </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="fsm_state">
      <mat-header-cell *matHeaderCellDef translate> general.status</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.fsm_state.label }} </mat-cell>
    </ng-container>
    <!-- Updated Column -->
    <ng-container matColumnDef="updated">
      <mat-header-cell *matHeaderCellDef translate>general.lastUpdate </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.updated | date: 'dd/MM/yyyy hh:mm:ss' }} </mat-cell>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="created">
      <mat-header-cell *matHeaderCellDef translate> general.createdAt</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.created | date: 'dd/MM/yyyy hh:mm:ss' }} </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef translate>general.actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="view(element.id)">
          <mat-icon>visibility</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="edit(element.id)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="review(element.id)">
          <mat-icon>navigate_next</mat-icon>
        </button>

        <button
          *ngIf="hasPermProvider()"
          mat-icon-button
          color="warn"
          (click)="openDeleteConfirmationDialog(element.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <!-- <button mat-icon-button color="primary" (click)="uploadProposal(element.id)" > <mat-icon color="white">navigate_next</mat-icon></button> -->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row [ngClass]="row.fsm_state" *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
  </mat-paginator>
</div>
<br />
<div class="box-button" *ngIf="hasPermProvider() && !loading">
  <button mat-raised-button color="primary" type="button" routerLink="/mitigation/actions/new">
    <span translate>mitigationAction.addMA</span>
  </button>
</div>
