<div class="mat-typography flex flex-col justify-center items-center w-screen">
  <div class="login-box">
    <img class="logo" src="assets/logo-white.png" alt="angular logo" />
    <div class="flex flex-row justify-center items-center gap-8 my-4">
      <h4 class="version">v{{ version }}</h4>
      <div class="language-selector">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="languageMenu">
          {{ currentLanguage }}
        </button>
        <mat-menu #languageMenu="matMenu">
          <button mat-menu-item *ngFor="let language of languages" (click)="setLanguage(language)">
            {{ language }}
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div *ngIf="!forgotPassword" class="login-container flex flex-row justify-center">
    <mat-card class="login-box w-[90%] sm:w-[66%] md:w-[50%] lg:w-[33%] p-4">
      <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
        <div class="login-error" [hidden]="!error || isLoading" translate>credentialsSection.credentialsError</div>
        <br />
        <div class="flex flex-col">
          <mat-form-field class="login-label">
            <input
              type="text"
              matInput
              formControlName="username"
              autocomplete="username"
              [placeholder]="'Username' | translate"
            />
            <mat-error *ngIf="loginForm.controls.username.valid || loginForm.controls.username.untouched">
              <span translate>credentialsSection.usernameRequired</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="login-label">
            <input
              type="password"
              matInput
              formControlName="password"
              autocomplete="current-password"
              [placeholder]="'credentialsSection.password' | translate"
              required
            />
            <mat-error *ngIf="loginForm.controls.password.valid || loginForm.controls.password.untouched">
              <span translate>credentialsSection.passwordRequired</span>
            </mat-error>
          </mat-form-field>
          <mat-slide-toggle class="mb-4" color="primary" formControlName="remember"
            ><span translate>credentialsSection.remember</span></mat-slide-toggle
          >
          <br />
          <br />
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || isLoading">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span translate>credentialsSection.login</span>
          </button>
        </div>
      </form>
      <br />
      <div>
        <a class="mat-h5 custom-option-link" (click)="forgotPassword = !forgotPassword"
          ><span translate>credentialsSection.forgottenPassword</span></a
        >
      </div>
    </mat-card>
  </div>

  <div *ngIf="forgotPassword" class="login-container flex flex-row justify-center">
    <mat-card class="login-box recovery-password-section w-[90%] sm:w-[66%] md:w-[50%] lg:w-[33%] p-4">
      <h4 color="primary" translate>credentialsSection.forgotPassword</h4>
      <br />
      <br />
      <p translate>credentialsSection.recoveyPassword</p>
      <br />
      <mat-form-field class="login-label">
        <input
          #emailValue
          type="email"
          matInput
          [placeholder]="'info.emailAddress' | translate"
          (change)="candSendEmail = validateEmail($event.target.value)"
        />
      </mat-form-field>

      <br />
      <br />
      <button
        *ngIf="!sendEmail"
        [disabled]="!candSendEmail"
        (click)="sendEmailRestarPassword(emailValue.value)"
        mat-raised-button
        color="primary"
        type="submit"
      >
        <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
        <span translate>credentialsSection.sendLink</span>
      </button>

      <label *ngIf="sendEmail" translate class="mat-h3">specificLabel.resetPasswordText</label>
    </mat-card>
  </div>
</div>
