@use "@angular/material" as mat;
@import "src/theme/theme-variables";

:host {
  display: flex;
  flex: 1;
  height: 100vh;
  // background-color: #f5f5f5;
  background-image: url("../../assets/background-login.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans" !important, sans-serif;
  font-weight: 800;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.login-box.mat-card {
  background-color: rgba(#fff, 0.4);
}

.login-container,
.mat-form-field {
  width: 100%;
}

.login-error {
  color: mat.get-color-from-palette($app-warn);
}

.mat-card {
  color: #fff;
}

.custom-option-link {
  color: white;
  text-decoration: none;
}

.custom-option-link:hover {
  cursor: pointer;
}

.custom-input {
  border-radius: 7px;
  background: transparent;
  background: #ededed url("../../../node_modules/material-design-icons/communication/1x_web/ic_email_black_18dp.png")
    no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 350px;
  outline: none;
}

.custom-input:focus {
  background-color: #fff;
  border-color: rgb(102, 155, 204);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  outline: none;
}

.recovery-password-section {
  text-align: center;
}

.recovery-button {
  width: 350px;
}

.recovery-label {
  color: rgb(216, 216, 216);
  text-transform: none;
}
