<div class="container">
  <mat-card>
    <h1>
      <mat-card-title translate>APP_NAME</mat-card-title>
      <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
    </h1>
    <h3>
      <mat-card-title translate>specificLabel.selectOVVTitle</mat-card-title>
    </h3>
    <mat-card-content>
      <form (ngSubmit)="submitForm()" *ngIf="!isLoading" [formGroup]="form" novalidate>
        <div class="report-error" [hidden]="!error || isLoading" translate>
          <span translate>errorLabel.errorSubmittingForm</span>
        </div>
        <br />
        <div fxLayout="column">
          <h3>
            <span translate>info.code</span>:<span>{{ mccrRegistry?.id }}</span>
          </h3>
          <mat-form-field>
            <mat-select formControlName="ovvCtrl" [placeholder]="'OVV' | translate">
              <mat-option *ngFor="let ovv of ovvs" [value]="ovv.id">
                {{ ovv.email }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          <br />
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span translate>specificLabel.assignOvv</span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
