<div class="container">
  <mat-card>
    <h3>
      <mat-card-title>
        <span class="section-heading" translate>{{ title }}</span>
        <mat-divider class="divider-custom"></mat-divider>
        <mat-divider class="divider-custom"></mat-divider>
      </mat-card-title>
    </h3>

    <form [formGroup]="mainGroup">
      <!-- {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}} -->
      <mat-horizontal-stepper formArrayName="formArray" linear #stepper>
        <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
          <ng-template matStepLabel><span translate>specificLabel.registerInitiatives</span></ng-template>
          <app-initiative-form
            [newFormData]="newFormData"
            [processedNewFormData]="processedNewFormData"
            [isUpdating]="isUpdating"
            [action]="action"
          ></app-initiative-form>
          <div class="align-right">
            <app-generic-button
              [disabled]="!initiativeForm?.wasSubmittedSuccessfully"
              (click)="stepper.next()"
              name="general.next"
            ></app-generic-button>
          </div>
        </mat-step>

        <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
          <ng-template matStepLabel><span translate>info.financingInformation</span></ng-template>
          <app-basic-information-form
            [newFormData]="newFormData"
            [processedNewFormData]="processedNewFormData"
            [isUpdating]="isUpdating"
          >
          </app-basic-information-form>

          <div fxLayout="row">
            <div>
              <app-generic-button-secondary
                [disabled]="basicInfoForm?.wasSubmittedSuccessfully"
                type="button"
                (click)="stepper.previous()"
                name="general.back"
              ></app-generic-button-secondary>
            </div>
            <div>
              <app-generic-button
                [disabled]="!basicInfoForm?.wasSubmittedSuccessfully"
                (click)="stepper.next()"
                name="general.next"
              ></app-generic-button>
            </div>
          </div>
        </mat-step>

        <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
          <ng-template matStepLabel><span translate>general.keyAspects</span></ng-template>
          <app-key-aspects-form
            [newFormData]="newFormData"
            [processedNewFormData]="processedNewFormData"
            [isUpdating]="isUpdating"
          >
          </app-key-aspects-form>

          <div fxLayout="row">
            <div>
              <app-generic-button-secondary
                [disabled]="keyAspectsForm?.wasSubmittedSuccessfully"
                type="button"
                (click)="stepper.previous()"
                name="general.back"
              ></app-generic-button-secondary>
            </div>
            <div>
              <app-generic-button
                [disabled]="!keyAspectsForm?.wasSubmittedSuccessfully"
                (click)="stepper.next()"
                name="general.next"
              ></app-generic-button>
            </div>
          </div>
        </mat-step>

        <mat-step formGroupName="3" [stepControl]="formArray?.get([3])">
          <ng-template matStepLabel><span translate>specificLabel.mitigationEmissions</span></ng-template>
          <app-emissions-mitigation-form
            [newFormData]="newFormData"
            [processedNewFormData]="processedNewFormData"
            [isUpdating]="isUpdating"
          >
          </app-emissions-mitigation-form>

          <div fxLayout="row">
            <div fxLayout="row">
              <div>
                <app-generic-button-secondary
                  [disabled]="emissionsMitigationForm?.wasSubmittedSuccessfully"
                  type="button"
                  (click)="stepper.previous()"
                  name="general.back"
                ></app-generic-button-secondary>
              </div>
              <div>
                <app-generic-button
                  (click)="stepper.next()"
                  [disabled]="!emissionsMitigationForm?.wasSubmittedSuccessfully"
                  name="general.next"
                >
                </app-generic-button>
              </div>
            </div>
          </div>
        </mat-step>

        <mat-step formGroupName="4" [stepControl]="formArray?.get([4])">
          <ng-template matStepLabel><span translate>specificLabel.informationMonitoring</span></ng-template>
          <app-impact-form
            [newFormData]="newFormData"
            [processedNewFormData]="processedNewFormData"
            [isUpdating]="isUpdating"
          >
          </app-impact-form>

          <div class="align-right">
            <app-generic-button
              (click)="stepper.next()"
              [disabled]="impactForm?.wasSubmittedSuccessfully"
              name="general.next"
            ></app-generic-button>
          </div>
        </mat-step>

        <mat-step formGroupName="5" [stepControl]="formArray?.get([5])">
          <ng-template matStepLabel
            ><span translate>mitigationAction.monitoringReportingClimateActions</span>
          </ng-template>
          <app-reporting-climate-action-form
            [newFormData]="newFormData"
            [processedNewFormData]="processedNewFormData"
            [isUpdating]="isUpdating"
          ></app-reporting-climate-action-form>
        </mat-step>
      </mat-horizontal-stepper>
      <!-- <div class="margin-20">
            <div>form main group details:-</div>
            <pre>Is mainGroup valid?: <br />{{mainGroup.valid | json}}</pre>
            <pre>form value: <br />{{mainGroup.value | json}}</pre>

        </div> -->
    </form>
    <!-- </div> -->
  </mat-card>
</div>
