<div *ngIf="!isLoading" class="container-custom">
  <mat-card>
    <div class="w-full flex flex-col content-center justify-center">
      <h3 class="mb-4 mt-4 text-center">
        <span class="section-heading" translate>{{ title }}</span>
      </h3>
      <mat-divider class="divider-custom"></mat-divider>
      <mat-divider class="divider-custom"></mat-divider>
    </div>

    <form [formGroup]="mainGroup">
      <!-- {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}} -->
      <mat-horizontal-stepper formArrayName="formArray" linear #stepper>
        <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
          <ng-template matStepLabel><span translate>specificLabel.registerInitiatives</span></ng-template>
          <app-initiative-form
            [newFormData]="newFormData"
            [processedNewFormData]="processedNewFormData"
            [isUpdating]="isUpdating"
            [stepper]="stepper"
            [action]="action"
          ></app-initiative-form>
        </mat-step>

        <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
          <ng-template matStepLabel><span translate>info.financingInformation</span></ng-template>
          <app-basic-information-form
            [newFormData]="newFormData"
            [stepper]="stepper"
            [processedNewFormData]="processedNewFormData"
            [isUpdating]="isUpdating"
          >
          </app-basic-information-form>

          <div class="flex flex-row">
            <div>
              <app-generic-button-secondary
                [disabled]="basicInfoForm?.wasSubmittedSuccessfully"
                type="button"
                (click)="stepper.previous()"
                name="general.back"
              ></app-generic-button-secondary>
            </div>
            <div>
              <button
                [disabled]="!basicInfoForm?.wasSubmittedSuccessfully"
                (click)="stepper.next()"
                matRipple
                class="primary-button"
              >
                <span translate>general.next</span>
              </button>
            </div>
          </div>
        </mat-step>

        <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
          <ng-template matStepLabel><span translate>general.keyAspects</span></ng-template>
          <app-key-aspects-form
            [stepper]="stepper"
            [newFormData]="newFormData"
            [processedNewFormData]="processedNewFormData"
            [isUpdating]="isUpdating"
          >
          </app-key-aspects-form>

          <div class="flex flex-row">
            <div>
              <app-generic-button-secondary
                [disabled]="keyAspectsForm?.wasSubmittedSuccessfully"
                type="button"
                (click)="stepper.previous()"
                name="general.back"
              ></app-generic-button-secondary>
            </div>
            <div>
              <button
                [disabled]="!keyAspectsForm?.wasSubmittedSuccessfully"
                (click)="stepper.next()"
                matRipple
                class="primary-button"
              >
                <span translate>general.next</span>
              </button>
            </div>
          </div>
        </mat-step>

        <mat-step formGroupName="3" [stepControl]="formArray?.get([3])">
          <ng-template matStepLabel><span translate>specificLabel.mitigationEmissions</span></ng-template>
          <app-emissions-mitigation-form
            [newFormData]="newFormData"
            [processedNewFormData]="processedNewFormData"
            [isUpdating]="isUpdating"
            [stepper]="stepper"
          >
          </app-emissions-mitigation-form>

          <div class="flex flex-row">
            <div class="flex flex-row">
              <div>
                <app-generic-button-secondary
                  [disabled]="emissionsMitigationForm?.wasSubmittedSuccessfully"
                  type="button"
                  (click)="stepper.previous()"
                  name="general.back"
                ></app-generic-button-secondary>
              </div>
              <div>
                <button
                  [disabled]="!emissionsMitigationForm?.wasSubmittedSuccessfully"
                  (click)="stepper.next()"
                  matRipple
                  class="primary-button"
                >
                  <span translate>general.next</span>
                </button>
              </div>
            </div>
          </div>
        </mat-step>

        <mat-step formGroupName="4" [stepControl]="formArray?.get([4])">
          <ng-template matStepLabel><span translate>specificLabel.informationMonitoring</span></ng-template>
          <app-impact-form
            [newFormData]="newFormData"
            [processedNewFormData]="processedNewFormData"
            [isUpdating]="isUpdating"
            [stepper]="stepper"
          >
          </app-impact-form>

          <div class="align-right">
            <button
              [disabled]="!impactForm?.wasSubmittedSuccessfully"
              (click)="stepper.next()"
              matRipple
              class="primary-button"
            >
              <span translate>general.next</span>
            </button>
          </div>
        </mat-step>

        <mat-step formGroupName="5" [stepControl]="formArray?.get([5])">
          <ng-template matStepLabel
            ><span translate>mitigationAction.monitoringReportingClimateActions</span>
          </ng-template>
          <app-reporting-climate-action
            [newFormData]="newFormData"
            [processedNewFormData]="processedNewFormData"
            [isUpdating]="isUpdating"
          ></app-reporting-climate-action>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </mat-card>
</div>

<div *ngIf="isLoading" class="loading-component flex flex-col justify-center items-center">
  <mat-spinner color="accent"></mat-spinner>
  <h1 class="mat-h1" translate>general.loading</h1>
</div>
