<div class="flex flex-row xl:flex-col items-start xl:justify-center justify-between space-y-2 w-full">
  <input hidden type="file" [accept]="accept" [name]="type" #fileInput (change)="fileChanged($event)" multiple />
  <button
    [disabled]="loading"
    class="primary-button flex flex-row gap-1"
    type="button"
    matRipple
    color="primary"
    (click)="fileInput.click()"
  >
    <mat-progress-spinner
      *ngIf="loading"
      diameter="18"
      mode="indeterminate"
      color="accent"
      style="vertical-align: middle"
    ></mat-progress-spinner>
    <span translate>general.fileUpload</span>
  </button>
  <div class="flex flex-col items-start justify-between">
    <div *ngFor="let file of filesToShow" class="flex items-center justify-end xl:justify-start space-x-2">
      <mat-icon color="primary">attach_file</mat-icon>
      <span class="truncate w-40 xl:w-20">{{ file.metadata ? file.metadata.filename : file.name }}</span>
      <mat-icon *ngIf="file.metadata; else" class="cursor-pointer" color="warn" (click)="removeFile(file)" type="button"
        >close</mat-icon
      >
    </div>
  </div>
</div>
