<div class="flex flex-row xl:flex-col items-start xl:justify-center justify-between space-y-2 w-full">
  <input hidden type="file" [accept]="accept" [name]="type" #fileInput (change)="fileChanged($event)" multiple />
  <button class="primary-button" type="button" matRipple color="primary" (click)="fileInput.click()">
    <span translate>general.fileUpload</span>
  </button>
  <div *ngIf="files && files.length > 0" class="flex flex-col items-start justify-between">
    <div *ngFor="let file of files" class="flex items-center space-x-2">
      <mat-icon color="primary">attach_file</mat-icon>
      <span class="truncate w-40 xl:w-20">{{ file.name }}</span>
      <mat-icon class="cursor-pointer" color="warn" (click)="removeFile(file)" type="button">close</mat-icon>
    </div>
  </div>
</div>
