<div class="container">
  <mat-card-content>
    <form *ngIf="newFormData | async"  [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="form-error" [hidden]="!error || isLoading" translate>
        <span translate>errorLabel.errorSubmittingForm</span>
      </div>
      <br />
      <div fxLayout="column">

        <mat-vertical-stepper formArrayName="formArray" linear>
          <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
            <ng-template matStepLabel>
              <span translate>info.basicInfo</span>
            </ng-template>

            <h3>
              <span translate>info.code</span>:<span>{{mitigationAction?.id}}</span>
            </h3>

            <mat-form-field class="field-ppcn">
              <mat-label translate>general.program</mat-label>
              <input matInput formControlName="programCtrl">
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="field-ppcn">
              <mat-label translate>specificLabel.mitigationInitiativeName</mat-label>
              <input matInput formControlName="nameCtrl">
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn">
              <mat-select formControlName="entityCtrl" [placeholder]="'specificLabel.entityInstitution' | translate">
                <mat-option *ngFor="let institution of processedNewFormData.institutions" [value]="institution.id">
                  {{ institution.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br/>
            <div class="box-button">
              <button type="button" mat-button matStepperNext class="mat-raised-button mat-primary customSinameccButton">
                <span translate>general.next</span>
                <mat-icon color="white">arrow_forward</mat-icon>
              </button>
            </div>
          </mat-step>

          <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">

            <ng-template matStepLabel>
              <div translate>info.contactInfo</div>
            </ng-template>

            <mat-form-field class="field-ppcn">
              <mat-label translate>info.name</mat-label>
              <input matInput formControlName="contactNameCtrl">
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="field-ppcn">
              <mat-label translate>general.position</mat-label>
              <input matInput formControlName="positionCtrl">
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn">
              <mat-label translate>info.emailAddress</mat-label>
              <input matInput formControlName="emailFormCtrl">
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn">
              <mat-label translate>info.phone</mat-label>
              <input matInput formControlName="phoneCtrl" type="tel">
              <mat-error translate> errorLabel.inputOrLengthIncorrect</mat-error>
            </mat-form-field>
            <br />
            <br />

            <div class="box-button">
              <button type="button" mat-button matStepperPrevious >
                <mat-icon color="white">arrow_back</mat-icon>
                <span translate>general.back</span>
              </button>
              <button type="button" mat-button matStepperNext class="mat-raised-button mat-primary customSinameccButton">
                <span translate>general.next</span>
                <mat-icon color="white">arrow_forward</mat-icon>
              </button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel> <span translate> specificLabel.confirmInformation </span></ng-template>
            
            <div *ngIf="form.valid; else elseBlock" translate>specificLabel.everythingCorrect</div>
            
            <ng-template #elseBlock translate>Check the form for any errors marked in red</ng-template>
            <div class="align-right">
              <button class="customSinameccButton" mat-raised-button type="submit" color="primary" [disabled]="wasSubmittedSuccessfully"><span translate>general.done</span></button>
            </div>
          </mat-step>

        </mat-vertical-stepper>

      </div>
    </form>
  </mat-card-content>
</div>
