<div class="container">
  <mat-card-content>
    <form *ngIf="newFormData | async" [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="report-error" [hidden]="!error || isLoading || !errorComponent.showErrors" translate>
        <span translate>errorLabel.errorSubmittingForm</span>
        <br />
        <app-error-reporting #errorComponent></app-error-reporting>
      </div>
      <br />
      <div fxLayout="column">
        <mat-vertical-stepper formArrayName="formArray" linear #stepper>
          <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
            <ng-template matStepLabel>
              <span translate>info.financingInformation</span>
            </ng-template>

            <h3>
              <span translate>info.code</span>:<span>{{ mitigationAction?.id }}</span>
            </h3>

            <span translate>mitigationAction.financingStatus</span><br /><br />
            <mat-radio-group style="display: flex;flex-direction: column;" formControlName="programCtrl">
              <mat-radio-button style=" margin: 5px;"
                [value]="1">
                Asegurado
              </mat-radio-button>
              <mat-radio-button style=" margin: 5px;"
                [value]="2">
                Por obtener
              </mat-radio-button>
            </mat-radio-group>
            <br />

            <mat-form-field class="field-ppcn">
            <mat-label translate>mitigationAction.stepsTakingToFinancing</mat-label>
            <textarea matInput 
                matTextareaAutosize
                matAutosizeMinRows="2" 
                matAutosizeMaxRows="20" 
                formControlName="stepsTakingToFinancingCtrl" ></textarea>
            <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>

            <span translate>mitigationAction.detailfinancingSource</span><br /><br />
            <mat-radio-group style="display: flex;flex-direction: column;" formControlName="detailfinancingSourceCtrl">
              <mat-radio-button style=" margin: 5px;"
                [value]="1">
                Presupuesto público
              </mat-radio-button>
              <mat-radio-button style=" margin: 5px;"
                [value]="2">
                Financiamiento privado
              </mat-radio-button>
              <mat-radio-button style=" margin: 5px;"
                [value]="3">
                Proyecto de cooperación internacional
              </mat-radio-button>
              <mat-radio-button style=" margin: 5px;"
                [value]="4">
                Préstamo
              </mat-radio-button>
              <mat-radio-button style=" margin: 5px;"
                [value]="5">
                Por definir
              </mat-radio-button>
            </mat-radio-group>
            <br />

            <mat-form-field class="field-ppcn">
            <mat-label translate>mitigationAction.financingSourceApplying</mat-label>
            <textarea matInput 
                matTextareaAutosize
                matAutosizeMinRows="2" 
                matAutosizeMaxRows="20" 
                formControlName="financingSourceApplyingCtrl" ></textarea>
            <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />
            <br />

             <div fxLayout="row">
                <div [style.margin-right]="'10px'">
                  <mat-button-toggle-group name="fontStyle">
                    <mat-button-toggle value="CRC">CRC</mat-button-toggle>
                    <mat-button-toggle value="USD">USD</mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
                <mat-form-field [style.margin-right]="'10px'" [style.width.%]="100"  class="ppcn-field">
                  <mat-label translate>mitigationAction.mitigationActionBudget</mat-label>
                  <input type="number" matInput formControlName="mitigationActionBudgetCtrl" required />
                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>

                <mat-form-field [style.width.%]="100"  class="ppcn-field">
                  <mat-label translate>mitigationAction.referenceYear</mat-label>
                  
                  <input matInput
                  [placeholder]="'Choose a date' | translate"
                  [matDatepicker]="implementationBudgetDatePicker"
                  formControlName="referenceYearCtrl" />

                  <mat-datepicker-toggle matSuffix [for]="implementationBudgetDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #implementationBudgetDatePicker startView="year" [startAt]="startDate"></mat-datepicker>

                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>
            </div>

            <br />
            <div class="box-button">
              <app-generic-button (click)="stepper.next()" name="general.next"></app-generic-button>
            </div>
          </mat-step>

          <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
            <ng-template matStepLabel>
              <div translate>mitigationAction.financedSourcesInternationalCooperation</div>
            </ng-template>
            <br />

            <span translate>mitigationAction.registeredNonReimbursableCooperationMideplan</span><br /><br />
            <mat-radio-group #registeredNonReimbursableCooperationMideplan="matRadioGroup" style="display: flex;flex-direction: column;" formControlName="registeredNonReimbursableCooperationMideplanCtrl">
              <mat-radio-button style=" margin: 5px;"
                [value]="1">
                Si
              </mat-radio-button>
              <mat-radio-button style=" margin: 5px;"
                [value]="2">
                No
              </mat-radio-button>
            </mat-radio-group>
            <br />

            <mat-form-field *ngIf="registeredNonReimbursableCooperationMideplan.value == '1'" class="field-ppcn">
              <mat-label translate>mitigationAction.nameRegisteredMideplan</mat-label>
              <input  matInput  />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>

             <br />

            <mat-form-field  class="field-ppcn">
              <mat-label translate>mitigationAction.entityProject</mat-label>
              <input formControlName="entityProjectCtrl"  matInput  />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
           

            <div class="box-button">
              <app-generic-button-secondary type="button" (click)="stepper.previous()" name="general.back">
              </app-generic-button-secondary>
              <app-generic-button (click)="stepper.next()" name="general.next"></app-generic-button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel> <span translate> specificLabel.confirmInformation </span></ng-template>

            <div *ngIf="form.valid; else elseBlock" translate>specificLabel.everythingCorrect</div>

            <ng-template #elseBlock translate>Check the form for any errors marked in red</ng-template>
            <div class="align-right">
              <app-generic-button type="submit" [disabled]="wasSubmittedSuccessfully" name="general.done">
              </app-generic-button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </form>
  </mat-card-content>
</div>
