<div class="container">
  <mat-card>
    <h3>
      <mat-card-title class="section-heading" translate>admin.users</mat-card-title>
      <mat-divider class="divider-custom"></mat-divider>
      <mat-divider class="divider-custom"></mat-divider>
    </h3>
    <br />
    <app-custom-search-bar [fieldsToSearch]="fieldsToSearch" [table]="dataSource"></app-custom-search-bar>
    <br />
    <mat-card-content>
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef translate
            >{{ 'credentialsSection.username' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.username }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef translate>admin.email</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.email }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="roles">
          <mat-header-cell *matHeaderCellDef translate>admin.assignedRoles</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.joinedRoles }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef translate>admin.action </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="openUserDetail(element)">
              <mat-icon color="white">visibility</mat-icon>
            </button>
            <button disabled mat-icon-button color="warn" (click)="openDeleteConfirmationDialog()">
              <mat-icon color="white">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"> </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
<div class="box-button">
  <app-generic-button routerLink="new" name="admin.createUser"></app-generic-button>
</div>
