<div class="container">
  
      <mat-card>

            <h3>
                <mat-card-title class="section-heading" translate>admin.users</mat-card-title>
                <mat-divider class="divider-custom"></mat-divider>
                <mat-divider class="divider-custom"></mat-divider>
            </h3>

            <div class="box-button">
                <a mat-button class="mat-raised-button mat-primary" routerLink="new">
                  <span translate>admin.createUser</span>
                </a>
            </div>
        
        <mat-card-content>

            <mat-table  #table [dataSource]="dataSource" >

                <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef translate>{{ 'credentialsSection.username' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef translate>admin.email</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="is_active">
                    <mat-header-cell *matHeaderCellDef translate>admin.active</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <mat-checkbox disabled [checked]="element.is_active"></mat-checkbox>
                    </mat-cell>
                    
                </ng-container>

                <ng-container matColumnDef="is_provider">
                    <mat-header-cell *matHeaderCellDef translate>admin.provider</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-checkbox disabled [checked]="element.is_provider"></mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="is_administrador_dcc">
                    <mat-header-cell *matHeaderCellDef translate>DCC Administrator</mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <mat-checkbox disabled [checked]="element.is_administrador_dcc"></mat-checkbox>  
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef translate>admin.action </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <button mat-icon-button color="primary" (click)="openUserDetail(element)"><mat-icon color="white">visibility</mat-icon></button>
                        <button disabled mat-icon-button color="warn" (click)="openDeleteConfirmationDialog()"><mat-icon color="white">delete</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>

            <mat-paginator 
                        [pageSize]="5"
                        [pageSizeOptions]="[5, 10, 20]"
                        [showFirstLastButtons]="true">
            </mat-paginator>

        </mat-card-content>

      </mat-card>



</div>
