.custom-radio-group {
  padding: 1em;

  mat-radio-button {
    margin-right: 0.3em;
  }
}

.button-box {
  width: 100%;
}

.header-container {
  margin-bottom: 2em;
}

.max-container {
  width: 100%;
}

.finance-container {
  width: 100%;
}
