<br />
<div class="flex flex-row items-center justify-between">
  <span>{{ errorMessage | translate }}</span>
  <button mat-icon-button (click)="showErrors = false" class="custom-button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="mat-elevation-z2 error-container">
  <mat-list role="list">
    <mat-list-item *ngFor="let error of errorToShow" role="listitem">
      <mat-icon class="custom-icon">error</mat-icon><span translate>{{ error }}</span>
    </mat-list-item>
  </mat-list>
</div>
<br />
