<mat-card>
  <h3>
    <mat-card-title class="section-heading" translate>admin.groups</mat-card-title>
    <mat-divider class="divider-custom"></mat-divider>
    <mat-divider class="divider-custom"></mat-divider>
  </h3>
  <mat-card-content>
    <div class="container-custom mat-elevation-z8 table-sinamecc">
      <div>
        <mat-form-field>
          <input matInput #searchGroup placeholder="{{ 'admin.searchGroups' | translate }}" />
        </mat-form-field>
        <button mat-icon-button (click)="searchByName(searchGroup.value)">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <div *ngIf="!data || dataTable">
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef translate> admin.groupName </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.label }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef translate> admin.action </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button
                *ngIf="componentType === 'delete'"
                (click)="removePermissions(element)"
                mat-icon-button
                color="warn"
              >
                <mat-icon color="white">delete</mat-icon>
              </button>
              <button *ngIf="componentType === 'add'" mat-icon-button color="primary" (click)="addPermissions(element)">
                <mat-icon color="white">add</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsGroups"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsGroups"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
        </mat-paginator>

        <button
          (onHide)="close()"
          [mat-dialog-close]="removeGroupsList"
          *ngIf="componentType == 'delete'"
          (click)="close()"
          mat-icon-button
          color="primary"
        >
          Back
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
