@use "@angular/material" as mat;
@use "src/theme/theme-variables" as *;

.report-error {
  color: mat.m2-get-color-from-palette($app-warn);
}

/* stylelint-disable */
input[type="file"] {
  display: none;
}

/* stylelint-enable */

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 10px;
}

.custom-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.custom-container-image-section {
  margin: 0 auto;
}

.custom-upload-file {
  margin-right: 5px;
  margin-top: 10px;
}
