<div (click)="$event.stopPropagation()">
  <mat-form-field appearance="fill">
    <mat-label translate>general.fields</mat-label>
    <mat-select multiple #fieldsOrganizationInformation>
      <mat-option *ngFor="let field of fieldsModule" [value]="field">{{field | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label translate>general.commentary</mat-label>
    <textarea #commentOrganizationInformation matInput placeholder="You comment here"></textarea>
  </mat-form-field>
</div>
<br />
<div fxLayout="row" fxLayoutAlign="center none">
  <button mat-button color="primary"><span translate>general.cancel</span></button>
  <button mat-raised-button (click)="createComment(fieldsOrganizationInformation.value,commentOrganizationInformation.value)" color="primary"><span translate>general.comment</span></button>
</div>