<div class="container-custom">
  <div class="header-container flex flex-col justify-center items-center">
    <h2 translate>specificLabel.mitigationEmissions</h2>
  </div>
  <h1>{{ mitigationAction?.code }}</h1>
  <mat-card-content>
    <form *ngIf="newFormData | async" [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="report-error" [hidden]="!error || isLoading || !errorComponent.showErrors" translate>
        <app-error-reporting #errorComponent [errorMessage]="'errorLabel.errorSubmittingForm'"></app-error-reporting>
      </div>

      <br />
      <div class="flex flex-col">
        <mat-vertical-stepper formArrayName="formArray" linear #stepper>
          <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
            <ng-template matStepLabel>
              <span>4.1 - </span><span translate>specificLabel.documentationImpactEstimate</span>
            </ng-template>

            <br />
            <mat-form-field class="field-ppcn">
              <mat-label translate>4.1.1 - <span translate>specificLabel.exAnteEmissionReductions</span></mat-label>
              <input matInput formControlName="exAnteEmissionReductionsCtrl" />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn">
              <mat-label translate
                >4.1.1.1 - <span translate>mitigationAction.periodPotentialEmissionReductionEstimated</span></mat-label
              >
              <input matInput formControlName="periodPotentialEmissionReductionEstimatedCtrl" />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <div class="finance-container flex flex-col justify-start items-start" formArrayName="sectorSourceFCtrl">
              <div
                class="max-container"
                *ngFor="
                  let element of form.controls.formArray['controls'][0].controls['sectorSourceFCtrl'].controls;
                  let i = index
                "
              >
                <mat-card class="sub-container flex flex-col justify-start items-start" [formGroupName]="i">
                  <mat-form-field class="field-ppcn custom-field">
                    <mat-label translate
                      >4.1.2.1 - <span translate>mitigationAction.sectorSourceEmissions</span></mat-label
                    >
                    <mat-select
                      (selectionChange)="selectSectorCatalog($event.value, i)"
                      formControlName="sectorSourceEmissionsCtrl"
                    >
                      <mat-option *ngFor="let sector of sectorCatalog" [value]="sector.id">
                        {{ sector.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="field-ppcn">
                    <mat-label translate
                      >4.1.2.2 - <span translate>mitigationAction.emissionsSourceCategory</span></mat-label
                    >
                    <mat-select
                      (selectionChange)="selectSectorIppcCatalog($event.value, i)"
                      formControlName="emissionsSourceCategoryCtrl"
                    >
                      <mat-option *ngFor="let sector of sectorIppc2006[i]" [value]="sector.id">
                        {{ sector.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="field-ppcn">
                    <mat-label translate>4.1.2.3 - <span translate>mitigationAction.maincategories</span></mat-label>
                    <mat-select formControlName="maincategoriesCtrl">
                      <mat-option *ngFor="let category of categoryIppc2006[i]" [value]="category.id">
                        {{ category.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div class="box-button">
                    <button
                      mat-mini-fab
                      color="warn"
                      *ngIf="form.controls.formArray['controls'][0].controls['sectorSourceFCtrl'].controls.length > 1"
                      (click)="removeSectorItem(i)"
                      type="button"
                    >
                      <mat-icon>delete forever</mat-icon>
                    </button>
                  </div>
                </mat-card>
              </div>

              <div class="box-button">
                <button (click)="addSectorItem()" type="button" matRipple class="primary-button">
                  <span translate>general.addRelationships</span>
                </button>
              </div>
            </div>

            <mat-form-field class="field-ppcn">
              <mat-label translate>4.1.3 - <span translate>mitigationAction.coveredGas</span></mat-label>
              <mat-select
                #isourcesEmissionsGasesCoveredValue
                formControlName="periodPotentialEmissionReductionEstimatedOtherCtrl"
                multiple
              >
                <mat-option *ngFor="let element of gasList" [value]="element">
                  {{ element }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <br />
            <mat-form-field class="field-ppcn">
              <mat-label translate>4.1.4 - <span translate>mitigationAction.carbonSinksReservoirs</span></mat-label>
              <mat-select formControlName="carbonSinksReservoirsCtrl" multiple>
                <mat-option
                  *ngFor="let carbonDeposit of processedNewFormData?.carbon_deposit"
                  [value]="carbonDeposit.id"
                >
                  {{ carbonDeposit.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br />
            <mat-form-field class="field-ppcn">
              <mat-label translate>4.1.5 - <span translate>mitigationAction.definitionBaseline</span></mat-label>
              <input matInput formControlName="definitionBaselineCtrl" />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="field-ppcn">
              <mat-label translate
                >4.1.6 -
                <span translate>mitigationAction.methodologyExantePotentialReductionEmissionsCO2</span></mat-label
              >
              <input matInput formControlName="methodologyExantePotentialReductionEmissionsCO2Ctrl" />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <div class="flex flex-row justify-center">
              <mat-form-field class="field-ppcn">
                <mat-label translate
                  >4.1.7 -
                  <span translate
                    >mitigationAction.documentationCalculationsEstimateReductionEmissionsCO2</span
                  ></mat-label
                >
                <input matInput formControlName="documentationCalculationsEstimateReductionEmissionsCO2Ctrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>
              <app-upload-button
                accept="zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed,application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,application/msword,"
                name="impact-documentation"
                (fileChange)="uploadFile($event)"
              />
              <br />
            </div>

            <mat-form-field class="field-ppcn">
              <mat-label translate
                >4.1.8 - <span translate>mitigationAction.isCurrentlyReflectedInventory</span></mat-label
              >
              <mat-select formControlName="isCurrentlyReflectedInventoryCtrl">
                <mat-option [value]="1">
                  <label translate>general.yes</label>
                </mat-option>

                <mat-option [value]="2"> No</mat-option>
                <mat-option [value]="3"> No está seguro</mat-option>
              </mat-select>
            </mat-form-field>
            <br />

            <div class="box-button">
              <button type="button" matRipple (click)="stepper.next()" class="primary-button">
                <span translate>general.next</span>
              </button>
            </div>
          </mat-step>

          <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
            <ng-template matStepLabel>
              <span>4.2 - </span><span translate>mitigationAction.QA/QCEestimate</span>
            </ng-template>
            <br />

            <div class="flex flex-col">
              <mat-form-field>
                <mat-label translate
                  >4.2.1 - <span translate>mitigationAction.standardizedCalculationMethodologyUsed</span></mat-label
                >
                <mat-select formControlName="standardizedCalculationMethodologyUsedCtrl">
                  <mat-option [value]="true" translate><span translate>general.yes</span></mat-option>
                  <mat-option [value]="false">No</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field [style.margin-right]="'10px'" [style.width.%]="100" class="ppcn-field">
                <mat-label translate> 4.2.1 - <span translate>general.detail</span> </mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="standardizedCalculationMethodologyUsedDetailCtrl"
                  required
                />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>
            </div>
            <br />
            <div class="flex flex-col">
              <mat-form-field>
                <mat-label translate>4.2.2 - <span translate>mitigationAction.calculationsDocumented</span></mat-label>
                <mat-select formControlName="calculationsDocumentedCtrl">
                  <mat-option [value]="true" translate><span translate>general.yes</span></mat-option>
                  <mat-option [value]="false">No</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field [style.margin-right]="'10px'" [style.width.%]="100" class="ppcn-field">
                <mat-label translate>4.2.2 - <span translate>general.detail</span></mat-label>
                <input type="text" matInput formControlName="calculationsDocumentedDetailCtrl" required />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>
            </div>
            <br />
            <div class="flex flex-col">
              <mat-form-field>
                <mat-label translate
                  >4.2.3 - <span translate>mitigationAction.emissionFactorsUsedCalculationDocumented</span></mat-label
                >
                <mat-select formControlName="emissionFactorsUsedCalculationDocumentedCtrl">
                  <mat-option [value]="true" translate><span translate>general.yes</span></mat-option>
                  <mat-option [value]="false">No</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field [style.margin-right]="'10px'" [style.width.%]="100" class="ppcn-field">
                <mat-label translate>4.2.3 - <span translate>general.detail</span></mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="emissionFactorsUsedCalculationDocumentedDetailCtrl"
                  required
                />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>
            </div>
            <br />
            <div class="flex flex-col">
              <mat-form-field>
                <mat-label translate>4.2.4 - <span translate>mitigationAction.assumptionsDocumented</span></mat-label>
                <mat-select formControlName="assumptionsDocumentedCtrl">
                  <mat-option [value]="true" translate><span translate>general.yes</span></mat-option>
                  <mat-option [value]="false">No</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field [style.margin-right]="'10px'" [style.width.%]="100" class="ppcn-field">
                <mat-label translate>4.2.4 - <span translate>general.detail</span></mat-label>
                <input type="text" matInput formControlName="assumptionsDocumentedDetailCtrl" required />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>
            </div>
            <br />

            <div class="box-button">
              <button type="button" matRipple (click)="stepper.next()" class="primary-button">
                <span translate>general.next</span>
              </button>
            </div>
          </mat-step>

          <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
            <ng-template matStepLabel>
              <span>4.3 - </span><span translate>mitigationAction.marketParticipation</span>
            </ng-template>
            <br />

            <mat-form-field class="field-ppcn">
              <mat-label translate
                >4.3.1 - <span translate>mitigationAction.intendParticipateInternationalCarbonMarkets</span></mat-label
              >
              <mat-select
                [(ngModel)]="intendParticipateInternationalCarbonMarketsModel"
                formControlName="intendParticipateInternationalCarbonMarketsCtrl"
                (selectionChange)="setLastSectionValidations($event.value)"
              >
                <mat-option [value]="true">
                  <label translate>general.yes</label>
                </mat-option>

                <mat-option [value]="false"> No</mat-option>
              </mat-select>
            </mat-form-field>

            <br />
            <div *ngIf="intendParticipateInternationalCarbonMarketsModel">
              <mat-form-field class="field-ppcn">
                <mat-label translate
                  >4.3.1.1 - <span translate>mitigationAction.mechanismStandardApply</span></mat-label
                >
                <mat-select [(ngModel)]="mechanismStandardApplyModel" formControlName="mechanismStandardApplyCtrl">
                  <!-- This options will remplace for a catalog, waiting BE-->
                  <mat-option [value]="1"> Mecanismo de Desarrollo Limpio (MDL) </mat-option>

                  <mat-option [value]="2"> Verified Carbon Standard (VERRA) </mat-option>
                  <mat-option [value]="3"> The Gold Standard (GS) </mat-option>

                  <mat-option [value]="4"> Joint Crediting Mechanism (JCM) </mat-option>
                  <mat-option [value]="5"> Forest Carbon Partnership Facility (FCPF) - REDD+ </mat-option>

                  <mat-option [value]="6"> Otro </mat-option>
                </mat-select>
              </mat-form-field>
              <br />
              <div *ngIf="mechanismStandardApplyModel === 6">
                <mat-form-field class="field-ppcn">
                  <mat-label translate>4.3.1.1 - <span translate>general.other</span></mat-label>
                  <input matInput formControlName="methodologyExantePotentialReductionEmissionsCO2OtherCtrl" />
                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>
                <br />
              </div>

              <mat-form-field class="field-ppcn">
                <mat-label translate>4.3.1.2 - <span translate>mitigationAction.methodologyUsed</span></mat-label>
                <input matInput formControlName="methodologyUsedCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
                <mat-hint
                  >Se recomienda consultar el siguiente documento con referencias de metodologías estándar del Mecanismo
                  de Desarrollo Limpio,
                  <a target="_blank" href="https://drive.google.com/file/d/1ikG7D_iUVtBjfcEZhDc677oijhEQ2Mmd/view"
                    >Link</a
                  >
                </mat-hint>
              </mat-form-field>
              <br />
            </div>
            <div class="box-button">
              <button type="button" matRipple (click)="stepper.next()" class="primary-button">
                <span translate>general.next</span>
              </button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel> <span translate> specificLabel.confirmInformation </span></ng-template>

            <div *ngIf="form.valid; else elseBlock" translate>specificLabel.everythingCorrect</div>

            <ng-template #elseBlock translate>Check the form for any errors marked in red</ng-template>
            <div class="align-right">
              <button [disabled]="wasSubmittedSuccessfully" type="submit" matRipple class="primary-button">
                <span translate>general.done</span>
              </button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </form>
  </mat-card-content>
</div>
