.tg {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #9abad9;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 13px 13px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #9abad9;
  color: #444;
  background-color: #ebf5ff;
}

.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 13px 13px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  word-break: normal;
  border-color: #9abad9;
  color: #fff;
  background-color: #409cff;
}

.tg .tg-qv16 {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}

.tg .tg-jmxk {
  background-color: #ebf5ff;
  text-align: left;
  vertical-align: top;
}

.custom-imput {
  width: 100%;
  border: none;
  background-color: transparent;
  border-color: transparent;
}

.custom-height-matrix-first-section {
  height: 30px;
}

.custom-height-matrix-second-section {
  height: 80px;
}

.custom-height-matrix-third-section {
  height: 50px;
}

.custom-height-matrix-fourth-section {
  height: 50px;
  width: 90px;
}
