<div class="container">
  <div class="header-container" fxLayout="column" fxLayoutAlign="center center">
    <h2 translate>adaptationAction.form5.title</h2>
  </div>
  <form [formGroup]="form">
    <mat-vertical-stepper #stepper linear formArrayName="formArray">
      <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
        <ng-template matStepLabel>
          <span translate>mitigationAction.monitoringProgressLog</span>
        </ng-template>

        <span translate>adaptationAction.form4.statusReportingPeriod</span>
        <mat-radio-group
          #actionStatusCorrespondingReportingPeriodControl="matRadioGroup"
          formControlName="actionStatusCorrespondingReportingPeriodCtrl"
          class="custom-radio-group"
        >
          <mat-radio-button value="1">
            <label translate>No iniciada</label>
          </mat-radio-button>
          <mat-radio-button value="2">
            <label translate>Iniciada</label>
          </mat-radio-button>
          <mat-radio-button value="3">
            <label translate>Finalizada</label>
          </mat-radio-button>
        </mat-radio-group>
        <br />
        <br />

        <span translate>adaptationAction.form4.progressMonitoringClimateAction</span>
        <mat-radio-group
          #progressMonitoringRecordedClimateActionsControl="matRadioGroup"
          formControlName="progressMonitoringRecordedClimateActionsCtrl"
          class="custom-radio-group"
        >
          <mat-radio-button [value]="1">
            <label translate>general.yes</label>
          </mat-radio-button>
          <mat-radio-button [value]="2">
            <label translate>No</label>
          </mat-radio-button>
        </mat-radio-group>

        <div fxLayout="row" class="button-box" fxLayoutAlign="end center">
          <app-generic-button
            (change)="changeMonitoring($event.value)"
            [disabled]="formArray?.get([0]).invalid"
            (click)="clickNext(stepper, progressMonitoringRecordedClimateActionsControl.value)"
            name="general.next"
          ></app-generic-button>
        </div>
      </mat-step>

      <mat-step
        *ngIf="progressMonitoringRecordedClimateActionsControl.value == 1"
        formGroupName="1"
        [stepControl]="formArray?.get([1])"
      >
        <ng-template matStepLabel>
          <span translate>mitigationAction.indicatorMonitoring</span>
        </ng-template>

        <mat-form-field class="field-ppcn">
          <mat-select
            formControlName="indicatorsCtrl"
            [placeholder]="'adaptationAction.form5.selectIndicador' | translate"
          >
            <mat-option [value]="1">
              {{ adaptationAction?.indicator?.name ? adaptationAction.indicator.name : 'N/A' }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-label translate>mitigationAction.reportingPeriod </mat-label>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field class="field-ppcn">
            <mat-label translate>Desde</mat-label>
            <input
              matInput
              [placeholder]="'Choose a date' | translate"
              [matDatepicker]="reportPeriodStart"
              formControlName="reportPeriodStartCtrl"
            />

            <mat-datepicker-toggle matSuffix [for]="reportPeriodStart"></mat-datepicker-toggle>
            <mat-datepicker #reportPeriodStart startView="year"></mat-datepicker>

            <mat-error translate>errorLabel.fieldRequired</mat-error>
          </mat-form-field>

          <mat-form-field class="field-ppcn">
            <mat-label translate>general.until</mat-label>
            <input
              matInput
              [placeholder]="'Choose a date' | translate"
              [matDatepicker]="reportPeriodEndt"
              formControlName="reportPeriodEndtCtrl"
            />

            <mat-datepicker-toggle matSuffix [for]="reportPeriodEndt"></mat-datepicker-toggle>
            <mat-datepicker #reportPeriodEndt startView="year"></mat-datepicker>

            <mat-error translate>errorLabel.fieldRequired</mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="field-ppcn">
          <mat-label translate>mitigationAction.indicatorDataUpdateDate </mat-label>
          <input
            matInput
            [placeholder]="'Choose a date' | translate"
            [matDatepicker]="indicatorDataUpdateDate"
            formControlName="indicatorDataUpdateDateCtrl"
          />

          <mat-datepicker-toggle matSuffix [for]="indicatorDataUpdateDate"></mat-datepicker-toggle>
          <mat-datepicker #indicatorDataUpdateDate startView="year"></mat-datepicker>

          <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

        <mat-form-field class="field-ppcn" appearance="fill">
          <mat-label translate>adaptationAction.form4.indicatorVerificationSource</mat-label>
          <mat-select #indicatorVerificationSource formControlName="indicatorVerificationSourceCtrl">
            <mat-option [value]="1">
              <label translate>Censos</label>
            </mat-option>

            <mat-option [value]="2">
              <label translate>Encuesta por muestreo</label>
            </mat-option>

            <mat-option [value]="3">
              <label translate>Combinación de censo y muestreo</label>
            </mat-option>

            <mat-option [value]="4">
              <label translate>Sondeos de opinión</label>
            </mat-option>

            <mat-option [value]="5">
              <label translate>Registro administrativo</label>
            </mat-option>

            <mat-option [value]="6">
              <label translate>Sistema de Monitoreo</label>
            </mat-option>

            <mat-option [value]="7">
              <label translate>Estimación directa</label>
            </mat-option>

            <mat-option [value]="8">
              <label translate>Otro</label>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="field-ppcn" *ngIf="indicatorVerificationSource.value === 8">
          <mat-label translate
            ><span translate>adaptationAction.form4.indicatorVerificationSource</span> -
            <span translate>general.other</span>
          </mat-label>
          <input matInput formControlName="indicatorVerificationSourceOtherCtrl" />
          <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign=" center">
          <mat-form-field class="field-ppcn">
            <mat-label translate>adaptationAction.form4.attachSupportMonitoring</mat-label>
            <input matInput formControlName="attachSupportingInformationCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
          </mat-form-field>
          <input type="file" name="filename2" />
          <br />
        </div>

        <div fxLayout="row" class="button-box" fxLayoutAlign="end center">
          <app-generic-button-secondary (click)="stepper.previous()" name="general.back">
          </app-generic-button-secondary>
          <app-generic-button
            [disabled]="formArray?.get([1]).invalid"
            (click)="stepper.next()"
            name="general.next"
          ></app-generic-button>
        </div>
      </mat-step>

      <mat-step
        *ngIf="progressMonitoringRecordedClimateActionsControl.value == 1"
        formGroupName="2"
        [stepControl]="formArray?.get([2])"
      >
        <ng-template matStepLabel>
          <span translate>mitigationAction.generalProgressReportClimateAction</span>
        </ng-template>

        <mat-label translate>mitigationAction.reportingPeriod </mat-label>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field class="field-ppcn">
            <mat-label translate>Desde</mat-label>
            <input
              matInput
              [placeholder]="'Choose a date' | translate"
              [matDatepicker]="reportPeriodStart2"
              formControlName="reportPeriodStart2Ctrl"
            />

            <mat-datepicker-toggle matSuffix [for]="reportPeriodStart2"></mat-datepicker-toggle>
            <mat-datepicker #reportPeriodStart2 startView="year"></mat-datepicker>

            <mat-error translate>errorLabel.fieldRequired</mat-error>
          </mat-form-field>

          <mat-form-field class="field-ppcn">
            <mat-label translate>general.until</mat-label>
            <input
              matInput
              [placeholder]="'Choose a date' | translate"
              [matDatepicker]="reportPeriodEndt2"
              formControlName="reportPeriodEndt2Ctrl"
            />

            <mat-datepicker-toggle matSuffix [for]="reportPeriodEndt2"></mat-datepicker-toggle>
            <mat-datepicker #reportPeriodEndt2 startView="year"></mat-datepicker>

            <mat-error translate>errorLabel.fieldRequired</mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="field-ppcn">
          <mat-label translate>adaptationAction.form4.descriptiveWay</mat-label>
          <input matInput formControlName="advanceDescriptionCtrl" />
          <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

        <div fxLayout="row" class="button-box" fxLayoutAlign="end center">
          <app-generic-button [disabled]="formArray?.get([2]).invalid" (click)="submitForm()" name="general.done">
          </app-generic-button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>
