<div class="container">
  <mat-card-content>
    <form (ngSubmit)="submitForm()" *ngIf="!isLoading" [formGroup]="formGroup">
      <div fxLayout="column">
        <mat-vertical-stepper formArrayName="formArray" linear>

          <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
            <ng-template matStepLabel>
              <span *ngIf="levelId == 1" translate>info.basicInfo </span>
              <span *ngIf="levelId == 2" translate>specificLabel.organizationInfo </span>
            </ng-template>

            <mat-form-field class="field-ppcn">
              <mat-label translate>{{levelId==2 ? "specificLabel.organizationName" : "geographyLabel.cantonDistrictName" }}</mat-label>

              <input matInput formControlName="nameCtrl" required>
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn">
              <mat-label translate>{{levelId==2 ? "specificLabel.representativeName" : "specificLabel.majorName" }} </mat-label>

              <input matInput formControlName="representativeNameCtrl" required>
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn">
              <mat-label translate>{{levelId==2 ? "Telephone" : "specificLabel.majorTelephone" }} </mat-label>

              <input matInput formControlName="telephoneCtrl" required>
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="field-ppcn">
              <mat-label translate> info.fax </mat-label>
              <input matInput formControlName="faxCtrl">
            </mat-form-field>
            <br />
            <mat-form-field class="field-ppcn">
              <mat-label translate> info.postalCode </mat-label>
              <input matInput formControlName="postalCodeCtrl">
            </mat-form-field>
            <br />
            <div *ngIf="levelId==2; then thenBlock"></div>
            <ng-template #thenBlock>
              <mat-form-field class="field-ppcn">
                <mat-label translate> general.CIUUCode </mat-label>
                <input matInput formControlName="ciuuCodeCtrl">
              </mat-form-field>
            </ng-template>

            <mat-form-field class="field-ppcn">
              <mat-label translate>{{levelId==2 ? "Address" : "specificLabel.districtCouncilAddress" }}</mat-label>

              <input matInput formControlName="addressCtrl" required>
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <div class="box-button">
              <button type="button" mat-button matStepperNext class="mat-raised-button mat-primary customSinameccButton">
                <span translate> general.next </span>
                <mat-icon color="white">arrow_forward</mat-icon>
              </button>
            </div>
          </mat-step>

          <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
            <ng-template matStepLabel>
              <div translate> info.contactInfo </div>
            </ng-template>
            <mat-form-field class="field-ppcn">
              <mat-label translate>info.name</mat-label>
              <input matInput formControlName="contactNameCtrl">
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="field-ppcn">
              <mat-label translate> general.position </mat-label>
              <input matInput formControlName="positionCtrl">
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn">
              <mat-label translate> info.emailAddress </mat-label>
              <input matInput formControlName="emailFormCtrl">
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn">
              <mat-label translate> info.phone </mat-label>
              <input matInput formControlName="phoneCtrl" type="tel">
              <mat-error translate> errorLabel.inputOrLengthIncorrect</mat-error>
            </mat-form-field>
            <br />


            <div class="box-button">
              <button type="button" mat-button matStepperPrevious>
                <mat-icon color="white">arrow_back</mat-icon>
                <span translate> general.back </span>
              </button>
              <button type="button" mat-button matStepperNext class="mat-raised-button mat-primary customSinameccButton">
                <span translate> general.next </span>
                <mat-icon color="white">arrow_forward</mat-icon>
              </button>
            </div>
          </mat-step>
          <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
            <ng-template matStepLabel>
              <span translate>geographyLabel.requestLevel</span>
            </ng-template>
            <mat-form-field class="field-ppcn">
              <mat-label translate>geographyLabel.requestLevel</mat-label>
              <mat-select formControlName="requiredCtrl" [placeholder]="'geographyLabel.requestLevel' | translate">
                <mat-option *ngFor="let required_level of required_levels" [value]="required_level.id">
                  {{ required_level.level }}
                </mat-option>
              </mat-select>
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="field-ppcn">
              <mat-label translate>geographyLabel.recognitionType</mat-label>
              <mat-select formControlName="recognitionCtrl" [placeholder]="'geographyLabel.recognitionType' | translate">
                <mat-option *ngFor="let recognition_type of recognition_types" [value]="recognition_type.id">
                  {{ recognition_type.recognition }}
                </mat-option>
              </mat-select>
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />
            <div class="box-button">
              <button type="button" mat-button matStepperPrevious type="button"><span
                  translate> general.back  </span>
                <mat-icon color="white">arrow_back</mat-icon>
              </button>
              <button type="button" mat-button matStepperNext type="button" class="mat-raised-button mat-primary customSinameccButton"><span
                  translate> general.next  </span>
                <mat-icon color="white">arrow_forward</mat-icon>
              </button>
            </div>
            <br />

          </mat-step>
          <mat-step formGroupName="3" [stepControl]="formArray?.get([3])">
            <ng-template matStepLabel>
              <span translate>specificLabel.GEIInformation</span>
            </ng-template>
            <mat-form-field class="field-ppcn">
              <mat-label translate>specificLabel.selectOVV</mat-label>:
              <mat-select formControlName="ovvCtrl" [placeholder]="'OVV Selector' | translate">
                <mat-option *ngFor="let ovv of ovvs" [value]="ovv.id">
                  {{ ovv.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br />
            <mat-form-field class="field-ppcn">
              <mat-label translate>specificLabel.baseYear</mat-label>:
              <input matInput type="number" [placeholder]="'specificLabel.chooseYear' | translate" formControlName="baseYearCtrl"
                min="1990">
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>

            <br />
            <mat-form-field class="field-ppcn">
              <mat-label translate>specificLabel.reportYear</mat-label>:
              <input matInput type="number" [placeholder]="'specificLabel.chooseYear' | translate" formControlName="reportYearCtrl"
                min="1990">
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <mat-form-field class="field-ppcn">
              <mat-label translate>specificLabel.emissionDateDeclarationVerification</mat-label>
              <input matInput [matDatepicker]="implementationEmissionDatePicker" [placeholder]="'Choose a date' | translate"
                formControlName="implementationEmissionDateCtrl">
              <mat-datepicker-toggle matSuffix [for]="implementationEmissionDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #implementationEmissionDatePicker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
            <br />

            <br />
            <div class="box-button">
              <button type="button" mat-button matStepperPrevious type="button" ><span
                  translate> general.back  </span>
                <mat-icon color="white">arrow_back</mat-icon>
              </button>
              <button type="button" mat-button matStepperNext type="button" class="mat-raised-button mat-primary customSinameccButton"><span
                  translate> general.next  </span>
                <mat-icon color="white">arrow_forward</mat-icon>
              </button>
            </div>
          </mat-step>

          <mat-step formGroupName="4" [stepControl]="formArray?.get([4])">
            <ng-template matStepLabel>
              <span translate>specificLabel.GEIActivityTypes</span>
            </ng-template>
            <div formArrayName="activities">
              <div *ngFor="let activity of formGroup.controls.formArray['controls'][4].controls['activities'].controls; let i = index">
                <!-- row divider show for every nex row exclude if first row -->
                <mat-divider *ngIf="formGroup.controls.formArray['controls'][4].controls['activities'].controls.length > 1 && i > 0" ></mat-divider><br>
                <div [formGroupName]="i">
                  <mat-form-field class="field-ppcn">
                    <mat-label translate>specificLabel.activityCarriedOrganization</mat-label>
                    <input matInput formControlName="activityCtrl">
                  </mat-form-field>
                  <br />
                  <mat-form-field class="field-ppcn">
                    <mat-label translate>geographyLabel.sector</mat-label>
                    <mat-select formControlName="sectorCtrl" [placeholder]="'geographyLabel.sector' | translate" (selectionChange)="onSectorChange($event)">
                      <mat-option *ngFor="let sector of sectors" [value]="sector.id">
                        {{ sector.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error translate>errorLabel.fieldRequired</mat-error>
                  </mat-form-field>
                  <br />
                  <mat-form-field class="field-ppcn">
                    <mat-label translate>geographyLabel.subsector</mat-label>
                    <mat-select formControlName="subSectorCtrl" [placeholder]="'geographyLabel.subsector' | translate">
                      <mat-option *ngFor="let subsector of subSectors" [value]="subsector.id">
                        {{ subsector.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error translate>errorLabel.fieldRequired</mat-error>
                  </mat-form-field>
                  <br />
                  <!-- row delete button, hidden if there is just one row -->
                  <button mat-mini-fab color="warn" *ngIf="formGroup.controls.formArray['controls'][4].controls['activities'].controls.length > 1" (click)="deleteItems(i)"
                    type="button">
                    <mat-icon>delete forever</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <!-- <mat-divider></mat-divider> -->
            <button mat-raised-button (click)="addItems()" type="button" *ngIf="activityFormGroup?.controls.length <= 10">
              <mat-icon>add box</mat-icon>
              <span translate>specificLabel.addActivity</span>
            </button>
            <br/>
            <br/>
            <div class="box-button">
              <button type="button" mat-button matStepperPrevious type="button"><span
                  translate> general.back  </span>
                <mat-icon color="white">arrow_back</mat-icon>
              </button>
              <button type="button" mat-button matStepperNext type="button" class="mat-raised-button mat-primary customSinameccButton"><span
                  translate> general.next  </span>
                <mat-icon color="white">arrow_forward</mat-icon>
              </button>
            </div>
            <br />
          </mat-step>

          <mat-step>
            <ng-template matStepLabel> <span translate> specificLabel.confirmInformation </span></ng-template>

            <div *ngIf="formGroup.valid; else elseBlock" translate>specificLabel.everythingCorrect</div>

            <ng-template #elseBlock translate>Check the form for any errors marked in red</ng-template>
            <div class="align-right">
              <button mat-raised-button color="primary" class="mat-raised-button mat-primary customSinameccButton"><span translate> general.done </span>
                <mat-icon color="white">done</mat-icon>
              </button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </form>
  </mat-card-content>
</div>
