.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

.ppcn-container {
  width: 150px;
}

.ppcn-form-field {
  width: 90%;
}

.div-custom-style{
  width: 150px;
}

.custom-margin{
  margin-right: 50px;
}

.report-error {
  color:red;
}
