<div class="container">
  <mat-card-content>
    <div class="report-error" [hidden]="!error || isLoading || !errorComponent.showErrors" translate>
      <span translate>errorLabel.errorSubmittingForm</span>
      <br />
      <app-error-reporting #errorComponent></app-error-reporting>

  </div>
    <form (ngSubmit)="submitForm()" *ngIf="!isLoading" [formGroup]="formGroup">
      <div fxLayout="column">
        <mat-vertical-stepper formArrayName="formArray" linear #stepper>
          <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
            <ng-template matStepLabel>
              <span *ngIf="levelId == '1'" translate>info.basicInfo </span>
              <span *ngIf="levelId == '2'" translate>specificLabel.organizationInfo </span>
            </ng-template>

            <mat-form-field class="field-ppcn">
              <mat-label translate>{{
                levelId == '2' ? "specificLabel.organizationName" : "geographyLabel.cantonDistrictName"
              }}</mat-label>
              <input matInput formControlName="nameCtrl" required />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn" *ngIf="levelId == '2'">
              <mat-label translate>general.legalCertificate</mat-label>
              <input type="number" matInput formControlName="legalIdCtrl"  />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
              <br />
            </mat-form-field>
            

            <mat-form-field class="field-ppcn">
              <mat-label translate>{{levelId=='2' ? "specificLabel.representativeName" : "specificLabel.majorName" }}
              </mat-label>
              <input matInput formControlName="representativeNameCtrl" required />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn">
              <mat-label translate>general.legalRepresentativeCertificate</mat-label>
              <input type="number" matInput formControlName="legalRepresentativeIdCtrl" required />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn">
              <mat-label translate>{{ levelId == '2' ? "info.telephone" : "specificLabel.majorTelephone" }} </mat-label>
              <input type="number" matInput formControlName="telephoneCtrl" required />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn" *ngIf="levelId == '1'">
              <mat-label translate>ppcn.mayorEmail</mat-label>
              <input type="email" matInput formControlName="emailCtrl"/>
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <span translate>general.confidential</span><br /><br />
            <mat-radio-group [(ngModel)]="confidential" formControlName="confidentialCtrl">
              <mat-radio-button value="si">
                <span translate>general.yes</span>
              </mat-radio-button>
              <mat-radio-button value="no">
                <span translate>general.no</span>
              </mat-radio-button>
              <mat-radio-button value="parcialmente">
                <span translate>general.partially</span>
              </mat-radio-button>
            </mat-radio-group>
            <br />
            <mat-form-field class="field-ppcn" *ngIf="confidential == 'parcialmente'">
              <br />
              <mat-label translate>specificLabel.confidentialParcially</mat-label>
              <input matInput formControlName="confidentialValueCtrl" />
              <br />
            </mat-form-field>

            <mat-form-field class="field-ppcn"  *ngIf="levelId == '2'">
              <mat-label translate> info.fax </mat-label>
              <input matInput formControlName="faxCtrl" />
              <br />
            </mat-form-field>
            
            <mat-form-field class="field-ppcn">
              <mat-label translate> info.postalCode </mat-label>
              <input matInput formControlName="postalCodeCtrl" />
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn"  *ngIf="levelId == '2'">
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let code of CIUUCodeList" [selectable]="selectable" [removable]="removable"
                  (removed)="removeCIUUCode(code)">
                  {{code}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input [placeholder]="'general.CIUUCode' | translate" #chipListInput formControlName="ciuuListCodeCtrl"
                  [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="add($event)"  />
              </mat-chip-list>
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>

            <mat-form-field class="field-ppcn">
              <mat-label translate>{{ levelId == '2' ? "general.exactDirection" : "specificLabel.districtCouncilAddress" }}</mat-label>
              <input matInput formControlName="addressCtrl" required />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <div class="box-button">
              <app-generic-button (click)="test()" name="test"> </app-generic-button>
              <app-generic-button (click)="stepper.next()" name="general.next"> </app-generic-button>
            </div>
          </mat-step>

          <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
            <ng-template matStepLabel>
              <div translate>info.contactInfo</div>
            </ng-template>
            <mat-form-field class="field-ppcn">
              <mat-label translate>info.name</mat-label>
              <input matInput formControlName="contactNameCtrl" />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="field-ppcn">
              <mat-label translate> general.position </mat-label>
              <input matInput formControlName="positionCtrl" />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn">
              <mat-label translate> info.emailAddress </mat-label>
              <input matInput formControlName="emailFormCtrl" />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn">
              <mat-label translate> info.phone </mat-label>
              <input matInput formControlName="phoneCtrl" type="tel" />
              <mat-error translate> errorLabel.inputOrLengthIncorrect</mat-error>
            </mat-form-field>
            <br />

            <div class="box-button">
              <app-generic-button-secondary (click)="stepper.previous();" name="general.back">
              </app-generic-button-secondary>
              <app-generic-button (click)="stepper.next();" name="general.next"></app-generic-button>
            </div>
          </mat-step>

          <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
            <ng-template matStepLabel>
              <span translate>geographyLabel.requestLevel</span>
            </ng-template>

            <div *ngIf="levelId == '2'">
              <br />
              <br />
              <br />
              <mat-form-field class="field-ppcn">
                <mat-label translate>geographyLabel.classificationAmountEmissions</mat-label>
                <input type="number" min="0" oninput="this.value = Math.abs(this.value)" matInput formControlName="amountOfEmissions"  />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>
              <br />

              <mat-form-field class="field-ppcn">
                <mat-label translate>geographyLabel.classificationNumberFacilities</mat-label>
                <input type="number" matInput formControlName="numberofDacilities"  />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>
              <br />

              <mat-form-field class="field-ppcn">
                <mat-label translate>geographyLabel.ClassificationAmountInventoryData</mat-label>
                <input type="number" matInput formControlName="amountInventoryData"  />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>
              <br />

              <span translate>geographyLabel.complexityMethodologies</span><br /><br />
            <mat-radio-group  formControlName="complexityMethodologies">
              <mat-radio-button value="1">
                <span translate>general.level</span>1
              </mat-radio-button>
              <mat-radio-button value="2">
                <span translate>general.level</span>2
              </mat-radio-button>
              <mat-radio-button value="3">
                <span translate>general.level</span>3
              </mat-radio-button>
            </mat-radio-group>
            <br />


              <br />
            </div>
            <br />
            <span translate>geographyLabel.verificationCycleStage</span><br /><br />
            <mat-radio-group formControlName="requiredCtrl">
              <mat-radio-button *ngFor="let required_level of required_levels" [value]="required_level.id">
                {{ required_level.level }}
              </mat-radio-button>
            </mat-radio-group>
            <br />
            <br />
            <mat-form-field class="field-ppcn">
              <mat-label translate>geographyLabel.recognitionType</mat-label>
              <mat-select
                (change)="reductionFormVar = $event.value"
                formControlName="recognitionCtrl"
                [placeholder]="'geographyLabel.recognitionType' | translate"
              >
                <mat-option *ngFor="let recognition_type of recognition_types" [value]="recognition_type.id">
                  {{ recognition_type.recognition }}
                </mat-option>
              </mat-select>
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />
            <div class="box-button">
              <app-generic-button-secondary
                (click)="stepper.previous()"
                name="general.back"
              ></app-generic-button-secondary>
              <app-generic-button (click)="stepper.next()" name="general.next"></app-generic-button>
            </div>
            <br />
          </mat-step>

          <div *ngIf="showRecognitionFormSection([7,8,9,10])">
            <mat-step formGroupName="3" [stepControl]="formArray?.get([3])">

              <div formArrayName="reductions">
                <div *ngFor="let reduction of formGroup.controls.formArray['controls'][3].controls['reductions'].controls; let i = index">
                  
                  <mat-divider
                  *ngIf="formGroup.controls.formArray['controls'][3].controls['reductions'].controls.length > 1 && i > 0">
                  </mat-divider
                  ><br />

                  <div [formGroupName]="i">
                    <ng-template matStepLabel>
                      <span translate>geographyLabel.reduction</span>
                    </ng-template>

                    <mat-form-field class="field-ppcn">
                      <mat-label translate>geographyLabel.reductionProyect</mat-label>
                      <input matInput formControlName="reductionProjectCtrl" required />
                      <mat-error translate>errorLabel.fieldRequired</mat-error>
                    </mat-form-field>
                    <br />

                    <mat-form-field class="field-ppcn">
                      <mat-label translate>geographyLabel.activityReduction</mat-label>
                      <input matInput formControlName="reductionActivityCtrl" required />
                      <mat-error translate>errorLabel.fieldRequired</mat-error>
                    </mat-form-field>
                    <br />

                    <mat-form-field class="field-ppcn">
                      <mat-label translate>geographyLabel.detailReduction</mat-label>
                      <input matInput formControlName="reductionDetailsCtrl" required />
                      <mat-error translate>errorLabel.fieldRequired</mat-error>
                    </mat-form-field>
                    <br />

                    <mat-form-field class="field-ppcn">
                      <mat-label translate>geographyLabel.reducedEmissions<strong>(t CO2e)</strong></mat-label>
                      <input type="number" matInput formControlName="reducedEmissionsCtrl" required />
                      <mat-error translate>errorLabel.fieldRequired</mat-error>
                    </mat-form-field>
                    <br />
                    <br />

                    <div fxLayout="row">
                      <div class="ppcn-container">
                        <mat-button-toggle-group name="fontStyle"
                          (change)="changeReductionCurrencyValues($event.value,i,'investmentReductions')"
                          class="m-r-10" value="CRC">
                          <mat-button-toggle value="CRC">CRC</mat-button-toggle>
                          <mat-button-toggle value="USD">USD</mat-button-toggle>
                        </mat-button-toggle-group>
                      </div>
                      <mat-form-field [style.width.%]="100"  clas="ppcn-field">
                        <mat-label translate>geographyLabel.investmentReductions</mat-label>
                        <input type="number" matInput formControlName="investmentReductionsValue" required />
                        <mat-error translate>errorLabel.fieldRequired</mat-error>
                      </mat-form-field>

                    </div>

                    <br />
                    <div fxLayout="row">
                      <div class="ppcn-container">
                        <mat-button-toggle-group name="fontStyle" class="m-r-10"
                          (change)="changeReductionCurrencyValues($event.value,i,'totalInvestmentReduction')"
                          value="CRC">
                          <mat-button-toggle value="CRC">CRC</mat-button-toggle>
                          <mat-button-toggle value="USD">USD</mat-button-toggle>
                        </mat-button-toggle-group>
                      </div>
                      <mat-form-field class="field-ppcn">
                        <mat-label translate>geographyLabel.totalInversion</mat-label>
                        <input type="number" matInput formControlName="totalInvestmentReductionValue" required />
                        <mat-error translate>errorLabel.fieldRequired</mat-error>
                      </mat-form-field>

                    </div>
                    <br />

                    <mat-form-field class="field-ppcn">
                      <mat-label translate>geographyLabel.totalReducedEmissions<strong>(t CO2e)</strong></mat-label>
                      <input type="number" matInput formControlName="totalEmisionesReducidas" required />
                      <mat-error translate>errorLabel.fieldRequired</mat-error>
                    </mat-form-field>
                  </div>
                  <br />
                  <br />
                  <div class="custom-remove-button">
                    <button mat-mini-fab color="warn"
                      *ngIf="formGroup.controls.formArray['controls'][3].controls['reductions'].controls.length > 1"
                      (click)="deleteReductionItem(i)" type="button">
                      <mat-icon>delete forever</mat-icon>
                    </button>
                    <br />
                    <br />
                  </div>  

              <br />

              <app-generic-button mat-raised-button (click)="addReductionItem()" name="specificLabel.addReductions" type="button"
              *ngIf="activityFormGroup?.controls.length <= 10">
              </app-generic-button>
              <br />

                </div>
                <div class="box-button">
                  <app-generic-button-secondary
                    (click)="stepper.previous()"
                    name="general.back"
                  ></app-generic-button-secondary>
                  <app-generic-button (click)="stepper.next()" name="general.next"></app-generic-button>
                </div>
              </div>
              <br />
            </mat-step>
          </div>

          <div *ngIf="showRecognitionFormSection([9,10])">
            <mat-step formGroupName="4" [stepControl]="formArray?.get([4])">
              <div formArrayName="compensations">
                <div *ngFor="let compensation of formGroup.controls.formArray['controls'][4].controls['compensations'].controls; let i = index">
                  <mat-divider
                  *ngIf="formGroup.controls.formArray['controls'][4].controls['compensations'].controls.length > 1 && i > 0">
                  </mat-divider
                  ><br />
                <ng-template matStepLabel>
                  <span translate>geographyLabel.compensations</span>
                </ng-template>
                <br />
                <div [formGroupName]="i">
                <label translate>geographyLabel.compensationScheme</label> <br />
                <br />
                <mat-radio-group formControlName="compensationScheme">
                  <mat-radio-button *ngFor="let value of compensationSchemeValues" [value]="value">
                    {{value}}
                  </mat-radio-button>

                </mat-radio-group>
                <br />
                <br />
                <mat-form-field class="field-ppcn">
                  <mat-label translate>geographyLabel.projectLocation</mat-label>
                  <input matInput formControlName="projectLocation" required />
                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>
                <br />

                <mat-form-field class="field-ppcn">
                  <mat-label translate>geographyLabel.certificateNumber</mat-label>
                  <input matInput formControlName="certificateNumber" required />
                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>
                <br />

                <mat-form-field class="field-ppcn">
                  <mat-label translate>geographyLabel.totalCompensation<strong>(t CO2e)</strong></mat-label>
                  <input type="number" matInput formControlName="totalCompensation" required />
                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>
                <br />
                <br />

                <div fxLayout="row">
                  <br />
                  <div class="ppcn-container">
                    <mat-button-toggle-group class="m-r-10" value="CRC"
                      (change)="changeCompensationCurrencyValues($event.value,i,'compensationCost')">
                      <mat-button-toggle value="CRC">CRC</mat-button-toggle>
                      <mat-button-toggle value="USD">USD</mat-button-toggle>
                    </mat-button-toggle-group>
                  </div>
                  <mat-form-field class="field-ppcn">
                    <mat-label translate>geographyLabel.compensationCost</mat-label>
                    <input type="number" matInput formControlName="compensationCostValue" required />
                    <mat-error translate>errorLabel.fieldRequired</mat-error>
                  </mat-form-field>

                </div>


                <mat-form-field class="field-ppcn">
                  <mat-label translate>geographyLabel.totalEmissionsOffsets<strong>(t CO2e)</strong> </mat-label>
                  <input type="number" matInput formControlName="totalEmissionsOffsets" required />
                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>
                <br />

                <mat-form-field class="field-ppcn">
                <mat-label translate>geographyLabel.period </mat-label>
                  <input min="2007" type="number" matInput formControlName="period" required />
                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>

                <br />
                <label translate>geographyLabel.totalCostCompensation</label>
                <br />
                <br />
                <div fxLayout="row">
                  <br />
                  <div class="ppcn-container">
                    <mat-button-toggle-group class="m-r-10" value="CRC"
                      (change)="changeCompensationCurrencyValues($event.value,i,'totalCostCompensation')">
                      <mat-button-toggle value="CRC">CRC</mat-button-toggle>
                      <mat-button-toggle value="USD">USD</mat-button-toggle>
                    </mat-button-toggle-group>
                  </div>
                  <mat-form-field class="field-ppcn">
                    <mat-label translate>geographyLabel.totalEmissionsOffsets<strong>(t CO2e)</strong> </mat-label>
                    <input type="number" matInput formControlName="totalEmissionsOffsets" required />
                    <mat-error translate>errorLabel.fieldRequired</mat-error>
                  </mat-form-field>
                  <br />
                </div>
              
                </div>
                <br />
                  <br />
                  <div class="custom-remove-button">
                    <button mat-mini-fab color="warn"
                      *ngIf="formGroup.controls.formArray['controls'][4].controls['compensations'].controls.length > 1"
                      (click)="deleteCompensationItem(i)" type="button">
                      <mat-icon>delete forever</mat-icon>
                    </button>
                    <br />
                    <br />
                  </div>

                </div>
              </div>
              <br />

              <app-generic-button mat-raised-button (click)="addCompensationItem()" name="specificLabel.addCompensations" type="button"
              *ngIf="activityFormGroup?.controls.length <= 10">
              </app-generic-button>
              <br />

              <div class="box-button">
                <app-generic-button-secondary
                  (click)="stepper.previous()"
                  name="general.back"
                ></app-generic-button-secondary>
                <app-generic-button (click)="stepper.next()" name="general.next"></app-generic-button>
              </div>

              <br />
            </mat-step>
          </div>

          <mat-step formGroupName="5" [stepControl]="formArray?.get([5])">
            <ng-template matStepLabel>
              <span translate>specificLabel.GEIInformation</span>
            </ng-template>
            <mat-form-field class="field-ppcn" *ngIf="levelId == '2'">
              <mat-label translate>specificLabel.selectOVV</mat-label>:
              <mat-select formControlName="ovvCtrl" [placeholder]="'OVV Selector' | translate">
                <mat-option *ngFor="let ovv of ovvs" [value]="ovv.id">
                  {{ ovv.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br />
            <mat-form-field class="field-ppcn">
              <mat-label translate>specificLabel.baseYear</mat-label>:
              <input
                matInput
                type="number"
                [placeholder]="'specificLabel.chooseYear' | translate"
                formControlName="baseYearCtrl"
                min="2007"
              />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>

            <br />
            <mat-form-field class="field-ppcn">
              <mat-label translate>specificLabel.reportYear</mat-label>:
              <input
                matInput
                type="number"
                [placeholder]="'specificLabel.chooseYear' | translate"
                formControlName="reportYearCtrl"
                min="2007"
              />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <mat-form-field class="field-ppcn" *ngIf="levelId == '2'">
              <mat-label translate>specificLabel.emissionDateDeclarationVerification</mat-label>
              <input
                matInput
                [matDatepicker]="implementationEmissionDatePicker"
                [placeholder]="'Choose a date' | translate"
                formControlName="implementationEmissionDateCtrl"
              />
              <mat-datepicker-toggle matSuffix [for]="implementationEmissionDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #implementationEmissionDatePicker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>

            <br />

            <mat-form-field class="field-ppcn">
              <mat-label translate>general.scope</mat-label>
              <textarea matInput formControlName="scope"></textarea>
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>

            <br />

            <app-gas-report-table [editForm]="editForm" [editData]="ppcnEdit" *ngIf="levelId == '2'" #table></app-gas-report-table>

            <br />
            <br />

            <div class="box-button">
              <app-generic-button-secondary
                (click)="stepper.previous()"
                name="general.back"
              ></app-generic-button-secondary>
              <app-generic-button (click)="stepper.next()" name="general.next"></app-generic-button>
            </div>
          </mat-step>

          <mat-step formGroupName="6" [stepControl]="formArray?.get([6])">
            <ng-template matStepLabel>
              <span translate>ppcn.removals</span>
            </ng-template>

            <div formArrayName="removals">
              <div 
              *ngFor="
                  let removal of formGroup.controls.formArray['controls'][6].controls['removals'].controls;
                  let i = index
                "
                >
                <mat-divider
                *ngIf="
                  formGroup.controls.formArray['controls'][6].controls['removals'].controls.length > 1 && i > 0
                "
              ></mat-divider
              ><br />
              <div [formGroupName]="i">
                <div fxLayout="row">
                  <div class="ppcn-container">
    
                    <mat-button-toggle-group name="fontStyle" class="m-r-10"
                        (change)="this.formGroup.controls.formArray['controls'][6].patchValue({costRemovalInventoryValueCtrl: $event.value})"
                        value="CRC">
                        <mat-button-toggle value="CRC">CRC</mat-button-toggle>
                        <mat-button-toggle value="USD">USD</mat-button-toggle>
                      </mat-button-toggle-group>
                  </div>
                  <mat-form-field class="field-ppcn">
                      <mat-label translate>ppcn.costInventoryRemovals</mat-label>:
                      <input matInput type="number" formControlName="costRemovalInventoryCtrl" />
                      <mat-error translate>errorLabel.fieldRequired</mat-error>
                  </mat-form-field>
                </div>
                
                <br />
                <mat-form-field class="field-ppcn">
                  <mat-label translate>ppcn.removalProjectDetail</mat-label>:
                  <input matInput formControlName="removalProjectDetailCtrl" />
                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>
    
                <br />
                <mat-form-field class="field-ppcn">
                  <mat-label><span translate>ppcn.totalRemovals</span><strong>(t CO2e)</strong></mat-label
                  >:
                  <input matInput type="number" formControlName="totalremovalsCtrl" />
                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>

                <button
                    mat-mini-fab
                    color="warn"
                    *ngIf="formGroup.controls.formArray['controls'][6].controls['removals'].controls.length > 1"
                    (click)="deleteRemovalItem(i)"
                    type="button"
                  >
                    <mat-icon>delete forever</mat-icon>
                </button>

              </div>

              </div>
            </div>
            
            <app-generic-button mat-raised-button (click)="addRemovalItem()" name="specificLabel.addRemoval" type="button"
            *ngIf="activityFormGroup?.controls.length <= 10">
            </app-generic-button>


            <br />
            <br />
            <div class="box-button">
              <br />
              <app-generic-button-secondary
                (click)="stepper.previous()"
                name="general.back"
              ></app-generic-button-secondary>
              <app-generic-button (click)="stepper.next()" name="general.next"></app-generic-button>
            </div>
          </mat-step>

          <mat-step formGroupName="7" [stepControl]="formArray?.get([7])"  *ngIf="levelId == '2'">
            <ng-template matStepLabel>
              <span translate>specificLabel.GEIActivityTypes</span>
            </ng-template>
            <div formArrayName="activities">
              <div
                *ngFor="
                  let activity of formGroup.controls.formArray['controls'][7].controls['activities'].controls;
                  let i = index
                "
              >
                <!-- row divider show for every nex row exclude if first row -->
                <mat-divider
                  *ngIf="
                    formGroup.controls.formArray['controls'][7].controls['activities'].controls.length > 1 && i > 0
                  "
                ></mat-divider
                ><br />
                <div [formGroupName]="i">
                  <mat-form-field class="field-ppcn">
                    <mat-label translate>geographyLabel.sector</mat-label>
                    <mat-select
                      formControlName="sectorCtrl"
                      [placeholder]="'geographyLabel.sector' | translate"
                      (selectionChange)="onSectorChange($event)"
                    >
                      <mat-option *ngFor="let sector of sectors" [value]="sector.id">
                        {{ sector.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error translate>errorLabel.fieldRequired</mat-error>
                  </mat-form-field>
                  <br />
                  <mat-form-field class="field-ppcn">
                    <mat-label translate>geographyLabel.subsector</mat-label>
                    <mat-select formControlName="subSectorCtrl" [placeholder]="'geographyLabel.subsector' | translate">
                      <mat-option *ngFor="let subsector of subSectors" [value]="subsector.id">
                        {{ subsector.name }}
                      </mat-option>
                    </mat-select>
                    <mat-error translate>errorLabel.fieldRequired</mat-error>
                  </mat-form-field>
                  <br />
                  <mat-form-field class="field-ppcn">
                    <mat-label translate>specificLabel.activityCarriedOrganization</mat-label>
                    <input matInput formControlName="activityCtrl" />
                  </mat-form-field>
                  <br />
                  <!-- row delete button, hidden if there is just one row -->
                  <button
                    mat-mini-fab
                    color="warn"
                    *ngIf="formGroup.controls.formArray['controls'][7].controls['activities'].controls.length > 1"
                    (click)="deleteItems(i)"
                    type="button"
                  >
                    <mat-icon>delete forever</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <!-- <mat-divider></mat-divider> -->
            <button
              mat-raised-button
              (click)="addItems()"
              type="button"
              *ngIf="activityFormGroup?.controls.length <= 10"
            >
              <mat-icon>add box</mat-icon>
              <span translate>specificLabel.addActivity</span>
            </button>
            <br />
            <br />
            <div class="box-button">
              <app-generic-button-secondary
                (click)="stepper.previous()"
                name="general.back"
              ></app-generic-button-secondary>
              <app-generic-button (click)="stepper.next()" name="general.next"></app-generic-button>
            </div>
            <br />
          </mat-step>

          <mat-step>
            <ng-template matStepLabel> <span translate> specificLabel.confirmInformation </span></ng-template>

            <div *ngIf="formGroup.valid; else elseBlock" translate>specificLabel.everythingCorrect</div>

            <ng-template #elseBlock translate>Check the form for any errors marked in red</ng-template>
            <div class="align-right">
              <app-generic-button type="submit" mat-raised-button name="general.done"></app-generic-button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </form>
  </mat-card-content>
</div>
