<div class="container">
  <mat-card-content>
    <form [formGroup]="formGroup">
      <mat-vertical-stepper formArrayName="formArray" linear>
        <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
          <ng-template matStepLabel>
            <span translate>Basic Info</span>
          </ng-template>
          <mat-form-field>
            <mat-label translate>Name</mat-label>
            <input matInput formControlName="nameCtrl" required>
            <mat-error translate>This field is required</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label translate>Representative Name</mat-label>
            <input matInput formControlName="representativeNameCtrl" required>
            <mat-error translate>This field is required</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label translate>Telephone </mat-label>
            <input matInput formControlName="telephoneCtrl" required>
            <mat-error translate>This field is required</mat-error>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label translate>Fax</mat-label>
            <input matInput formControlName="faxCtrl">
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label translate>Postal Code</mat-label>
            <input matInput formControlName="postalCodeCtrl">
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label translate>Address</mat-label>
            <input matInput formControlName="addressCtrl" required>
            <mat-error translate>This field is required</mat-error>
          </mat-form-field>
          <br/>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </form>
  </mat-card-content>
</div>
