:host {
  display: flex;
  flex: 1;
  // background-color: #f5f5f5;
  background-image: url("../../../assets/background-login.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 800px;
}

.restore-container {
  background-color: rgba(#fff, 0.7);
  color: black;
  width: 40vw;
}

.restore-input {
  width: 40vw;
}

.main-container {
  width: 100vw;
  height: 100vh;
}
