<mat-toolbar class="toolbar-title">
  <div translate class="section-heading">MCCR Registries</div>
</mat-toolbar>
<app-loader [isLoading]="isLoading" size="1.5"></app-loader>
  <mat-divider class="divider-custom"></mat-divider>
  <mat-divider class="divider-custom"></mat-divider> 
  <mat-card-subtitle>
    <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
    <p [hidden]="isLoading"></p>
  </mat-card-subtitle>
  <div class="box-button">
  <a mat-button class="mat-raised-button mat-primary" routerLink="/mccr/registries/new"><span translate>Add new mccr registry</span></a>
  </div>
<div class="container mat-elevation-z8 table-sinamecc">
  <mat-table #table [dataSource]="dataSource">

    <!-- Mccr Registry Name Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef translate> Mccr Registry Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!--Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef translate> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>

    <!--Status Column -->
    <ng-container matColumnDef="mitigation">
      <mat-header-cell *matHeaderCellDef translate> Mitigation Action Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mitigation}} </mat-cell>
    </ng-container>

    <!--Number of Files Column -->
    <ng-container matColumnDef="files">
      <mat-header-cell *matHeaderCellDef translate> Number Of Files </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.files}} </mat-cell>
    </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef translate> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
      <button mat-icon-button color="primary" (click)="view(element.id)"><mat-icon color="white">visibility</mat-icon></button>
      <button mat-icon-button color="warn" (click)="openDeleteConfirmationDialog(element.id)"><mat-icon color="white">delete</mat-icon></button>
      <button mat-icon-button color="accent" (click)="update(element.id)"><mat-icon color="white">edit</mat-icon></button>
      <button mat-icon-button color="primary" (click)="selectOvv(element.id)"><mat-icon color="white">library_add</mat-icon></button>
    </mat-cell>
</ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
<!--<a mat-fab routerLink="/report">
  <mat-icon aria-label="Go to Data for Report">undo</mat-icon>
</a>-->