@use "@angular/material" as mat;

$primary: (
  50: #e5edf1,
  100: #bfd1dc,
  200: #96b2c5,
  300: #6a93ad,
  400: #4a7c9c,
  500: #1e5674,
  600: #255d82,
  700: #1f5377,
  800: #19496d,
  900: #0f375a,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$secondary: (
  50: #e3f6ea,
  100: #b9e8ca,
  200: #8bd8a7,
  300: #5cc884,
  400: #39bd69,
  500: #1cb752,
  600: #13aa48,
  700: #10a13f,
  800: #0c9836,
  900: #068826,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #000,
    800: #000,
    900: #fff,
  ),
);

$theme-primary: mat.define-palette($primary);
$theme-secondary: mat.define-palette($secondary);
$app-warn: mat.define-palette(mat.$red-palette);

$custom-typography: mat.define-typography-config(
  $font-family: "Mulish",
  $headline-1: mat.define-typography-level(25.5pt, 2.75em, 400, 0.015625em),
  $headline-2: mat.define-typography-level(25.5pt, 2.75em, 400, 0.015625em),
  $headline-3: mat.define-typography-level(25.5pt, 2.75em, 400, 0.015625em),
  $headline-4: mat.define-typography-level(18pt, 2.125em, 300, 0),
  $headline-5: mat.define-typography-level(12pt, 4em, 400, 0.009375em),
  $headline-6: mat.define-typography-level(10.5pt, 1.5em, 600, 0.015625em),
  $subtitle-2: mat.define-typography-level(12pt, 1.625em, 400, 0.03125em),
  $subtitle-1: mat.define-typography-level(10.5pt, 1.5em, 400, 0.015625em),
  $body-2: mat.define-typography-level(10.5pt, 1.5em, 400, 0.015625em),
  $body-1: mat.define-typography-level(12pt, 1.625em, 400, 0.03125em),
  $button: mat.define-typography-level(10.5pt, auto, 600, 0.078125em),
  $caption: mat.define-typography-level(9pt, auto, 400, 0.025em),
  $overline: mat.define-typography-level(9pt, auto, 400, 0.025em),
);

$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-secondary,
      warn: $app-warn,
    ),
    typography: $custom-typography,
    density: 0,
  )
);
