/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
@use "@angular/material" as mat;
@import "theme-variables";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");

* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  font-family: "Mulish", serif;
}

.section-heading {
  position: relative;
  font-size: 30px !important;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 800 !important;
  display: inline-block;
  color: #333;
  margin-bottom: 15px;
}

.section-heading span {
  color: #333;
}

.section-heading-alt {
  color: #fff;
}

.section-heading-alt span {
  font-style: 400;
  color: #fff;
}

.section-heading-inline {
  position: relative;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  display: inline-block;
  color: #333;
  margin: 0 auto 15px;
}

.section-heading-inline::before {
  color: #77c720;
  content: "=========";
  display: block;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: -2px;
  margin-right: -110px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 3px;
  width: 120px;
}

.mat-toolbar > div {
  text-align: right;
  width: 100%;
  text-transform: uppercase;
  padding-top: 8px;
}

.primary-button {
  border-radius: 5px;
  color: white;
  background-color: mat.get-color-from-palette($theme-primary, 500);
  padding: 0.8em 1.3em;
  border: none;
  cursor: pointer;
}

.full-container {
  width: 100%;
  height: 100%;
}

// Material design icons font path
$material-design-icons-font-directory-path: "~material-design-icons-iconfont/dist/fonts/";

$gray-color: #c4c4c4;
$primary-color: #2a658a;

// Toolbar
.mat-toolbar[_ngcontent-c6],
.mat-toolbar.mat-primary {
  background: #000;
  color: #fff;
  width: 100%;
  font: 18px/28px "Open Sans", sans-serif;
  font-weight: 800;
}

.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab {
  font-weight: 600;
}

.text-color {
  color: #000;
  border-bottom: 3px solid #ccc;
  position: relative;
  padding: 5px;
  width: 50%;
}

.text-color::after {
  bottom: -3px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 50px;
  background: #2aa7d9;
  font-size: 18px;
}

@media only screen and (max-width: 700px) {
  .text-color {
    width: 100%;
  }

  .mat-elevation-z8,
  .container {
    text-align: left !important;
    padding: 0.1rem;
    font-size: 15px;
    width: 100% !important;
    margin: 0 !important;
  }
}

.mat-elevation-z8,
.container {
  text-align: left !important;
  padding: 1rem;
  font-size: 15px;
  width: 90%;
  margin: 0 auto;
}

.divider-custom {
  border-color: #2aa7d9 !important;
  background: #2aa7d9 !important;
  max-width: 150px;
  min-width: 100px;
  margin: 5px auto 0 auto !important;
  border: solid 1px;
  position: relative !important;
}

.mat-card .mat-divider {
  position: relative;
  margin: 5px auto 0 auto;
  font-size: 15px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  width: auto !important;
  background: transparent;
}

.mat-header-row {
  background: #e5e5e5 !important;
  text-align: center;
}

.mat-row {
  text-align: center;
}

.mat-table > .mat-header-row > .mat-header-cell {
  font-weight: bold;
}

.section-heading {
  margin: 0 auto;
  text-align: center;
}

.box-button {
  width: 90%;
  margin: 5px auto 10px;
  text-align: right;
}

.mat-card-title {
  text-align: center;
}

.table-sinamecc {
  width: 90%;
  margin: 0 auto;
}

.brand {
  float: left;
}

.mat-card > :first-child {
  margin-top: 0;
  text-align: center;
}

.text-upload {
  position: relative;
  float: left;
  margin-right: 10px;
}

.field-ppcn {
  width: 100%;
}

.center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #3f51b5 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #3f51b5 !important;
}

.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  color: #fff !important;
}

.login-label .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.login-label .mat-form-field-empty.mat-form-field-label {
  font-weight: 800 !important;
  color: black;
}

.sinamecc-container {
  border: solid 1px $gray-color;
  border-radius: 5px;
  padding: 1.3em;
}
