/*
 * Application global variables.
 */

// Angular Material custom theme
// See https://material.angular.io/guide/theming for more details.
//
// You can also read https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
// for more insight about Angular Material theming.

@import "~@angular/material/theming";
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
// rgb(139,196,68)
$app-primary: mat-palette($mat-blue, 500);

$app-accent: mat-palette($mat-orange, 500);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

.login-box {
  $alternate-primary: mat-palette($mat-light-blue, 900);
  $alternate-accent: mat-palette($mat-yellow, 400);

  $login-box: mat-light-theme($alternate-primary, $alternate-accent);

  @include angular-material-theme($login-box);
}

// Toolbar
mat-toolbar[_ngcontent-c6],
.mat-toolbar.mat-primary {
  background: #000;
  color: #fff;
  font-weight: 800;
  width: 100%;
  font: 18px/28px "Open Sans", sans-serif;
}

.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab {
  font-weight: 600;
}

.text-color {
  color: #000;
  border-bottom: 3px solid #ccc;
  position: relative;
  padding: 5px;
  width: 50%;
}

.text-color::after {
  bottom: -3px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 50px;
  background: #2aa7d9;
  font-size: 18pt;
}

@media only screen and (max-width: 700px) {
  .text-color {
    width: 100%;
  }

  .mat-elevation-z8,
  .container {
    text-align: left !important;
    padding: 0.1rem;
    font-size: 15px;
    width: 100% !important;
    margin: 0 !important;
  }
}

.mat-elevation-z8,
.container {
  text-align: left !important;
  padding: 1rem;
  font-size: 15px;
  width: 90%;
  margin: 0 auto;
}

.divider-custom {
  border-color: #2aa7d9 !important;
  background: #2aa7d9 !important;
  max-width: 150px;
  min-width: 100px;
  margin: 5px auto 0 auto !important;
  border: solid 1px;
  position: relative !important;
}

.mat-card .mat-divider {
  position: relative;
  margin: 5px auto 0 auto;
  font-size: 15pt;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  width: auto !important;
  background: transparent;
}

.mat-header-row {
  background: #e5e5e5 !important;
  text-align: center;
}

.mat-row {
  text-align: center;

}

.mat-table>.mat-header-row>.mat-header-cell {
  color: #2aa7d9;
  font-weight: bold;
}

.section-heading {
  margin: 0 auto;
  text-align: center;
}

.box-button {
  width: 90%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: right;
}

.mat-card-title {
  text-align: center;
}

.table-sinamecc {
  width: 90%;
  margin: 0 auto 0 auto;
}

.brand {
  float: left;
}

.mat-card>:first-child {
  margin-top: 0;
  text-align: center;
}

.text_upload {
  position: relative;
  float: left;
  margin-right: 10px;
  margin-right: 10px;
}

.field-ppcn {
  width: 100%;
}

.center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #3f51b5 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #3f51b5 !important;
}

.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  color: #fff !important;
}

.login-label .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.login-label .mat-form-field-empty.mat-form-field-label {
  font-weight: 800 !important;
}
