$primary: (
  50: #e5edf1,
  100: #bfd1dc,
  200: #96b2c5,
  300: #6a93ad,
  400: #4a7c9c,
  500: #1e5674,
  600: #255d82,
  700: #1f5377,
  800: #19496d,
  900: #0f375a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #fff,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
  ),
);

$secondary: (
  50: #e3f6ea,
  100: #b9e8ca,
  200: #8bd8a7,
  300: #5cc884,
  400: #39bd69,
  500: #1cb752,
  600: #13aa48,
  700: #10a13f,
  800: #0c9836,
  900: #068826,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #fff,
  ),
);

$tertiary: (
  50: #eaf5f9,
  100: #cae6ef,
  200: #a7d6e4,
  300: #83c5d9,
  400: #69b8d1,
  500: #3faac8,
  600: #47a5c3,
  700: #3d9bbc,
  800: #3592b5,
  900: #2582a9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
  ),
);

$complementary: (
  white: #fff,
  grey-background: #e9e9e9,
  grey-hover: #eeeeee,
  disable: #a9a9a9,
  grey-dark: #3c3c3c,
  black: #000000,
  error: #c32a21,
  warning: #ff9900,
  success: #21c375,
  contrast: (
    white: darkgrey,
    grey-background: darkgrey,
    grey-hover: darkgrey,
    disable: darkgrey,
    grey-dark: #fff,
    black: #fff,
    error: #fff,
    warning: darkgrey,
    success: darkgrey,
  ),
);
