<div class="main-container" fxLayout="column" fxLayoutAlign="center center">
	<mat-card class="restore-container" >
    <mat-card-title translate>credentialsSection.changePassword</mat-card-title>
    <mat-card-subtitle translate>credentialsSection.changeText</mat-card-subtitle>

    <div fxLayout="column" >

        <mat-form-field >
          <mat-label translate>credentialsSection.newPassword</mat-label>
          <input #password type="password" class="restore-input" matInput />
        </mat-form-field>
      
        <mat-form-field >
          <mat-label translate>credentialsSection.confirmPassword</mat-label>
          <input #confirmPassword type="password" matInput />
        </mat-form-field>

        <span fxFlex></span>
        <div fxLayoutAlign="center" >
          <button [disabled]="!(password.value == confirmPassword.value)" mat-raised-button color="primary" (click)="changePassword(password.value)"><span translate>credentialsSection.changePassword</span></button>
        </div>

    </div>
  </mat-card>
</div>

