@import "src/theme/theme-variables";


.container {
  text-align: center;
  padding: 1rem;
}
  
.mat-icon {
  vertical-align: middle;
}
  

.report-error {
  color: mat-color($app-warn);
}

mat-divider{
  width: 100%;
}

.comment-header-image{
  background-size: cover;
}

.custom-image{
  height: 100%;
  border-radius: 50%;
}

.custom-comment{
  padding: 10px;
}

.add-comment-container{
  background-color: rgb(245, 245, 245);
}