<div class="container">
    <mat-card>
      <mat-card-content>
        <mat-card-title class="section-heading" translate>Mitigation Action</mat-card-title>
        <mat-divider class="divider-custom"></mat-divider>
        <mat-divider class="divider-custom"></mat-divider>
        <mat-card-subtitle>
          <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
        </mat-card-subtitle>
        <div class="container " [hidden]="isLoading">
            <h3 translate class="text-color">General Data</h3>
            <strong translate>Status</strong>: {{mitigationAction?.review_status?.status}} <br>

            <strong translate>Code</strong>: {{mitigationAction?.id}} <br>
            <strong translate>Name:</strong> {{mitigationAction?.name}} <br>
            <strong translate>Program:</strong> {{mitigationAction?.strategy_name}} <br>
            <strong translate>Objective:</strong> {{mitigationAction?.purpose}} <br>
            <strong translate>Quantitative Objective:</strong> {{mitigationAction?.quantitative_purpose}} <br>
            <strong translate>Entity:</strong> {{mitigationAction?.institution.name}} <br>
            <strong translate>Costa Rican Compensation Units:</strong> {{mitigationAction?.question_ucc}} <br>
            <strong translate>Validation Verification Body (VVB):</strong> {{mitigationAction?.question_ovv}} <br>
            <!--<mat-divider></mat-divider>-->
            <h3 translate class="text-color">Contact</h3>
            <strong translate>Contact Name:</strong> {{mitigationAction?.contact.full_name}} <br>
            <strong translate>Contact Position:</strong> {{mitigationAction?.contact.job_title}} <br>
            <strong translate>Contact Phone:</strong> {{mitigationAction?.contact.phone}} <br>
            <strong translate>Contact Email:</strong> {{mitigationAction?.contact.email}} <br>
            <!--<mat-divider></mat-divider>-->
            <h3 translate class="text-color">Progress Indicator</h3>
            <strong translate>Name:</strong> {{mitigationAction?.progress_indicator.name}} <br>
            <strong translate>Type:</strong> {{mitigationAction?.progress_indicator.type}} <br>
            <strong translate>Unit:</strong> {{mitigationAction?.progress_indicator.unit}} <br>
            <strong translate>Start Date:</strong> {{mitigationAction?.progress_indicator.start_date}} <br>
            <!--<mat-divider></mat-divider>-->
            <h3 translate class="text-color">Localization</h3>
            <strong translate>Geographic Site:</strong> {{mitigationAction?.location.geographical_site}} <br>
            <strong translate>Is Gis Annexed?:</strong> {{mitigationAction?.location.is_gis_annexed}}
            <h3 translate class="text-color">Files</h3>
            <!-- <div *ngFor="let file of mitigationAction.files">
              <strong translate>File Name</strong>: {{file.name}} <button mat-icon-button color="primary" (click)="download(file.file)" ><mat-icon color="white">vertical_align_bottom</mat-icon></button>

            </div> -->
            <!--<mat-divider></mat-divider>-->
            <h3 class="text-color" translate>Actions</h3>
            <button mat-icon-button color="primary" (click)="review(mitigationAction?.id)" > <mat-icon color="white">rate_review</mat-icon></button>
        </div>



      </mat-card-content>
    </mat-card>

  </div>
