@use "@angular/material" as mat;
@use "src/theme/theme-variables" as *;

.container-custom {
  text-align: center;
  padding: 1rem;
}

.mat-icon {
  vertical-align: middle;
}

.report-error {
  color: mat.m2-get-color-from-palette($app-warn);
}

mat-divider {
  width: 100%;
}

.max-w {
  width: 100%;
}

.comment-header-image {
  background-size: cover;
}

.custom-image {
  height: 100%;
  border-radius: 50%;
}

.custom-comment {
  padding: 10px;
}

.add-comment-container {
  background-color: rgb(245, 245, 245);
}

/////
.custom-tabs {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.header-container {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;

  label {
    margin: 0;
  }
}

.main-container {
  padding: 1em;
}

.loading-component {
  width: 100%;
  height: 100%;
}

.box {
  margin-top: 1em;
  button {
    margin-top: 1em;
  }
}
