<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-card-title class="section-heading" translate>mitigationAction.MA</mat-card-title>
      <mat-divider class="divider-custom"></mat-divider>
      <mat-divider class="divider-custom"></mat-divider>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
      </mat-card-subtitle>
      <div class="container" [hidden]="isLoading">
        <h3 translate class="text-color">info.generalData</h3>
        <!--<mat-divider></mat-divider>-->
        <strong translate>general.status</strong>: {{mitigationAction?.fsm_state}} <br />
        <strong translate>info.code</strong>: {{mitigationAction?.id}} <br />
        <strong translate>info.name</strong>: {{mitigationAction?.name}} <br />
        <strong translate>general.program</strong>: {{mitigationAction?.strategy_name}} <br />
        <strong translate>general.objective</strong>: {{mitigationAction?.purpose}} <br />
        <strong translate>general.entity</strong>: {{mitigationAction?.institution.name}} <br />
        <!--<mat-divider></mat-divider>-->
        <h3 translate class="text-color">info.contact</h3>
        <strong translate>info.contactName</strong> {{mitigationAction?.contact.full_name}} <br />
        <strong translate>info.contactPosition</strong>: {{mitigationAction?.contact.job_title}} <br />
        <strong translate>info.contactPhone</strong>: {{mitigationAction?.contact.phone}} <br />
        <strong translate>info.contactEmail</strong>: {{mitigationAction?.contact.email}} <br />
        <!--<mat-divider></mat-divider>-->
        <h3 translate class="text-color">specificLabel.progressIndicators</h3>
        <strong translate>specificLabel.organitationDistrictCanton</strong>:
        {{mitigationAction?.progress_indicator.name}} <br />
        <strong translate>general.type</strong>: {{mitigationAction?.progress_indicator.type}} <br />
        <strong translate>general.unit</strong>: {{mitigationAction?.progress_indicator.unit}} <br />
        <strong translate>specificLabel.startDate</strong>: {{mitigationAction?.progress_indicator.start_date}} <br />
        <!--<mat-divider></mat-divider>-->
        <h3 translate class="text-color">specificLabel.localization</h3>
        <strong translate>geographyLabel.geographicSite</strong>: {{mitigationAction?.location.geographical_site}}
        <br />
        <strong translate>specificLabel.GisAnnexed</strong>: {{mitigationAction?.location.is_gis_annexed}}
        <h3 translate class="text-color">reportData.files</h3>
        <div *ngFor="let file of mitigationAction?.files">
          <strong translate>reportData.fileName</strong>: {{file.name}} <button mat-icon-button color="primary"
            (click)="download(file.file)">
            <mat-icon color="white">vertical_align_bottom</mat-icon>
          </button>
        </div>
        <!--<mat-divider></mat-divider>-->
        <h3 class="text-color" translate>general.actions</h3>
        <button mat-icon-button color="primary" (click)="review(mitigationAction?.id)">
          <mat-icon color="white">rate_review</mat-icon>
        </button>
      </div>



    </mat-card-content>
  </mat-card>

</div>
