<div [formGroup]="categoryGroup" class="mb-4">
  <ng-container *ngIf="!isOther">
    <div class="mb-2">
      <label translate>{{ categoryGroup.get('name')?.value }}</label>
    </div>
  </ng-container>

  <!-- description -->
  <mat-form-field class="field-ppcn flex-1" appearance="fill">
    <mat-label class="mb-2">
      <span translate>impactEvaluation.description</span>
    </mat-label>
    <textarea
      matInput
      formControlName="description"
      rows="3"
      required
      cdkTextareaAutosize
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="6"
    ></textarea>
    <mat-error *ngIf="categoryGroup.get('description')?.hasError('required')" translate>
      errorLabel.fieldRequired
    </mat-error>
    <mat-error *ngIf="categoryGroup.get('description')?.hasError('minlength')" translate>
      errorLabel.minLengthNotMet
    </mat-error>
    <mat-error *ngIf="categoryGroup.get('description')?.hasError('maxlength')" translate>
      errorLabel.maxLengthExceeded
    </mat-error>
  </mat-form-field>

  <!-- indicator -->
  <ng-container *ngIf="!barrier">
    <mat-form-field class="field-ppcn" appearance="fill">
      <mat-label><span translate>impactEvaluation.indicator.title</span></mat-label>
      <mat-select #indicatorSelection formControlName="indicator" (valueChange)="onOtherCategoryChange($event)">
        <mat-option *ngFor="let indicator of indicators" [value]="indicator.id">
          <label>{{ indicator.name | translate }}</label>
        </mat-option>
        <mat-option [value]="other"><span translate>general.other</span></mat-option>
      </mat-select>
      <mat-error translate>errorLabel.fieldRequired</mat-error>
    </mat-form-field>

    <ng-container *ngIf="indicatorSelection.value === other">
      <mat-form-field class="field-ppcn" appearance="fill">
        <mat-label><span translate>impactEvaluation.indicator.name</span></mat-label>
        <input matInput formControlName="indicatorOther" />
        <mat-error translate> errorLabel.fieldRequired </mat-error>
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="indicatorSelection.value">
      <!-- base value -->
      <mat-form-field class="field-ppcn" appearance="fill">
        <mat-label><span translate>impactEvaluation.indicator.base</span></mat-label>
        <input matInput formControlName="baseValue" />
        <mat-error translate> errorLabel.fieldRequired </mat-error>
      </mat-form-field>

      <!-- expected value -->
      <mat-form-field class="field-ppcn" appearance="fill">
        <mat-label><span translate>impactEvaluation.indicator.expected</span></mat-label>
        <input matInput formControlName="expectedValue" />
        <mat-error translate> errorLabel.fieldRequired </mat-error>
      </mat-form-field>

      <!-- accumulated value -->
      <mat-form-field class="field-ppcn" appearance="fill">
        <mat-label><span translate>impactEvaluation.indicator.accumulated</span></mat-label>
        <input matInput formControlName="accumulatedValue" />
        <mat-error translate> errorLabel.fieldRequired </mat-error>
      </mat-form-field>
    </ng-container>
  </ng-container>
</div>
