<div class="container">
  <h3>
    <mat-card-title translate class="section-heading">mccrPoc.verifyData</mat-card-title>
    <mat-divider class="divider-custom"></mat-divider>
    <mat-divider class="divider-custom"></mat-divider>
  </h3>

  <div class="container" *ngIf="verifyResponse">
    <h3 translate class="text-color">{{ 'mccrPoc.blocksVerify' | translate }}</h3>
    <strong translate>{{ 'mccrPoc.blocksVerify' | translate }}</strong
    >: {{ verifyResponse?.verified_blocks ? 'Si' : 'No' }} <br />
    <strong translate>{{ 'mccrPoc.verifiedReviews' | translate }}</strong
    >: {{ verifyResponse?.verified_revisions ? 'Si' : 'No' }}
    <br />
  </div>
</div>
