<mat-toolbar class="toolbar-title">
  <div translate class="section-heading"><span translate>mccr.MCCRRegistries</span></div>
</mat-toolbar>
<app-loader [isLoading]="isLoading" size="1.5"></app-loader>
<mat-divider class="divider-custom"></mat-divider>
<mat-divider class="divider-custom"></mat-divider>
<mat-card-subtitle>
  <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
  <p [hidden]="isLoading"></p>
</mat-card-subtitle>

<br />
<app-custom-search-bar [fieldsToSearch]="fieldsToSearch" [table]="dataSource"></app-custom-search-bar>
<br />

<div class="container mat-elevation-z8 table-sinamecc">
  <mat-table #table [dataSource]="dataSource">

    <!-- Mccr Registry Name Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef translate> mccr.MccrRegistryId </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!--Status Column -->
    <ng-container matColumnDef="fsm_state">
      <mat-header-cell *matHeaderCellDef translate>general.status</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fsm_state}} </mat-cell>
    </ng-container>

    <!--Status Column -->
    <ng-container matColumnDef="mitigation">
      <mat-header-cell *matHeaderCellDef translate> mitigationAction.MAName </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.mitigation}} </mat-cell>
    </ng-container>

    <!--Number of Files Column -->
    <ng-container matColumnDef="files">
      <mat-header-cell *matHeaderCellDef translate> reportData.numberFiles</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.files}} </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef translate> general.actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!-- <button mat-icon-button color="primary" (click)="view(element.id)"><mat-icon color="white">visibility</mat-icon></button> -->
        <button *ngIf="hasPermProvider()" mat-icon-button color="warn"
          (click)="openDeleteConfirmationDialog(element.id)">
          <mat-icon color="white">delete</mat-icon>
        </button>
        <!-- <button mat-icon-button color="accent" (click)="update(element.id)"><mat-icon color="white">edit</mat-icon></button> -->
        <button mat-icon-button color="primary" *ngIf="canChangeState(element)" (click)="addReview(element.id)">
          <mat-icon color="white">navigate_next</mat-icon>
        </button>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
  </mat-paginator>

</div>
<br />
<div class="box-button" *ngIf="hasPermProvider()">
  <app-generic-button routerLink="/mccr/registries/new" name="mccr.addMCCR"></app-generic-button>
</div>
<!--<a mat-fab routerLink="/report">
  <mat-icon aria-label="Go to Data for Report">undo</mat-icon>
</a>-->
