<div class="container-custom">
  <div class="header-container flex flex-col justify-center items-center mb-4">
    <h2 translate>adaptationAction.form4.title</h2>
  </div>
  <div class="flex flex-col gap-4">
    <app-indicator-search
      [indicators]="adaptationAction?.indicator_list"
      (indicatorResults)="indicatorsToShow = $event"
    />
    <div class="flex flex-row justify-end items-center">
      <button type="button" class="primary-button" (click)="openDialog()">
        <span translate>adaptationAction.form4.add</span>
      </button>
    </div>
    <div class="flex flex-col gap-2">
      <div *ngFor="let item of indicatorsToShow" class="flex flex-row justify-between items-center">
        <span>{{ item.id }} - {{ item.name }}</span>
        <div class="flex flex-row">
          <button
            mat-icon-button
            type="button"
            color="warn"
            (click)="openConfirmationDialog(item.id)"
            matTooltip="{{ 'general.delete' | translate }}"
            matTooltipPosition="above"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            mat-icon-button
            type="button"
            (click)="openDialog(item.id)"
            matTooltip="{{ 'general.edit' | translate }}"
            matTooltipPosition="above"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="button-box flex flex-row justify-end items-center">
      <button mat-raised-button color="primary" type="button" (click)="next()">
        <span translate>general.next</span>
      </button>
    </div>
  </div>
</div>
