<div class="container">
  <form [formGroup]="form" >
      <mat-vertical-stepper #stepper formArrayName="formArray">
        <mat-step formGroupName="0" [stepControl]="formArray?.get([0])" >
          <ng-template matStepLabel>
            <span translate>Registro de indicadores</span>
          </ng-template>

          <mat-form-field class="field-ppcn">
         <mat-label translate>Nombre del indicador</mat-label>
            <input matInput formControlName="adaptationActionIndicatorNameCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

         <mat-form-field class="field-ppcn">
         <mat-label translate>Descripción del indicador </mat-label>
            <input matInput formControlName="adaptationActionIndicatorDescriptionCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

        <mat-form-field class="field-ppcn">
         <mat-label translate>Unidad de medida </mat-label>
            <input matInput formControlName="adaptationActionIndicatorUnitCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

         <mat-form-field class="field-ppcn">
         <mat-label translate>Metodología de cálculo</mat-label>
            <input matInput formControlName="adaptationActionIndicatorMetodologyCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

        <span translate>Tipo de entidad que reporta</span>
        <mat-radio-group
          #adaptationActionIndicatorFrecuence="matRadioGroup"
          formControlName="adaptationActionIndicatorFrecuenceCtrl"
          class="custom-radio-group"
        >
          <mat-radio-button value="1">
            <label translate>Anual</label>
          </mat-radio-button>
          <mat-radio-button value="2">
            <label translate>Semestral</label>
          </mat-radio-button>
          <mat-radio-button value="3">
            <label translate>Trimestral</label>
          </mat-radio-button>
          <mat-radio-button value="4">
            <label translate>Otro</label>
          </mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="field-ppcn">
                  <mat-label translate>Fecha de inicio de la medición</mat-label>
                  <input matInput
                  [placeholder]="'Choose a date' | translate"
                  [matDatepicker]="adaptationActionIndicatorStartDate"
                  formControlName="adaptationActionIndicatorStartDateCtrl" />

                  <mat-datepicker-toggle matSuffix [for]="adaptationActionIndicatorStartDate"></mat-datepicker-toggle>
                  <mat-datepicker #adaptationActionIndicatorStartDate startView="year"></mat-datepicker>

                  <mat-error translate>errorLabel.fieldRequired</mat-error>
       </mat-form-field>

       <mat-form-field class="field-ppcn">
                  <mat-label translate>Fecha de finalización de la medición</mat-label>
                  <input matInput
                  [placeholder]="'Choose a date' | translate"
                  [matDatepicker]="adaptationActionIndicatorEndDate"
                  formControlName="adaptationActionIndicatorEndDateCtrl" />

                  <mat-datepicker-toggle matSuffix [for]="adaptationActionIndicatorEndDate"></mat-datepicker-toggle>
                  <mat-datepicker #adaptationActionIndicatorEndDate startView="year"></mat-datepicker>

                  <mat-error translate>errorLabel.fieldRequired</mat-error>
       </mat-form-field>

       <mat-form-field class="field-ppcn">
                  <mat-label translate>Serie de tiempo disponible</mat-label>
                  <input matInput
                  [placeholder]="'Choose a date' | translate"
                  [matDatepicker]="adaptationActionIndicatorTime"
                  formControlName="adaptationActionIndicatorTimeCtrl" />

                  <mat-datepicker-toggle matSuffix [for]="adaptationActionIndicatorTime"></mat-datepicker-toggle>
                  <mat-datepicker #adaptationActionIndicatorTime startView="year"></mat-datepicker>

                  <mat-error translate>errorLabel.fieldRequired</mat-error>
       </mat-form-field>

       <span translate>Cobertura geográfica</span>
        <mat-radio-group
          #adaptationActionIndicatorCoverage="matRadioGroup"
          formControlName="adaptationActionIndicatorCoverageCtrl"
          class="custom-radio-group"
        >
          <mat-radio-button value="1">
            <label translate>Nacional</label>
          </mat-radio-button>
          <mat-radio-button value="2">
            <label translate>Regional</label>
          </mat-radio-button>
          <mat-radio-button value="3">
            <label translate>Provincial</label>
          </mat-radio-button>
          <mat-radio-button value="4">
            <label translate>Cantonal</label>
          </mat-radio-button>

          <mat-radio-button value="5">
            <label translate>Otro</label>
          </mat-radio-button>
        </mat-radio-group>


        <mat-form-field class="field-ppcn">
         <mat-label translate>Desagregación </mat-label>
            <input matInput formControlName="adaptationActionIndicatorDisintegrationCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

        <mat-form-field class="field-ppcn">
         <mat-label translate>Limitaciones </mat-label>
            <input matInput formControlName="adaptationActionIndicatorLimitCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

        <mat-form-field class="field-ppcn">
         <mat-label translate>¿Cómo se asegura la sostenibilidad en la medición del indicador? </mat-label>
            <input matInput formControlName="adaptationActionIndicatorMeasurementCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

        <mat-form-field class="field-ppcn">
         <mat-label translate>Observaciones y comentarios </mat-label>
            <input matInput formControlName="adaptationActionIndicatorDetailsCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

        <div fxLayout="row" class="button-box" fxLayoutAlign="end center">
              <app-generic-button (click)="stepper.next();" name="general.next"></app-generic-button>
        </div>

       
      </mat-step>

         <mat-step formGroupName="1" [stepControl]="formArray?.get([1])" >
          <ng-template matStepLabel>
            <span translate> Fuentes de información </span>
          </ng-template>

          <mat-form-field class="field-ppcn">
         <mat-label translate>Institución responsable  </mat-label>
            <input matInput formControlName="adaptationActionIndicatorResponsibleInstitutionCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

         <mat-form-field class="field-ppcn" appearance="fill">
              <mat-label translate>Tipo de fuente</mat-label>
              <mat-select formControlName="adaptationActionIndicatorSourceTypeCtrl" multiple>
                  <mat-option [value]="1">
                   <label translate>Censos</label>
                  </mat-option>

                 <mat-option [value]="2">
                   <label translate>Encuesta por muestreo</label>
                  </mat-option>

                  <mat-option [value]="3">
                   <label translate>Combinación de censo y muestreo</label>
                  </mat-option>

                   <mat-option [value]="4">
                   <label translate>Sondeos de opinión</label>
                  </mat-option>
              </mat-select>
            </mat-form-field>

             <mat-form-field class="field-ppcn">
         <mat-label translate>Nombre de la operación estadística  </mat-label>
            <input matInput formControlName="adaptationActionIndicatorOperationNameCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

        <div fxLayout="row" class="button-box" fxLayoutAlign="end center">
              <app-generic-button-secondary (click)="stepper.previous();" name="general.back">
              </app-generic-button-secondary>
              <app-generic-button (click)="stepper.next();" name="general.next"></app-generic-button>
            </div>

         </mat-step>

          <mat-step formGroupName="2" [stepControl]="formArray?.get([2])" >
            <ng-template matStepLabel>
            <span translate> Categorización temática</span>
            </ng-template>


            <span translate>Tipo de dato</span>
        <mat-radio-group
          #adaptationActionIndicatorSourceData="matRadioGroup"
          formControlName="adaptationActionIndicatorSourceDataCtrl"
          class="custom-radio-group"
        >
          <mat-radio-button [value]="1">
            <label translate>Gestión</label>
          </mat-radio-button>
          <mat-radio-button [value]="2">
            <label translate>Resultado</label>
          </mat-radio-button>
          <mat-radio-button [value]="3">
            <label translate>Otro</label>
          </mat-radio-button>
    
        </mat-radio-group>

          <mat-form-field *ngIf="adaptationActionIndicatorSourceData.value == 3" class="field-ppcn">
         <mat-label translate>Tipo de dato (otro)  </mat-label>
            <input matInput formControlName="adaptationActionIndicatorSourceDataOtherCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

        <br />
         <br />

        <span translate>Clasificadores del SINAMECC</span>
        <mat-radio-group
          #adaptationActionIndicatorClassifiers="matRadioGroup"
          formControlName="adaptationActionIndicatorClassifiersCtrl"
          class="custom-radio-group"
        >
          <mat-radio-button [value]="1">
            <label translate>Acción Climática</label>
          </mat-radio-button>
          <mat-radio-button [value]="2">
            <label translate>Modelación</label>
          </mat-radio-button>
          <mat-radio-button [value]="3">
            <label translate>INGEI</label>
          </mat-radio-button>

          <mat-radio-button [value]="4">
            <label translate>Reportes</label>
          </mat-radio-button>

          <mat-radio-button [value]="5">
            <label translate>Otro</label>
          </mat-radio-button>
    
        </mat-radio-group>

          <mat-form-field *ngIf="adaptationActionIndicatorClassifiers.value == 5" class="field-ppcn">
         <mat-label translate>Clasificadores del SINAMECC (otro)  </mat-label>
            <input matInput formControlName="adaptationActionIndicatorClassifiersOtherCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

        <div fxLayout="row" class="button-box" fxLayoutAlign="end center">
              <app-generic-button-secondary (click)="stepper.previous();" name="general.back">
              </app-generic-button-secondary>
              <app-generic-button (click)="stepper.next();" name="general.next"></app-generic-button>
            </div>

          </mat-step>

            <mat-step formGroupName="3" [stepControl]="formArray?.get([3])" >
               <ng-template matStepLabel>
            <span translate>Información de contacto responsable del dato</span>
            </ng-template>

            <mat-form-field class="field-ppcn">
         <mat-label translate>Nombre del responsable del dato</mat-label>
            <input matInput formControlName="adaptationActionIndicatorContactNameCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

         <mat-form-field class="field-ppcn">
         <mat-label translate>Institución</mat-label>
            <input matInput formControlName="adaptationActionIndicatorContactInstitutionCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

         <mat-form-field class="field-ppcn">
         <mat-label translate>Departamento</mat-label>
            <input matInput formControlName="adaptationActionIndicatorContactDepartmentCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>


        <mat-form-field class="field-ppcn">
         <mat-label translate>Correo</mat-label>
            <input matInput formControlName="adaptationActionIndicatorContactEmailCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

        <mat-form-field class="field-ppcn">
         <mat-label translate>Télefono</mat-label>
            <input matInput formControlName="adaptationActionIndicatorContactPhoneCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>


        <div fxLayout="row" class="button-box" fxLayoutAlign="end center">
              <app-generic-button-secondary (click)="stepper.previous();" name="general.back">
              </app-generic-button-secondary>
              <app-generic-button (click)="buildPayload()" name="general.next"></app-generic-button>
            </div>

              
            </mat-step>


      </mat-vertical-stepper>

  </form>
</div>