<div *ngIf="loading" class="loading-component flex flex-col justify-center items-center">
  <mat-spinner color="accent"></mat-spinner>
  <h1 class="mat-h1" translate>general.loading</h1>
</div>

<div *ngIf="!loading" class="main-container flex flex-col justify-start items-start flex-fill">
  <div class="flex-fill">
    <mat-tab-group class="custom-tabs">
      <mat-tab [label]="'adaptationAction.form1.title' | translate">
        <div class="tab-container flex flex-col justify-start items-start flex-fill">
          <div class="header-container flex flex-row justify-between items-center">
            <label class="mat-h1" translate>adaptationAction.form1.dataRegister</label>
            <button
              *ngIf="adaptationAction.comments || edit"
              (click)="openCommentsModal(commentsModule1, 0)"
              mat-icon-button
            >
              <mat-icon>comment</mat-icon>
            </button>
          </div>

          <div class="flex flex-col justify-between items-center">
            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form1.reportingEntityType</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{
                  adaptationAction?.report_organization?.report_organization_type
                    ? adaptationAction?.report_organization?.report_organization_type.entity_type
                    : ''
                }}
              </h3>
            </div>

            <div *ngIf="adaptationAction?.report_organization?.other_report_organization_type" class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>
                <span translate>adaptationAction.form1.reportingEntityType</span> (<span translate>general.other</span>)
              </h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.report_organization?.other_report_organization_type }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form1.responsibleReportingEntity</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.report_organization?.responsible_entity }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form1.legalID</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.report_organization?.legal_identification }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form1.reportData</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.report_organization?.elaboration_date }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>ppcn.nameContactPerson</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.report_organization?.contact?.contact_name }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form1.positionResponsiblePerson</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.report_organization?.contact?.contact_position }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>info.emailAddress</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.report_organization?.contact?.email }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>info.phone</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.report_organization?.contact?.phone }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form1.entityAddress</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.report_organization?.entity_address }}</h3>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab [label]="'adaptationAction.form2.title' | translate">
        <div class="tab-container flex flex-col justify-start items-start flex-fill">
          <div class="header-container flex flex-row justify-between items-center">
            <label class="mat-h1" translate>adaptationAction.form2.registerInfo</label>
            <button
              *ngIf="adaptationAction.comments || edit"
              (click)="openCommentsModal(commentsModule2, 1)"
              mat-icon-button
            >
              <mat-icon>comment</mat-icon>
            </button>
          </div>

          <div class="flex flex-col justify-between items-center">
            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.AAType</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{ adaptationAction?.adaptation_action_information?.adaptation_action_type?.name }}
              </h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.AAName</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.adaptation_action_information?.name }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.AAObjective</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.adaptation_action_information?.objective }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.AADescription</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.adaptation_action_information?.description }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.AAGoal</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.adaptation_action_information?.meta }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.expectedResults</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{
                  adaptationAction?.adaptation_action_information?.expected_result
                    ? adaptationAction?.adaptation_action_information?.expected_result
                    : '-'
                }}
              </h3>
            </div>

            <div class="flex flex-col">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.beneficiaryPopulation</h3>
              <div>
                <mat-list class="custom-list-element">
                  <mat-list-item
                    *ngFor="let element of adaptationAction?.adaptation_action_information?.benefited_population"
                  >
                    {{ element.name }}</mat-list-item
                  >
                </mat-list>
              </div>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.potentialCoBenefits</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{
                  adaptationAction?.adaptation_action_information?.potential_co_benefits
                    ? adaptationAction?.adaptation_action_information?.potential_co_benefits
                    : '-'
                }}
              </h3>
            </div>

            <div class="flex flex-col">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.AAODS</h3>
              <div>
                <mat-list class="custom-list-element">
                  <mat-list-item *ngFor="let element of adaptationAction?.adaptation_action_information?.ods">
                    {{ element.name }}</mat-list-item
                  >
                </mat-list>
              </div>
            </div>
          </div>

          <mat-divider style="width: 100%"></mat-divider>

          <div class="header-container flex flex-row justify-between items-center">
            <label class="mat-h1" translate>general.GeographicLocation</label>
          </div>

          <div class="flex flex-col justify-between items-center">
            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.appScale</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{
                  adaptationAction?.address?.app_scale ? AppScaleStructure[adaptationAction?.address?.app_scale] : ''
                }}
              </h3>
            </div>

            <div
              *ngIf="adaptationAction?.address?.province && adaptationAction.address.province.length"
              class="flex flex-row"
            >
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.AAProvince</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <div class="flex flex-row gap-2">
                <ng-container *ngFor="let province of adaptationAction?.address?.province; let last = last">
                  <span class="mat-h3">{{ province.name }}<span *ngIf="!last">, </span></span>
                </ng-container>
              </div>
            </div>

            <div
              *ngIf="adaptationAction?.address?.canton && adaptationAction.address.canton.length"
              class="flex flex-row"
            >
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.AACanton</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <div class="flex flex-row gap-2">
                <ng-container *ngFor="let canton of adaptationAction?.address?.canton; let last = last">
                  <span class="mat-h3">{{ canton.name }}<span *ngIf="!last">, </span></span>
                </ng-container>
              </div>
            </div>

            <div
              *ngIf="adaptationAction?.address?.district && adaptationAction.address.district.length"
              class="flex flex-row"
            >
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.AADistrict</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <div class="flex flex-row gap-2">
                <ng-container *ngFor="let district of adaptationAction?.address?.district; let last = last">
                  <span class="mat-h3">{{ district.name }}<span *ngIf="!last">, </span></span>
                </ng-container>
              </div>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.narrativeActionPlace</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.address?.description }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.attachGeographicalLocation</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.address?.GIS }}</h3>
            </div>
          </div>

          <mat-divider style="width: 100%"></mat-divider>

          <div class="header-container flex flex-row justify-between items-center">
            <label class="mat-h1" translate>adaptationAction.form2.categorizationNationalIntruments</label>
          </div>

          <mat-accordion>
            <mat-expansion-panel *ngFor="let activity of adaptationAction?.activity">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ activity?.sub_topic?.topic?.description }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="flex flex-row">
                <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.selectTopic</h3>
                <h3 class="mat-h3 txt-separator">:</h3>
                <h3 class="mat-h3">{{ activity?.sub_topic?.topic?.description }}</h3>
              </div>

              <div class="flex flex-row">
                <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.selectSubtopic</h3>
                <h3 class="mat-h3 txt-separator">:</h3>
                <h3 class="mat-h3">{{ activity?.sub_topic?.description }}</h3>
              </div>

              <div class="flex flex-row">
                <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.selectActionType</h3>
                <h3 class="mat-h3 txt-separator">:</h3>
                <h3 class="mat-h3">{{ activity?.description }}</h3>
              </div>

              <div class="flex flex-col">
                <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.relationNDC</h3>
                <mat-list class="custom-list-element">
                  <mat-list-item *ngFor="let element of activity?.ndc_contribution">
                    {{ element.ndc_area.description }}</mat-list-item
                  >
                </mat-list>
              </div>

              <div class="flex flex-col">
                <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.relationGoalNDC</h3>
                <div>
                  <mat-list class="custom-list-element">
                    <mat-list-item *ngFor="let element of activity?.ndc_contribution; index as i">
                      {{ element.description }}</mat-list-item
                    >
                  </mat-list>
                </div>
              </div>

              <div class="flex flex-col">
                <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.relationshipAxis</h3>
                <h3 class="mat-h3">
                  {{ activity?.adaptation_axis_guideline?.adaptation_axis?.description }}
                </h3>
              </div>

              <div class="flex flex-col">
                <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.relationshipGuideline</h3>
                <h3 class="mat-h3">{{ activity?.adaptation_axis_guideline?.description }}</h3>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

          <mat-divider style="width: 100%"></mat-divider>

          <div class="header-container flex flex-row justify-between items-center">
            <label class="mat-h1" translate>adaptationAction.form2.relationshipInstruments</label>
          </div>

          <div class="flex flex-col justify-between items-center">
            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.namePlanningInstrument</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.instrument?.name }}</h3>
            </div>
          </div>

          <mat-divider style="width: 100%"></mat-divider>

          <div class="header-container flex flex-row justify-between items-center">
            <label class="mat-h1" translate>adaptationAction.form2.climateRelatedHazard</label>
          </div>

          <div class="flex flex-col justify-between items-center">
            <div class="flex flex-col">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.relatedClimateThreat</h3>
              <div>
                <mat-list class="custom-list-element">
                  <mat-list-item *ngFor="let element of adaptationAction?.climate_threat?.type_climate_threat">
                    {{ element.code }} - {{ element.name }}</mat-list-item
                  >
                </mat-list>
              </div>
            </div>

            <div *ngIf="adaptationAction?.climate_threat?.other_type_climate_threat" class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.relatedClimateThreatOther</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.climate_threat?.other_type_climate_threat }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.descriptionRelatedClimateThreat</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.climate_threat?.description_climate_threat }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.descriptionVulnerability</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.climate_threat?.vulnerability_climate_threat }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.descriptionElementsExposed</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.climate_threat?.exposed_elements }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.descriptionLossesDamages</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.climate_threat?.description_losses }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.descriptionClimateRelatedRisks</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.climate_threat?.description_risks }}</h3>
            </div>
          </div>

          <mat-divider style="width: 100%"></mat-divider>

          <div class="header-container flex flex-row justify-between items-center">
            <label class="mat-h1" translate>adaptationAction.form2.implementation</label>
          </div>

          <div class="flex flex-col justify-between items-center">
            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.startImplementation</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.implementation?.start_date }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.endImplementation</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.implementation?.end_date }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.responsibleExecuting</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.implementation?.responsible_entity }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.otherEntitiesInvolved</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.implementation?.other_entity }}</h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form2.actionCode</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ adaptationAction?.code }}</h3>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab [label]="'adaptationAction.form3.title' | translate">
        <div class="tab-container flex flex-col justify-start items-start flex-fill">
          <div class="header-container flex flex-row justify-between items-center">
            <label class="mat-h1" translate>adaptationAction.form3.financingInfo</label>
            <button
              *ngIf="adaptationAction.comments || edit"
              (click)="openCommentsModal(commentsModule3, 2)"
              mat-icon-button
            >
              <mat-icon>comment</mat-icon>
            </button>
          </div>

          <div class="flex flex-col justify-between items-center">
            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form3.status</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{
                  adaptationAction?.finance?.status
                    ? adaptationActionFinanceStatusType[adaptationAction?.finance?.status?.code]
                    : ''
                }}
              </h3>
            </div>

            <div *ngIf="adaptationAction?.finance?.administration" class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form3.stepsFinancing</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{ adaptationAction?.finance?.administration }}
              </h3>
            </div>

            <div class="flex flex-col">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form3.sourceFinancing</h3>
              <mat-list class="custom-list-element">
                <mat-list-item *ngFor="let element of adaptationAction?.finance?.source">
                  {{ element.name }}</mat-list-item
                >
              </mat-list>
            </div>

            <div class="flex flex-col">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form3.financingInstrument</h3>
              <mat-list class="custom-list-element">
                <mat-list-item *ngFor="let element of adaptationAction?.finance?.finance_instrument">
                  {{ element.name }}</mat-list-item
                >
              </mat-list>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title">Presupuesto</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{ adaptationAction?.finance?.currency }} - {{ adaptationAction?.finance?.budget }}
              </h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>mitigationAction.referenceYear</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{ adaptationAction?.finance?.year }}
              </h3>
            </div>
          </div>

          <div class="header-container flex flex-row justify-between items-center">
            <label class="mat-h1" translate> adaptationAction.form3.actionsfinancedInternationalSources</label>
          </div>

          <div class="flex flex-col justify-between items-center">
            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form3.mideplanRegistes</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{ adaptationAction?.finance?.mideplan?.registry === '1' ? 'Si' : 'No' }}
              </h3>
            </div>
          </div>

          <div class="flex flex-col justify-between items-center">
            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form3.projectNameRegistered</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{ adaptationAction?.finance?.mideplan?.name }}
              </h3>
            </div>
          </div>

          <div class="flex flex-col justify-between items-center">
            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form3.executingEntity</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{ adaptationAction?.finance?.mideplan?.entity }}
              </h3>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab [label]="'adaptationAction.form4.title' | translate">
        <div class="tab-container flex flex-col justify-start items-start flex-fill">
          <div class="header-container flex flex-row justify-between items-center">
            <label class="mat-h1" translate>adaptationAction.form4.title</label>
            <button
              *ngIf="adaptationAction.comments || edit"
              (click)="openCommentsModal(commentsModule4, 3)"
              mat-icon-button
            >
              <mat-icon>comment</mat-icon>
            </button>
          </div>
          <mat-accordion class="custom-card">
            <mat-expansion-panel *ngFor="let indicator of adaptationAction.indicator_list">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ indicator.name }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="header-container flex flex-row justify-between items-center">
                <label class="mat-h1" translate>adaptationAction.form4.RegisterIindicators</label>
              </div>

              <div class="flex flex-col justify-between items-center">
                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>adaptationAction.form4.indicatorName</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ indicator?.name }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>adaptationAction.form4.indicatorDescription</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ indicator?.description }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>mitigationAction.indicatorUnit</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ indicator?.unit }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>adaptationAction.form4.calculationMethodology</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ indicator?.methodological_detail }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>mitigationAction.indicatorReportingPeriodicity</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{
                      indicator?.reporting_periodicity
                        ? reportingPeriodicityStructure[indicator?.reporting_periodicity]
                        : ''
                    }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <div class="flex flex-row">
                    <h3 class="mat-h3 txt-title" translate>mitigationAction.timeSeriesAvailable</h3>
                    <h3 class="mat-h3 txt-separator">:</h3>
                    <h3 class="mat-h3">
                      {{ indicator?.available_time_start_date }}
                    </h3>
                  </div>

                  <div class="txt-separator flex flex-row">
                    <h3 class="mat-h3 txt-title" translate>general.until</h3>
                    <h3 class="mat-h3 txt-separator">:</h3>
                    <h3 class="mat-h3">
                      {{ indicator?.available_time_end_date }}
                    </h3>
                  </div>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>mitigationAction.geographicCoverage</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ indicator?.geographic_coverage ? geographicCoverage[indicator?.geographic_coverage] : '-' }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>mitigationAction.disintegration</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ indicator?.disaggregation }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>mitigationAction.dataSource</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ indicator?.limitation }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>mitigationAction.howSustainabilityIndicator</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ indicator?.additional_information }}
                  </h3>
                </div>
                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>mitigationAction.observationsComments</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ indicator?.comments }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>adaptationAction.form4.indicatorBaseline</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ indicator?.indicator_base_line }}
                  </h3>
                </div>

                <div class="header-container flex flex-row justify-around items-center">
                  <label class="mat-h1" translate> mitigationAction.indicatorDataSource</label>
                </div>

                <div class="flex flex-col justify-between items-center">
                  <div class="flex flex-row">
                    <h3 class="mat-h3 txt-title" translate>mitigationAction.responsibleInstitution</h3>
                    <h3 class="mat-h3 txt-separator">:</h3>
                    <h3 class="mat-h3">
                      {{ indicator?.information_source?.responsible_institution }}
                    </h3>
                  </div>

                  <div class="flex flex-col">
                    <h3 class="mat-h3 txt-title" translate>adaptationAction.form4.sourceType</h3>
                    <mat-list class="custom-list-element">
                      <mat-list-item *ngFor="let element of indicator?.information_source?.type_information">
                        {{ element.name }}</mat-list-item
                      >
                    </mat-list>
                  </div>

                  <div class="flex flex-row">
                    <h3 class="mat-h3 txt-title" translate>adaptationAction.form4.sourceTypeDetail</h3>
                    <h3 class="mat-h3 txt-separator">:</h3>
                    <h3 class="mat-h3">
                      {{ indicator?.information_source?.Other_type }}
                    </h3>
                  </div>

                  <div class="flex flex-row">
                    <h3 class="mat-h3 txt-title" translate>mitigationAction.statisticalOperationName</h3>
                    <h3 class="mat-h3 txt-separator">:</h3>
                    <h3 class="mat-h3">
                      {{ indicator?.information_source?.statistical_operation }}
                    </h3>
                  </div>
                </div>

                <div class="header-container flex flex-row justify-around items-center">
                  <label class="mat-h1" translate>reportData.thematicCategorization</label>
                </div>

                <div class="flex flex-col justify-between items-center">
                  <div class="flex flex-row">
                    <h3 class="mat-h3 txt-title" translate>mitigationAction.datatype</h3>
                    <h3 class="mat-h3 txt-separator">:</h3>
                    <h3 class="mat-h3">
                      {{ indicator?.type_of_data?.name }}
                    </h3>
                  </div>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>mitigationAction.datatypeDetail</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ '-' }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>mitigationAction.SINAMECCClassifiers</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ (indicator?.classifier)[0]?.name }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>
                    <span translate>mitigationAction.SINAMECCClassifiers</span> (<span translate>general.other</span>)
                  </h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ '-' }}
                  </h3>
                </div>

                <div class="header-container flex flex-row justify-around items-center">
                  <label class="mat-h1" translate>adaptationAction.form4.contactInfo</label>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>adaptationAction.form4.contactName</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ indicator?.contact?.contact_name }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>reportData.institution</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ indicator?.contact?.institution }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>reportData.department</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ indicator?.contact?.contact_position }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>admin.email</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ indicator?.contact?.email }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>info.telephone</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ indicator?.contact?.phone }}
                  </h3>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-tab>
      <mat-tab [label]="'adaptationAction.form5.title' | translate">
        <div class="tab-container flex flex-col justify-start items-start flex-fill">
          <div class="header-container flex flex-row justify-between items-center">
            <label class="mat-h1" translate>mitigationAction.monitoringProgressLog</label>
            <button
              *ngIf="adaptationAction.comments || edit"
              (click)="openCommentsModal(commentsModule5, 4)"
              mat-icon-button
            >
              <mat-icon>comment</mat-icon>
            </button>
          </div>

          <div class="flex flex-col justify-between items-center">
            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form4.statusReportingPeriod</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{
                  adaptationAction?.progress_log?.action_status
                    ? actionStateSinamecc[adaptationAction?.progress_log?.action_status]
                    : ''
                }}
              </h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form4.progressMonitoringClimateAction</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{ adaptationAction?.progress_log?.progress_monitoring === '1' ? 'Si' : 'No' }}
              </h3>
            </div>
          </div>

          <div class="header-container flex flex-row justify-between items-center">
            <label class="mat-h1" translate>mitigationAction.indicatorMonitoring</label>
          </div>
          <mat-accordion class="custom-card">
            <mat-expansion-panel *ngFor="let element of adaptationAction?.indicator_monitoring_list">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ element.indicator.name }}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="flex flex-col justify-between items-center">
                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>adaptationAction.form5.selectIndicador</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ element?.indicator?.name }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <div class="flex flex-row">
                    <h3 class="mat-h3 txt-title" translate>mitigationAction.reportingPeriod</h3>
                    <h3 class="mat-h3 txt-separator">:</h3>
                    <h3 class="mat-h3">
                      {{ element?.start_date }}
                    </h3>
                  </div>

                  <div class="txt-separator flex flex-row">
                    <h3 class="mat-h3 txt-title" translate>general.until</h3>
                    <h3 class="mat-h3 txt-separator">:</h3>
                    <h3 class="mat-h3">
                      {{ element?.end_date }}
                    </h3>
                  </div>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>mitigationAction.indicatorDataUpdateDate</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ element?.update_date }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>adaptationAction.form4.dataWantUpdate</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ element?.data_to_update }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>adaptationAction.form4.indicatorVerificationSource</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ (element?.indicator_source)[0]?.name }}
                  </h3>
                </div>

                <div class="flex flex-row">
                  <h3 class="mat-h3 txt-title" translate>adaptationAction.form4.attachSupportMonitoring</h3>
                  <h3 class="mat-h3 txt-separator">:</h3>
                  <h3 class="mat-h3">
                    {{ '-' }}
                  </h3>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>

          <div class="header-container flex flex-row justify-between items-center">
            <label class="mat-h1" translate>mitigationAction.generalProgressReportClimateAction</label>
          </div>

          <div class="flex flex-col justify-between items-center">
            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form4.descriptiveWay</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{ adaptationAction?.general_report?.description }}
              </h3>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab [label]="'adaptationAction.form6.title' | translate">
        <div class="tab-container flex flex-col justify-start items-start flex-fill">
          <div class="header-container flex flex-row justify-between items-center">
            <label class="mat-h1" translate>adaptationAction.form6.actionImpact</label>
            <button
              *ngIf="adaptationAction.comments || edit"
              (click)="openCommentsModal(commentsModule6, 5)"
              mat-icon-button
            >
              <mat-icon>comment</mat-icon>
            </button>
          </div>

          <div class="flex flex-col justify-between items-center">
            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form6.temporalityImpact</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{ (adaptationAction?.action_impact?.temporality_impact)[0]?.name }}
              </h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form6.impactsAction</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{ adaptationAction?.action_impact?.unwanted_action }}
              </h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form6.genderEquity</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{ adaptationAction?.action_impact?.gender_equality }}
              </h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form6.contributesGenderEquity</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{ adaptationAction?.action_impact?.gender_equality_description }}
              </h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form6.sustainableDevelopment</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">{{ '-' }}</h3>
            </div>

            <div class="flex flex-col">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form6.sustainableDevelopment</h3>
              <mat-list class="custom-list-element">
                <mat-list-item *ngFor="let element of adaptationAction?.action_impact?.ods">
                  {{ element.name }}</mat-list-item
                >
              </mat-list>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form6.generatedImpact</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{ adaptationAction?.action_impact?.unwanted_action_description }}
              </h3>
            </div>

            <div class="flex flex-row">
              <h3 class="mat-h3 txt-title" translate>adaptationAction.form6.annexSupporting</h3>
              <h3 class="mat-h3 txt-separator">:</h3>
              <h3 class="mat-h3">
                {{ '-' }}
              </h3>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
