<div class="container">
    <mat-card-content>
      <form *ngIf="newFormData | async"  [formGroup]="form" (ngSubmit)="submitForm()">

        <div fxLayout="column">
            <mat-vertical-stepper formArrayName="formArray" linear #stepper>


              <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
                  <ng-template matStepLabel>
                    <span translate>mitigationAction.monitoringProgressLog</span>
                  </ng-template>

                  <span translate>mitigationAction.anyProgressMonitoringRecordedClimateActions</span><br /><br />
                  <mat-radio-group class="custom-radio-group" formControlName="anyProgressMonitoringRecordedClimateActionsCtrl">
                    <mat-radio-button [style.margin.px]="5"
                      [value]="1">
                      <label translate>general.yes</label>
                    </mat-radio-button>
                    <mat-radio-button [style.margin.px]="5"
                      [value]="2">
                      <label translate>No</label>
                    </mat-radio-button>
                  </mat-radio-group>
                  <br /> 

              </mat-step>

              <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
                  <ng-template matStepLabel>
                    <span translate>mitigationAction.indicatorMonitoring</span>
                  </ng-template>

                  <span translate>mitigationAction.indicatorSelection</span><br /><br />
                  <mat-radio-group class="custom-radio-group" formControlName="indicatorSelectionCtrl">
                    <mat-radio-button  *ngFor="let item of indicator" [style.margin.px]="5"
                      [value]="item.id">
                      <label translate>{{item.name}}</label>
                    </mat-radio-button>
    
                  </mat-radio-group>
                  <br /> 

                  <div fxLayout="row" fxLayoutAlign="start center">

                    <mat-form-field [style.width.%]="100"  class="ppcn-field">
                  <mat-label translate>mitigationAction.reportingPeriod</mat-label>
                  
                  <input matInput
                  [placeholder]="'Choose a date' | translate"
                  [matDatepicker]="reportingPeriodStartDateDatePicker"
                  formControlName="reportingPeriodStartCtrl" />

                  <mat-datepicker-toggle matSuffix [for]="reportingPeriodStartDateDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #reportingPeriodStartDateDatePicker startView="year" ></mat-datepicker>

                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>

                <mat-form-field [style.width.%]="100"  class="ppcn-field">
                  <mat-label translate>general.until</mat-label>
                  
                  <input matInput
                  [placeholder]="'Choose a date' | translate"
                  [matDatepicker]="reportingPeriodEndDateDatePicker"
                  formControlName="reportingPeriodEndCtrl" />

                  <mat-datepicker-toggle matSuffix [for]="reportingPeriodEndDateDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #reportingPeriodEndDateDatePicker startView="year" ></mat-datepicker>

                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>

                  </div>
                   <br /> 

                  <mat-form-field [style.width.%]="100"  class="ppcn-field">
                  <mat-label translate>mitigationAction.indicatorDataUpdateDate</mat-label>
                  
                  <input matInput
                  [placeholder]="'Choose a date' | translate"
                  [matDatepicker]="indicatordataUpdateDateDatePicker"
                  formControlName="indicatorDataUpdateDateCtrl" />

                  <mat-datepicker-toggle matSuffix [for]="indicatordataUpdateDateDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #indicatordataUpdateDateDatePicker startView="year" ></mat-datepicker>

                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>
                 <br /> 
                 
                 <mat-form-field [style.margin-right]="'10px'" [style.width.%]="100"  class="ppcn-field">
                  <mat-label translate>mitigationAction.informationToUpdate</mat-label>
                  <input type="text" matInput formControlName="informationToUpdateCtrl" required />
                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>

              </mat-step>

              <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">

                <ng-template matStepLabel>
                    <span translate>mitigationAction.generalProgressReportClimateAction</span>
                </ng-template>

                <mat-form-field [style.width.%]="100"  class="ppcn-field">
                  <mat-label translate>mitigationAction.reportingPeriod</mat-label>
                  
                  <input matInput
                  [placeholder]="'Choose a date' | translate"
                  [matDatepicker]="reportingPeriodDatePicker"
                  formControlName="reportingPeriodCtrl" />

                  <mat-datepicker-toggle matSuffix [for]="reportingPeriodDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #reportingPeriodDatePicker startView="year"></mat-datepicker>

                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>

                <mat-form-field [style.margin-right]="'10px'" [style.width.%]="100"  class="ppcn-field">
                  <mat-label translate>mitigationAction.beenProgressActionPeriod</mat-label>
                  <input type="text" matInput formControlName="beenProgressActionPeriodCtrl" required />
                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>

               
              </mat-step>

               <mat-step>
                  <ng-template matStepLabel> <span translate> specificLabel.confirmInformation </span></ng-template>

                  <div *ngIf="form.valid; else elseBlock" translate>specificLabel.everythingCorrect </div>

                  <ng-template #elseBlock translate>Check the form for any errors marked in red</ng-template>
                  <div class="align-right">
                    <app-generic-button type="submit" [disabled]="wasSubmittedSuccessfully" name="general.done">
                    </app-generic-button>
                  </div>
               </mat-step>
            

            </mat-vertical-stepper>
        </div>

      </form>
    </mat-card-content>
</div>