<div class="container">
  <mat-card>
    <h3>
      <mat-card-title>
        <span class="section-heading" translate>
          Nueva acción de adaptación
        </span>
        <mat-divider class="divider-custom"></mat-divider>
        <mat-divider class="divider-custom"></mat-divider>
      </mat-card-title>
    </h3>

    <form [formGroup]="mainGroup">
      <mat-horizontal-stepper formArrayName="formArray" linear #stepper>
        <mat-step [stepControl]="formArray?.get([0])">
          <ng-template matStepLabel>
            <span translate>Registro general</span>
          </ng-template>
          <app-general-register [mainStepper]="stepper"></app-general-register>
        </mat-step>

        <mat-step [stepControl]="formArray?.get([1])">
          <ng-template matStepLabel>
            <span translate>Reporte de Acciones de Adaptación</span>
          </ng-template>
          <app-adaptation-actions-report [mainStepper]="stepper"></app-adaptation-actions-report>
        </mat-step>

        <mat-step [stepControl]="formArray?.get([2])">
          <ng-template matStepLabel>
            <span translate>Financiamiento</span>
          </ng-template>
          <app-adaptation-actions-financing [mainStepper]="stepper"></app-adaptation-actions-financing>
        </mat-step>

        <mat-step [stepControl]="formArray?.get([3])">
          <ng-template matStepLabel>
            <span translate>Registro de indicadores</span>
          </ng-template>
          <app-adaptation-actions-indicators [mainStepper]="stepper"></app-adaptation-actions-indicators>
        </mat-step>

        <mat-step [stepControl]="formArray?.get([4])">
          <ng-template matStepLabel>
            <span translate>Monitoreo y seguimiento de acciones climáticas a través del SINAMECC</span>
          </ng-template>
          <app-adaptation-actions-climate-monitoring
            [mainStepper]="stepper"
          ></app-adaptation-actions-climate-monitoring>
        </mat-step>

        <mat-step [stepControl]="formArray?.get([5])">
          <ng-template matStepLabel>
            <span translate>Impacto de la acción</span>
          </ng-template>
          <app-adaptation-actions-action-impact></app-adaptation-actions-action-impact>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </mat-card>
</div>
