<div class="container">
  <mat-card>
    <h3>
      <mat-card-title>
        <span class="section-heading" translate>
          {{ edit ? 'Actualizar acción de adaptación' : ' Nueva acción de adaptación' }}
        </span>
        <mat-divider class="divider-custom"></mat-divider>
        <mat-divider class="divider-custom"></mat-divider>
      </mat-card-title>
    </h3>

    <form *ngIf="!loading" [formGroup]="mainGroup">
      <mat-horizontal-stepper formArrayName="formArray" #stepper>
        <mat-step [stepControl]="formArray?.get([0])">
          <ng-template matStepLabel>
            <span translate>adaptationAction.form1.title</span>
          </ng-template>
          <app-general-register [mainStepper]="stepper"></app-general-register>
        </mat-step>

        <mat-step [stepControl]="formArray?.get([1])">
          <ng-template matStepLabel>
            <span translate>adaptationAction.form2.title</span>
          </ng-template>
          <app-adaptation-actions-report
            [adaptationActionUpdated]="adaptationAction"
            [edit]="edit"
            [mainStepper]="stepper"
          ></app-adaptation-actions-report>
        </mat-step>

        <mat-step [stepControl]="formArray?.get([2])">
          <ng-template matStepLabel>
            <span translate>adaptationAction.form3.title</span>
          </ng-template>
          <app-adaptation-actions-financing
            [edit]="edit"
            [adaptationActionUpdated]="adaptationAction"
            [mainStepper]="stepper"
          ></app-adaptation-actions-financing>
        </mat-step>

        <mat-step [stepControl]="formArray?.get([3])">
          <ng-template matStepLabel>
            <span translate>adaptationAction.form4.title</span>
          </ng-template>
          <app-adaptation-actions-indicators
            [edit]="edit"
            [adaptationActionUpdated]="adaptationAction"
            [mainStepper]="stepper"
          ></app-adaptation-actions-indicators>
        </mat-step>

        <mat-step [stepControl]="formArray?.get([4])">
          <ng-template matStepLabel>
            <span translate>adaptationAction.form5.title</span>
          </ng-template>
          <app-adaptation-actions-climate-monitoring
            [mainStepper]="stepper"
            [edit]="edit"
            [adaptationActionUpdated]="adaptationAction"
          ></app-adaptation-actions-climate-monitoring>
        </mat-step>

        <mat-step [stepControl]="formArray?.get([5])">
          <ng-template matStepLabel>
            <span translate>adaptationAction.form6.title</span>
          </ng-template>
          <app-adaptation-actions-action-impact
            [edit]="edit"
            [adaptationActionUpdated]="adaptationAction"
          ></app-adaptation-actions-action-impact>
        </mat-step>
      </mat-horizontal-stepper>
    </form>

    <div fxFill fxLayout="column" fxLayoutAlign="center center" *ngIf="loading">
      <mat-spinner></mat-spinner>
      <h1>Cargando</h1>
    </div>
  </mat-card>
</div>
