<div class="container">
  <mat-card>
    <h3>
      <mat-card-title>
        <span translate class="section-heading">ppcn.createPPCN</span>
        <mat-divider class="divider-custom"></mat-divider>
        <mat-divider class="divider-custom"></mat-divider>
      </mat-card-title>
    </h3>
    <form [formGroup]="mainGroup">
      <mat-horizontal-stepper [linear]="true" formArrayName="formArray" #stepper>
        <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
          <ng-template matStepLabel><span translate>geographyLabel.geographicLevel</span></ng-template>
          <app-ppcn-level [level]="editLevel"></app-ppcn-level>
          <div class="align-right">
            <app-generic-button [disabled]="!levelId" (click)="stepper.next();" name="general.next">
            </app-generic-button>
          </div>
        </mat-step>

        <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
          <ng-template matStepLabel><span translate>ppcn.PPCNForm</span></ng-template>
          <app-ppcn-new [editForm]="editForm" [idPpcnEdit]="idPpcnEdit" > </app-ppcn-new>
          <div class="align-right">
            <app-generic-button-secondary (click)="stepper.previous();" name="general.back">
            </app-generic-button-secondary>
          </div>

        </mat-step>



      </mat-horizontal-stepper>
    </form>
    <!-- <div class="margin-20">
      <div>form main group details:-</div>
      <pre>Is mainGroup valid?: <br />{{mainGroup.valid | json}}</pre>
      <pre>form value: <br />{{mainGroup.value | json}}</pre>
    </div> -->
  </mat-card>
</div>
