<div class="container">
  <mat-card-content>
    <form *ngIf="newFormData | async" [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="form-error" [hidden]="!error || isLoading" translate>
        <span translate>errorLabel.errorSubmittingForm</span>
      </div>
      <br />
      <div fxLayout="column">

        <mat-vertical-stepper formArrayName="formArray" linear>
          <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
            <ng-template matStepLabel>
              <span translate>general.objectives</span>
            </ng-template>

            <h3>
              <span translate>info.code</span>:<span>{{mitigationAction?.id}}</span>
            </h3>

            <mat-form-field class="field-ppcn">
              <textarea matInput formControlName="actionObjectiveCtrl" [placeholder]="'mitigationAction.ObjectiveMA' | translate"
                matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="20"></textarea>
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn">

              <mat-select formControlName="actionStatusCtrl" [placeholder]="'mitigationAction.MAstatus' | translate">

                <mat-option *ngFor="let status of processedNewFormData.statuses" [value]="status.id">
                  {{ status.status }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <br />

            <mat-form-field class="field-ppcn">
              <mat-label translate>mitigationAction.StartMA</mat-label>
              <input matInput [matDatepicker]="implementationInitialDatePicker" [placeholder]="'info.chooseDate' | translate"
                formControlName="implementationInitialDateCtrl">
              <mat-datepicker-toggle matSuffix [for]="implementationInitialDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #implementationInitialDatePicker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn">
              <mat-label translate>mitigationAction.lastMA</mat-label>
              <input matInput [matDatepicker]="implementationEndDatePicker" [placeholder]="'info.chooseDate' | translate"
                formControlName="implementationEndDateCtrl">
              <mat-datepicker-toggle matSuffix [for]="implementationEndDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #implementationEndDatePicker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>


           <div class="box-button">
              <button type="button" mat-button matStepperNext class="mat-raised-button mat-primary customSinameccButton">
                <span translate>general.next</span>
                <mat-icon color="white">arrow_forward</mat-icon>
              </button>
            </div>


          </mat-step>

          <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">

            <ng-template matStepLabel>
              <div translate>geographyLabel.geographicScale</div>
            </ng-template>

            <mat-form-field class="field-ppcn">
              <mat-select [placeholder]="'geographyLabel.geographicScale' | translate" formControlName="geographicScaleCtrl">
                <mat-option *ngFor="let geographicScale of processedNewFormData.geographic_scales" [value]="geographicScale.id">{{geographicScale.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <br />
            <div class="box-button">
                <button type="button" mat-button matStepperPrevious>
                  <mat-icon color="white">arrow_back</mat-icon>
                  <span translate>general.back</span>
                </button>
                <button type="button" mat-button matStepperNext class="mat-raised-button mat-primary customSinameccButton">
                  <span translate>general.next</span>
                  <mat-icon color="white">arrow_forward</mat-icon>
                </button>
            </div>
          </mat-step>

          <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">

            <ng-template matStepLabel>
              <div translate>info.location</div>
            </ng-template>
            <mat-form-field class="field-ppcn">
              <mat-label translate>geographyLabel.geographicSite</mat-label>
              <input matInput formControlName="locationNameCtrl">
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <br />

            <mat-label translate>specificLabel.GISInformationAnnexed</mat-label>?
            <mat-radio-group matInput formControlName="gisAnnexedCtrl">
              <mat-radio-button value="1"><span translate> general.yes </span></mat-radio-button>
              <mat-radio-button value="0"><span translate>general.no </span></mat-radio-button>
            </mat-radio-group>
            <div class="box-button">
              <button type="button" mat-button matStepperPrevious>
                <mat-icon color="white">arrow_back</mat-icon>
                <span translate>general.back</span>
              </button>
              <button type="button" mat-button matStepperNext class="mat-raised-button mat-primary customSinameccButton">
                <span translate>general.next</span>
                <mat-icon color="white">arrow_forward</mat-icon>
              </button>
            </div>
          </mat-step>

          <mat-step formGroupName="3" [stepControl]="formArray?.get([3])">

            <ng-template matStepLabel>
              <div translate>specificLabel.financing</div>
            </ng-template>
            <mat-form-field class="field-ppcn">
              <mat-label translate>specificLabel.financeStatus</mat-label>
              <mat-select formControlName="financingStatusCtrl" [placeholder]="'specificLabel.financeSourceStatus' | translate"
                (selectionChange)="financialSourceInputShown($event)">
                <mat-option *ngFor="let financeStatus of processedNewFormData.finance_status" [value]="financeStatus.id">
                  {{ financeStatus.status }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br />

            <div *ngIf="displayFinancialSource">
              <mat-form-field class="field-ppcn">
                <mat-label translate>specificLabel.caseInsuredListSources</mat-label>
                <input matInput formControlName="financingSourceCtrl">
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>
            </div>
            <br />

            <mat-label translate>specificLabel.gasInventory</mat-label>
            <mat-radio-group matInput formControlName="gasInventoryCtrl">
              <mat-radio-button value="1" translate class="mat-primary"><span translate>general.energy</span></mat-radio-button>
            </mat-radio-group>
            <br />
            <div class="box-button">
                <button type="button" mat-button matStepperPrevious >
                  <mat-icon color="white">arrow_back</mat-icon>
                  <span translate>general.back</span>
                </button>
                <button type="button" mat-button matStepperNext class="mat-raised-button mat-primary customSinameccButton">
                  <span translate>general.next</span>
                  <mat-icon color="white">arrow_forward</mat-icon>
                </button>
              </div>
          </mat-step>


          <mat-step>
            <ng-template matStepLabel> <span translate> specificLabel.confirmInformation </span></ng-template>
            
            <div *ngIf="form.valid; else elseBlock" translate>specificLabel.everythingCorrect</div>
            
            <ng-template #elseBlock translate>Check the form for any errors marked in red</ng-template>
            <div class="align-right">
              <button class="customSinameccButton" mat-raised-button type="submit" color="primary" [disabled]="wasSubmittedSuccessfully"><span translate>general.done</span></button>
            </div>
          </mat-step>
          <!-- <div class="margin-20">
              <div>form details:-</div>
              <pre>Is myForm valid?: <br>{{form.valid | json}}</pre>
              <pre>form value: <br>{{form.value | json}}</pre>
              <pre>formArray?.get([0]) : <br>{{formArray?.get([0]) | json }}</pre>
              <pre>first step valid? : <br>{{formArray?.get([0]).valid | json}}</pre>
  
            </div> -->
        </mat-vertical-stepper>

        

      </div>
    </form>
  </mat-card-content>
</div>
