<div class="container-custom">
  <div class="header-container flex flex-col justify-center items-center">
    <h2 translate>general.keyAspects</h2>
  </div>
  <h1>{{ mitigationAction?.code }}</h1>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form *ngIf="newFormData | async" [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="report-error" [hidden]="!error || isLoading || !errorComponent.showErrors" translate>
        <app-error-reporting #errorComponent [errorMessage]="'errorLabel.errorSubmittingForm'"></app-error-reporting>
      </div>

      <br />
      <div class="flex flex-col">
        <mat-vertical-stepper formArrayName="formArray" linear #stepper (selectedIndexChange)="onStepChange()">
          <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
            <ng-template matStepLabel>
              <span>3.1 - </span><span translate>mitigationAction.overviewImpactEmissionsRemovals</span>
            </ng-template>

            <mat-form-field class="field-ppcn">
              <mat-label translate
                >3.1.1 - <span translate>mitigationAction.overviewImpactEmissionsRemovals</span></mat-label
              >
              <input matInput formControlName="overviewImpactEmissionsRemovalsCtrl" />
            </mat-form-field>
            <br />

            <div class="flex flex-col xl:flex-row gap-2 xl:gap-6 justify-center w-full">
              <mat-form-field class="field-ppcn w-full xl:flex-1 min-w-[250px] mb-0 xl:mb-0">
                <mat-label translate
                  >3.1.2 - <span translate>mitigationAction.graphicLogicImpactEmissionsRemovals</span></mat-label
                >
                <input matInput formControlName="graphicLogicImpactEmissionsRemovalsCtrl" />
                <mat-hint
                  ><span translate>mitigationAction.graphicLogicImpactEmissionsRemovalsHint</span>
                  <a target="_blank" href="https://drive.google.com/file/d/10IMk4cghz5CuCQzjgYPDBGoot-8Y82FA/view"
                    >Link</a
                  ></mat-hint
                >
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>
              <div class="w-full xl:w-auto flex items-start justify-start">
                <app-upload-button
                  class="w-full"
                  accept=".rar,application/pdf,.zip"
                  [type]="maFileType.GHG_INFORMATION"
                  [filesUploaded]="ghg_information.filesUploaded"
                  (fileChange)="uploadFile($event)"
                />
              </div>
              <br />
            </div>

            <br />

            <mat-form-field class="field-ppcn" appearance="fill">
              <mat-label translate
                >3.1.3 - <span translate>mitigationAction.sectorsGEIInventoryImpacted</span></mat-label
              >
              <mat-select formControlName="impactSectorCtrl" multiple>
                <mat-option *ngFor="let option of processedNewFormData?.ghg_impact_sector" [value]="option.id">
                  {{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <br />

            <mat-form-field class="field-ppcn" appearance="fill">
              <mat-label translate
                >3.1.4 -
                <span translate>mitigationAction.preliminaryIdentificationSustainableDevelopmentGoals</span></mat-label
              >
              <mat-select formControlName="goalsCtrl" multiple>
                <mat-option
                  *ngFor="let option of processedNewFormData?.sustainable_development_goals"
                  [value]="option.id"
                >
                  {{ option.code }} - {{ option.description }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div class="box-button">
              <button type="button" matRipple (click)="stepper.next()" class="primary-button">
                <span translate>general.next</span>
              </button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel> <span translate> specificLabel.confirmInformation </span></ng-template>

            <div *ngIf="form.valid; else elseBlock" translate>specificLabel.everythingCorrect</div>

            <ng-template #elseBlock translate>Check the form for any errors marked in red</ng-template>
            <div class="align-right">
              <button [disabled]="wasSubmittedSuccessfully" type="submit" matRipple class="primary-button">
                <span translate>general.done</span>
              </button>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </form>
  </mat-card-content>
</div>
