<div class="container">
  <mat-card-content>
    <form *ngIf="newFormData | async" [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="form-error" [hidden]="!error || isLoading" translate>
        <span translate>Error submitting the form.</span>
      </div>
      <br />
      <div fxLayout="column">

        <mat-vertical-stepper formArrayName="formArray" linear>
          <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
            <ng-template matStepLabel>
              <span translate>Impact and Implementation</span>
            </ng-template>

            <h3>
              <span translate>Code</span>:<span>{{mitigationAction?.id}}</span>
            </h3>

            <mat-form-field class="field-ppcn">
              <mat-label translate>Impact of mitigation action</mat-label>
              <input matInput formControlName="mitigationActionImpactCtrl">
              <mat-error translate>The input is required.</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn">
              <mat-label translate>Bibliographical Sources</mat-label>
              <input matInput formControlName="bibliographicalSourcesCtrl">
              <mat-error translate>The input is required.</mat-error>
            </mat-form-field>
            <br />

            <mat-label translate>International Market Participation?</mat-label>
            <mat-radio-group matInput formControlName="internationalParticipationCtrl">
              <mat-radio-button value="1" class="mat-primary"> <span translate> Yes </span></mat-radio-button>
              <mat-radio-button value="0" class="mat-primary"><span translate> No </span></mat-radio-button>

            </mat-radio-group>

            <br />

            <mat-form-field class="field-ppcn">
              <mat-label translate>International Market Participation</mat-label>
              <input matInput formControlName="internationalParticipationDetailCtrl">
              <mat-error translate>The input is required.</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field class="field-ppcn">
              <textarea matInput formControlName="sustainabilityObjectivesCtrl" [placeholder]="'Sustainable Development Objectives' | translate"
                matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="20"></textarea>
              <mat-error translate>This field is required</mat-error>
            </mat-form-field>
            <br />
            <br />
            <div class="center">
              <button type="button" mat-button matStepperPrevious class="mat-raised-button mat-accent">
                <mat-icon color="white">arrow_back</mat-icon>
                <span translate>Back</span>
              </button>
              <button type="button" mat-button matStepperNext class="mat-raised-button mat-primary">
                <span translate>Next</span>
                <mat-icon color="white">arrow_forward</mat-icon>
              </button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel> <span translate> Confirm your information </span></ng-template>
            
            <div *ngIf="form.valid; else elseBlock" translate>Everything seems correct. </div>
            
            <ng-template #elseBlock translate>Check the form for any errors marked in red</ng-template>
            <div class="align-right">
              <button mat-raised-button type="submit" color="primary" [disabled]="wasSubmittedSuccessfully"><span translate>Done</span></button>
            </div>
          </mat-step>
          <!-- <div class="margin-20">
              <div>form details:-</div>
              <pre>Is myForm valid?: <br>{{form.valid | json}}</pre>
              <pre>form value: <br>{{form.value | json}}</pre>
              <pre>formArray?.get([0]) : <br>{{formArray?.get([0]) | json }}</pre>
              <pre>first step valid? : <br>{{formArray?.get([0]).valid | json}}</pre>
  
            </div> -->

        </mat-vertical-stepper>

      </div>
    </form>
  </mat-card-content>
</div>
