<div class="container-custom">
  <div class="header-container flex flex-col justify-center items-center">
    <h2 translate>specificLabel.informationMonitoring</h2>
  </div>
  <h1>{{ mitigationAction?.code }}</h1>
  <mat-card-content>
    <form *ngIf="newFormData | async" [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="report-error" [hidden]="!error || isLoading || !errorComponent.showErrors" translate>
        <span translate>errorLabel.errorSubmittingForm</span>
        <br />
        <app-error-reporting #errorComponent></app-error-reporting>
      </div>
      <br />
      <div class="flex flex-col">
        <div *ngFor="let formElement of getFormKeys(); let i = index">
          <div *ngIf="i > 0">
            <br />
            <mat-divider></mat-divider>
            <br />
          </div>
          <mat-vertical-stepper [formArrayName]="formElement" linear #stepper>
            <mat-step formGroupName="0" [stepControl]="getFormObject(formElement)?.get([0])">
              <ng-template matStepLabel>
                <span>5.1 - </span><span translate>specificLabel.monitoringDetail</span>
              </ng-template>

              <mat-form-field class="field-ppcn">
                <mat-label translate>5.1.1 - <span translate>mitigationAction.indicatorName</span></mat-label>
                <input matInput formControlName="responsibleInstitutionCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>

              <mat-form-field class="field-ppcn">
                <mat-label translate>5.1.2 - <span translate>mitigationAction.indicatorDescription</span></mat-label>
                <input matInput formControlName="indicatorDescriptionCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>
              <br />

              <mat-form-field class="field-ppcn">
                <mat-label translate>5.1.3 - <span translate>mitigationAction.indicatorUnit</span></mat-label>
                <input matInput formControlName="indicatorUnitCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>
              <br />

              <div class="flex flex-row justify-center">
                <mat-form-field class="field-ppcn">
                  <mat-label translate
                    >5.1.4 - <span translate>mitigationAction.methodologicalDetailIndicator</span></mat-label
                  >
                  <input matInput formControlName="methodologicalDetailIndicatorCtrl" />
                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>
                <input type="file" name="methodologicalDetailIndicatorFile" (change)="uploadFile($event)" />
                <br />
              </div>

              <br />

              <div>
                <label class="radio-grup-label" translate
                  >5.1.5 - <span translate>mitigationAction.indicatorReportingPeriodicity</span></label
                >
                <mat-radio-group
                  #indicatorReportingPeriodicity="matRadioGroup"
                  formControlName="indicatorReportingPeriodicityCtrl"
                  class="custom-radio-group"
                >
                  <mat-radio-button [style.margin.px]="5" value="YEARLY">
                    <label translate>general.yearly</label>
                  </mat-radio-button>
                  <mat-radio-button [style.margin.px]="5" value="BIANNUAL">
                    <label translate>general.biannual</label>
                  </mat-radio-button>
                  <mat-radio-button [style.margin.px]="5" value="QUARTERLY">
                    <label translate>general.quarterly</label>
                  </mat-radio-button>
                  <mat-radio-button [style.margin.px]="5" value="OTHER">
                    <label translate>general.other</label>
                  </mat-radio-button>
                </mat-radio-group>
              </div>

              <div *ngIf="indicatorReportingPeriodicity.value === 'OTHER'">
                <mat-form-field class="field-ppcn">
                  <mat-label translate>5.1.5 - <span translate>general.other</span></mat-label>
                  <input matInput formControlName="indicatorReportingPeriodicityOtherCtrl" />
                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>
                <br />
              </div>

              <div class="flex flex-row justify-center">
                <mat-form-field class="field-ppcn">
                  <mat-label translate>5.1.6 - <span translate>mitigationAction.timeSeriesAvailable</span></mat-label>
                  <input
                    matInput
                    [placeholder]="'Desde' | translate"
                    [matDatepicker]="timeSeriesAvailableCtrl"
                    formControlName="timeSeriesAvailableStartCtrl"
                  />

                  <mat-datepicker-toggle matSuffix [for]="timeSeriesAvailableCtrl"></mat-datepicker-toggle>
                  <mat-datepicker #timeSeriesAvailableCtrl startView="year" [startAt]="startDate"></mat-datepicker>

                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>

                <mat-form-field class="field-ppcn">
                  <mat-label translate>general.until</mat-label>
                  <input
                    matInput
                    [matDatepicker]="timeSeriesAvailableEndCtrl"
                    formControlName="timeSeriesAvailableEndCtrl"
                  />

                  <mat-datepicker-toggle matSuffix [for]="timeSeriesAvailableEndCtrl"></mat-datepicker-toggle>
                  <mat-datepicker #timeSeriesAvailableEndCtrl startView="year" [startAt]="startDate"></mat-datepicker>

                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>
              </div>
              <br />

              <div>
                <label class="radio-grup-label" translate
                  >5.1.7 - <span translate>mitigationAction.geographicCoverage</span></label
                >
                <mat-radio-group
                  #geographicCoverage="matRadioGroup"
                  formControlName="geographicCoverageCtrl"
                  class="custom-radio-group"
                >
                  <mat-radio-button [style.margin.px]="5" value="NATIONAL">
                    <label translate>Nacional</label>
                  </mat-radio-button>
                  <mat-radio-button [style.margin.px]="5" value="REGIONAL">
                    <label translate>Regional</label>
                  </mat-radio-button>
                  <mat-radio-button [style.margin.px]="5" value="PROVINCIAL">
                    <label translate>Provincial</label>
                  </mat-radio-button>
                  <mat-radio-button [style.margin.px]="5" value="CANTONAL">
                    <label translate>Cantonal</label>
                  </mat-radio-button>
                  <mat-radio-button [style.margin.px]="5" value="OTHER">
                    <label translate>Otro</label>
                  </mat-radio-button>
                </mat-radio-group>
                <br />
              </div>

              <div *ngIf="geographicCoverage.value === 'OTHER'">
                <mat-form-field class="field-ppcn">
                  <mat-label translate>5.1.7 - <span translate>general.other</span></mat-label>
                  <input matInput formControlName="geographicCoverageOtherCtrl" />
                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>
                <br />
              </div>

              <mat-form-field class="field-ppcn">
                <mat-label translate>5.1.8 - <span translate>mitigationAction.disintegration</span></mat-label>
                <input matInput formControlName="disintegrationCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>

              <mat-form-field class="field-ppcn">
                <mat-label translate>5.1.9 - <span translate>mitigationAction.dataSource</span></mat-label>
                <input matInput formControlName="dataSourceCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>

              <div class="flex flex-row justify-center">
                <mat-form-field class="field-ppcn">
                  <mat-label translate
                    >5.1.10 - <span translate>mitigationAction.howSustainabilityIndicator</span></mat-label
                  >
                  <input matInput formControlName="howSustainabilityIndicatorCtrl" />
                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>
                <input type="file" name="howSustainabilityIndicatorFile" (change)="uploadFile($event)" />
                <br />
              </div>

              <mat-form-field class="field-ppcn">
                <mat-label translate>5.1.11 - <span translate>mitigationAction.observationsComments</span></mat-label>

                <input matInput formControlName="observationsCommentsCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>

              <!--<app-generic-button mat-raised-button (click)="addIndicatorItem()" name="mitigationAction.newIndicator" type="button"
              *ngIf="activityFormGroup?.controls.length <= 10">
          </app-generic-button>
          -->

              <div class="box-button">
                <app-generic-button-secondary type="button" (click)="stepper.previous()" name="general.back">
                </app-generic-button-secondary>
                <button type="button" matRipple (click)="stepper.next()" class="primary-button">
                  <span translate>general.next</span>
                </button>
              </div>
            </mat-step>

            <mat-step formGroupName="1" [stepControl]="getFormObject(formElement)?.get([1])">
              <ng-template matStepLabel>
                <span>5.2 - </span><span translate>mitigationAction.indicatorDataSource</span>
              </ng-template>

              <mat-form-field class="field-ppcn">
                <mat-label translate>5.2.1 - <span translate>mitigationAction.responsibleInstitution</span></mat-label>
                <input matInput formControlName="responsibleInstitutionCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>

              <mat-form-field class="field-ppcn" appearance="fill">
                <mat-label translate>5.2.2 - <span translate>mitigationAction.sourceType</span></mat-label>
                <mat-select #sourceType formControlName="sourceTypeCtrl" multiple>
                  <mat-option [value]="1">
                    <label translate>Censos</label>
                  </mat-option>

                  <mat-option [value]="2">
                    <label translate>Encuesta por muestreo</label>
                  </mat-option>

                  <mat-option [value]="3">
                    <label translate>Combinación de censo y muestreo</label>
                  </mat-option>

                  <mat-option [value]="4">
                    <label translate>Sondeos de opinión</label>
                  </mat-option>

                  <mat-option [value]="5">
                    <label translate>Registro administrativo</label>
                  </mat-option>

                  <mat-option [value]="6">
                    <label translate>Sistema de Monitoreo</label>
                  </mat-option>

                  <mat-option [value]="7">
                    <label translate>Estimación directa</label>
                  </mat-option>

                  <mat-option [value]="8">
                    <label translate>general.other</label>
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div *ngIf="sourceType?.value?.includes(8)">
                <mat-form-field class="field-ppcn">
                  <mat-label translate>5.2.2 - <span translate>general.other</span></mat-label>
                  <input matInput formControlName="sourceTypeOtherCtrl" />
                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>
                <br />
              </div>

              <mat-form-field class="field-ppcn">
                <mat-label translate
                  >5.2.3 - <span translate>mitigationAction.statisticalOperationName</span></mat-label
                >
                <input matInput formControlName="statisticalOperationNameCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>

              <br />

              <div class="box-button">
                <app-generic-button-secondary type="button" (click)="stepper.previous()" name="general.back">
                </app-generic-button-secondary>
                <button type="button" matRipple (click)="stepper.next()" class="primary-button">
                  <span translate>general.next</span>
                </button>
              </div>
            </mat-step>

            <mat-step formGroupName="2" [stepControl]="getFormObject(formElement)?.get([2])">
              <ng-template matStepLabel>
                <span>5.3 - </span><span translate>mitigationAction.thematicCategorization</span>
              </ng-template>

              <div>
                <label class="radio-grup-label" translate
                  >5.3.1 - <span translate>mitigationAction.datatype</span></label
                >
                <mat-radio-group #datatype="matRadioGroup" formControlName="datatypeCtrl" class="custom-radio-group">
                  <mat-radio-button [style.margin.px]="5" [value]="1">
                    <label translate>Gestión</label>
                  </mat-radio-button>
                  <mat-radio-button [style.margin.px]="5" [value]="2">
                    <label translate>Resultados</label>
                  </mat-radio-button>
                  <mat-radio-button [style.margin.px]="5" [value]="3">
                    <label translate>general.other</label>
                  </mat-radio-button>
                </mat-radio-group>
                <br />
              </div>

              <div *ngIf="datatype.value === 3">
                <mat-form-field class="field-ppcn">
                  <mat-label translate>5.3.1 - <span translate>general.other</span></mat-label>
                  <input matInput formControlName="datatypeOtherCtrl" />
                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>
                <br />
              </div>

              <mat-form-field class="field-ppcn" appearance="fill">
                <mat-label translate>5.3.2 - <span translate>mitigationAction.SINAMECCClassifiers</span></mat-label>
                <mat-select #sinameccClassifiers formControlName="sinameccClassifiersCtrl" multiple>
                  <mat-option [value]="1">
                    <label translate>Acción Climática</label>
                  </mat-option>

                  <mat-option [value]="2">
                    <label translate>Modelación</label>
                  </mat-option>

                  <mat-option [value]="3">
                    <label translate>INGEI</label>
                  </mat-option>

                  <mat-option [value]="4">
                    <label translate>Reportes</label>
                  </mat-option>

                  <mat-option [value]="5">
                    <label translate>Finanzas Climaticas</label>
                  </mat-option>

                  <mat-option [value]="6">
                    <label translate>Impactos</label>
                  </mat-option>

                  <mat-option [value]="7">
                    <label translate>general.other</label>
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div *ngIf="sinameccClassifiers?.value?.includes(7)">
                <mat-form-field class="field-ppcn">
                  <mat-label translate>5.3.2 - <span translate>general.other</span></mat-label>
                  <input matInput formControlName="sinameccClassifiersOtherCtrl" />
                  <mat-error translate>errorLabel.fieldRequired</mat-error>
                </mat-form-field>
                <br />
              </div>

              <div class="box-button">
                <app-generic-button-secondary type="button" (click)="stepper.previous()" name="general.back">
                </app-generic-button-secondary>
                <button type="button" matRipple (click)="stepper.next()" class="primary-button">
                  <span translate>general.next</span>
                </button>
              </div>
            </mat-step>

            <mat-step formGroupName="3" [stepControl]="getFormObject(formElement)?.get([3])">
              <ng-template matStepLabel>
                <span>5.4 - </span><span translate>mitigationAction.contactInformation</span>
              </ng-template>

              <mat-form-field class="field-ppcn">
                <mat-label translate>5.4.1 - <span translate>mitigationAction.namePersonResponsible</span></mat-label>
                <input matInput formControlName="namePersonResponsibleCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>

              <mat-form-field class="field-ppcn">
                <mat-label translate>5.4.2 - <span translate>reportData.institution</span></mat-label>
                <input matInput formControlName="institutionCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>

              <mat-form-field class="field-ppcn">
                <mat-label translate>5.4.3 - <span translate>mitigationAction.contactPersonTitle</span></mat-label>
                <input matInput formControlName="contactPersonTitleCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>

              <mat-form-field class="field-ppcn">
                <mat-label translate>5.4.4 - <span translate>info.emailAddress</span></mat-label>
                <input matInput type="email" formControlName="emailAddressCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>

              <mat-form-field class="field-ppcn">
                <mat-label translate>5.4.5 - <span translate>info.phone</span></mat-label>
                <span matPrefix>+506 &nbsp;</span>
                <input matInput minlength="8" maxlength="8" type="tel" formControlName="phoneCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>

              <div class="box-button">
                <app-generic-button-secondary type="button" (click)="stepper.previous()" name="general.back">
                </app-generic-button-secondary>
                <button type="button" matRipple (click)="stepper.next()" class="primary-button">
                  <span translate>general.next</span>
                </button>
              </div>
            </mat-step>

            <mat-step formGroupName="4" [stepControl]="getFormObject(formElement)?.get([4])">
              <ng-template matStepLabel>
                <span>5.5 - </span><span translate>mitigationAction.changeLog</span>
              </ng-template>

              <mat-form-field class="field-ppcn">
                <mat-label translate>5.5.1 - <span translate>mitigationAction.dateLastUpdate</span></mat-label>
                <input
                  matInput
                  [placeholder]="'Choose a date' | translate"
                  [matDatepicker]="dateLastUpdateDate"
                  formControlName="dateLastUpdateCtrl"
                />

                <mat-datepicker-toggle matSuffix [for]="dateLastUpdateDate"></mat-datepicker-toggle>
                <mat-datepicker #dateLastUpdateDate startView="year" [startAt]="startDate"></mat-datepicker>

                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>

              <mat-form-field class="field-ppcn">
                <mat-label translate>5.5.2 - <span translate>mitigationAction.changesLastupdate</span></mat-label>
                <input matInput formControlName="changesLastupdateCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>

              <mat-form-field class="field-ppcn">
                <mat-label translate>5.5.3 - <span translate>mitigationAction.descriptionChanges</span></mat-label>

                <input matInput formControlName="descriptionChangesCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>

              <mat-form-field class="field-ppcn">
                <mat-label translate>5.5.4 - <span translate>mitigationAction.authorLastUpdate</span></mat-label>
                <input matInput formControlName="authorLastUpdateCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
              </mat-form-field>

              <div class="box-button">
                <app-generic-button-secondary type="button" (click)="stepper.previous()" name="general.back">
                </app-generic-button-secondary>
                <button type="button" matRipple (click)="stepper.next()" class="primary-button">
                  <span translate>general.next</span>
                </button>
              </div>
            </mat-step>

            <mat-step>
              <ng-template matStepLabel> <span translate> specificLabel.confirmInformation </span></ng-template>

              <div *ngIf="form.valid; else elseBlock" translate>specificLabel.everythingCorrect</div>

              <ng-template #elseBlock translate>Check the form for any errors marked in red</ng-template>

              <div class="align-right" *ngIf="i === getFormKeys().length - 1">
                <button [disabled]="wasSubmittedSuccessfully" type="submit" matRipple class="primary-button">
                  <span translate>general.done</span>
                </button>
              </div>
            </mat-step>
          </mat-vertical-stepper>
          <div>
            <button mat-mini-fab color="warn" *ngIf="i > 0" (click)="removeForm(formElement)" type="button">
              <mat-icon>delete forever</mat-icon>
            </button>
          </div>
        </div>

        <div class="align-right">
          <button mat-mini-fab (click)="addNewForm()" type="button">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</div>
