<div class="container">
  <mat-card>
    <!--<h1>
      <mat-card-title translate>APP_NAME</mat-card-title>
      <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
    </h1>-->
    <h3>
      <mat-card-title translate class="section-heading">Edit a mccr registry:</mat-card-title>
      <mat-divider class="divider-custom"></mat-divider>
      <mat-divider class="divider-custom"></mat-divider>
    </h3>
    <mat-card-content>
      <form (ngSubmit)="submitForm()" *ngIf="formValues | async"  [formGroup]="form" novalidate>
        <div class="form-error" [hidden]="!error || isLoading" translate>
          <span translate>Error submitting the form.</span>
        </div>
        <br/>
        <div fxLayout="column">

          <mat-form-field>
              <mat-select  formControlName="mitigation" placeholder="Mitigation Action" [compareWith]="compareIds">
                  <mat-option *ngFor="let mitigationAction of processedMitigationActions" [value]="mitigationAction.id">
                    {{ mitigationAction.name }}
                  </mat-option>
                </mat-select>
          </mat-form-field>
          <br/>

          <mat-form-field>
            <mat-label translate>Status</mat-label>
            <input matInput formControlName="status">
            <mat-error translate>The input is invalid.</mat-error>
          </mat-form-field>
          <br/>


        
        </div>
        <div class="box-button">
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
                <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
                <span translate>Submit Mccr Registry</span>
              </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
