<div>
  <div class="header-container flex flex-row justify-between items-center">
    <label class="mat-h1" translate>general.newComment</label>
    <button mat-dialog-close mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="comment-container">
    <mat-form-field class="comment-container" appearance="fill">
      <mat-label>Sub-Módulo</mat-label>
      <mat-select (selectionChange)="loadSubModules($event.value)" class="flex flex-1" [(ngModel)]="comment.module">
        <mat-option *ngFor="let module of fields" translate [value]="module.module">
          <span translate>{{ module.module }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="comment.module" class="comment-container" appearance="fill">
      <mat-label translate>general.fields</mat-label>
      <mat-select class="flex flex-1" [(ngModel)]="comment.subModule">
        <mat-option *ngFor="let subField of subFields" [value]="subField">
          <span translate>{{ subField }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="comment.subModule" class="comment-container" appearance="fill">
      <mat-label translate>general.comments</mat-label>
      <textarea [(ngModel)]="comment.comment" matInput></textarea>
    </mat-form-field>
  </div>
  <div class="comment-container">
    <button mat-dialog-close mat-raised-button><span translate>general.cancel</span></button>
    <button [mat-dialog-close]="comment" [disabled]="!comment.comment" mat-raised-button color="primary">
      Comentar
    </button>
  </div>
</div>
