@import "src/theme/theme-variables";


.container {
    text-align: center;
    padding: 1rem;
  }
  
  .mat-icon {
    vertical-align: middle;
  }
  
  .new-mitigation-action-form-error {
    color: mat-color($app-warn);
  }

  mat-form-field.mat-form-field {
    font-size: 16px;
    display: block;
  }

  [hidden] {
    display: none;
  }
