<div class="container">
  <mat-card>
    <!-- <h1>
      <mat-card-title translate>APP_NAME</mat-card-title>
      <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
    </h1> -->
    <h3>
      <mat-card-title>
        <span translate class="section-heading">Edit a mitigation action: </span>
        <mat-divider class="divider-custom"></mat-divider>
        <mat-divider class="divider-custom"></mat-divider>
      </mat-card-title>
    </h3>
    <mat-card-content>
      <form (ngSubmit)="submitForm()" *ngIf="formValues | async" [formGroup]="formGroup">
        <mat-vertical-stepper formArrayName="formArray" >
          <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
            <ng-template matStepLabel><span translate>Basic Info</span></ng-template>
            <mat-form-field>
              <mat-label><div [innerHTML]="'Program' | translate"></div> </mat-label>
              <!-- <mat-label translate>Program</mat-label> -->
              <input matInput formControlName="programCtrl" required>
              <mat-error translate>This field is required</mat-error>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <mat-label translate>Name</mat-label>
              <input matInput formControlName="nameCtrl" required>
              <mat-error translate>This field is required</mat-error>
            </mat-form-field>
            <br/>

            <mat-form-field>
              <mat-select  formControlName="entityCtrl" [placeholder]="'Entity or Institution' | translate" [compareWith]="compareIds">
                <mat-option *ngFor="let institution of institutions" [value]="institution.id">
                  {{ institution.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <br/>

            <mat-form-field>
              <mat-label translate>Costa Rica Compensation Units</mat-label>
              <input matInput formControlName="uccCtrl">
              <mat-error>Some error happened with this field</mat-error>
            </mat-form-field>
            <br/>

            <mat-form-field>
              <mat-label translate>Validation Verification Body</mat-label>
              <input matInput formControlName="ovvCtrl">
              <mat-error>This field is required</mat-error>
            </mat-form-field>
            <br/>

            <div>
              <br/>
              <button mat-button matStepperNext type="button"><span translate>Next</span></button>
            </div>
          </mat-step>

          <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
            <ng-template matStepLabel>
              <div translate>Contact Info</div>
            </ng-template>

            <mat-form-field>
              <mat-label translate>Name</mat-label>
              <input matInput formControlName="contactNameCtrl">
              <mat-error translate>The input is invalid.</mat-error>
            </mat-form-field>
            <br/>

            <mat-form-field>
              <mat-label translate>Position</mat-label>
              <input matInput formControlName="positionCtrl">
              <mat-error translate>The input is invalid.</mat-error>
            </mat-form-field>
            <br/>

            <mat-form-field>
              <mat-label translate>Email address</mat-label>
              <input matInput formControlName="emailFormCtrl">
              <mat-error translate>The input is invalid.</mat-error>
            </mat-form-field>
            <br/>

            <mat-form-field>
              <mat-label translate>Phone</mat-label>
              <input matInput formControlName="phoneCtrl">
              <mat-error translate>The input is required or length is incorrect.</mat-error>
            </mat-form-field>
            <br/>

            <div>
              <button mat-button matStepperPrevious type="button"> <span translate>Back</span></button>
              <button mat-button matStepperNext type="button"> <span translate>Next</span></button>
            </div>
          </mat-step>
          <mat-step formGroupName="2" [stepControl]="formArray?.get([2])">
            <ng-template matStepLabel>
              <div translate>Objectives</div>
            </ng-template>
            <mat-form-field>
              <textarea matInput formControlName="actionObjectiveCtrl" [placeholder]="'Objective of the mitigation action' | translate" matTextareaAutosize
                matAutosizeMinRows="2" matAutosizeMaxRows="20"></textarea>
              <mat-error translate>This field is required</mat-error>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <mat-label translate>Quantitative Objective </mat-label>
              <input matInput formControlName="quantitativeObjectiveCtrl">
              <mat-error translate>The input is invalid.</mat-error>
            </mat-form-field>
            <br/>
            <br/>

            <mat-form-field>
              <mat-select  formControlName="actionStatusCtrl" [placeholder]="'Mitigation Action Status' | translate">
                <mat-option *ngFor="let status of statusses" [value]="status.id">
                  {{ status.status }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <br/>

            <mat-form-field>
              <mat-label translate>Starting year of Mitigation Action:</mat-label>
              <input matInput [matDatepicker]="implementationInitialDatePicker" [placeholder]="'Choose a date' | translate" formControlName="implementationInitialDateCtrl">
              <mat-datepicker-toggle matSuffix [for]="implementationInitialDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #implementationInitialDatePicker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
            <br/>

            <mat-form-field>
              <mat-label translate>Last year of Mitigation Action:</mat-label>
              <input matInput [matDatepicker]="implementationEndDatePicker" [placeholder]="'Choose a date' | translate" formControlName="implementationEndDateCtrl">
              <mat-datepicker-toggle matSuffix [for]="implementationEndDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #implementationEndDatePicker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
            <br/>
            <button mat-button matStepperPrevious type="button" > <span translate>Back </span></button>
            <button mat-button matStepperNext type="button" > <span translate>Next </span></button>
          </mat-step>

          <mat-step formGroupName="3" [stepControl]="formArray?.get([3])">
            <ng-template matStepLabel>
              <div translate>Progress Indicators</div>
            </ng-template>
            <mat-form-field>
              <mat-label translate>Name</mat-label>
              <input matInput formControlName="progressIndicatorNameCtrl" required>
              <mat-error translate>This field is required</mat-error>
            </mat-form-field>
            <br/>

            <mat-form-field>
              <mat-label translate>Type</mat-label>
              <input matInput formControlName="progressIndicatorTypeCtrl" required>
              <mat-error translate>This field is required</mat-error>
            </mat-form-field>
            <br/>

            <mat-form-field>
              <mat-label translate>Unit</mat-label>
              <input matInput formControlName="progressIndicatorUnitCtrl" required>
              <mat-error translate>This field is required</mat-error>
            </mat-form-field>
            <br/>

            <mat-form-field>
              <mat-label translate>Year when it started:</mat-label>
              <input matInput [matDatepicker]="progressIndicatorInitialYearPicker" [placeholder]="'Choose a date' | translate" formControlName="progressIndicatorInitialYearCtrl">
              <mat-datepicker-toggle matSuffix [for]="progressIndicatorInitialYearPicker"></mat-datepicker-toggle>
              <mat-datepicker #progressIndicatorInitialYearPicker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>

            <br/>

            <button mat-button matStepperPrevious type="button" > <span translate>Back </span></button>
            <button mat-button matStepperNext type="button" > <span translate>Next </span></button>
          </mat-step>

          <mat-step formGroupName="4" [stepControl]="formArray?.get([4])">
            <ng-template matStepLabel>
              <div translate>Financing and Gas Inventory</div>
            </ng-template>

            <mat-form-field>
                <mat-label translate>Finance Status</mat-label>
                <mat-select  formControlName="financingStatusCtrl" [placeholder]="'Finance Source Status' | translate" (selectionChange)="financialSourceInputShown($event)"  [compareWith]="compareIds">
                    <mat-option *ngFor="let financeStatus of financeSourceTypes" [value]="financeStatus.id">
                      {{ financeStatus.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

            <br/>

            <div *ngIf="displayFinancialSource">
            <mat-form-field>
              <mat-label translate>In case of insured, list sources</mat-label>
              <input matInput formControlName="financingSourceCtrl">
              <mat-error translate>The input is invalid.</mat-error>
            </mat-form-field>
          </div>
            <br/>

            <mat-label translate>Gas Inventory</mat-label>
            <mat-radio-group matInput formControlName="gasInventoryCtrl">
              <mat-radio-button value="1" translate><span translate>Energy</span></mat-radio-button>
            </mat-radio-group>

            <br/>

            <div>
              <button mat-button matStepperPrevious type="button" > <span translate>Back </span></button>
              <button mat-button matStepperNext type="button" > <span translate>Next </span></button>
            </div>
          </mat-step>

          <mat-step formGroupName="5" [stepControl]="formArray?.get([5])">
            <ng-template matStepLabel>
              <div translate>INGEI</div>
            </ng-template>

            <mat-form-field>
                <mat-select [placeholder]="'Ingei Compliance' | translate" formControlName="ingeiComplianceCtrl" multiple [compareWith]="compareIds">
                  <mat-option *ngFor="let ingei of ingeis" [value]="ingei.id">{{ingei.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              

            <br/>
            <div>
              <button mat-button matStepperPrevious type="button" > <span translate>Back </span></button>
              <button mat-button matStepperNext type="button" > <span translate>Next </span></button>
            </div>
          </mat-step>

          <mat-step formGroupName="6" [stepControl]="formArray?.get([6])">
            <ng-template matStepLabel>
              <div translate>Geographic Scale</div>
            </ng-template>

            <br/>

            <mat-form-field>
                <mat-select [placeholder]="'Geographic Scale' | translate" formControlName="geographicScaleCtrl" [compareWith]="compareIds">
                  <mat-option *ngFor="let geographicScale of geographicScales" [value]="geographicScale.id">{{geographicScale.name}}</mat-option>
                </mat-select>
              </mat-form-field>

            <div>
              <button mat-button matStepperPrevious type="button" > <span translate>Back </span></button>
              <button mat-button matStepperNext type="button" > <span translate>Next </span></button>
            </div>
          </mat-step>

          <mat-step formGroupName="7" [stepControl]="formArray?.get([7])">
            <ng-template matStepLabel>
              <div translate>Location</div>
            </ng-template>
            <mat-form-field>
              <mat-label translate>Geographic Site</mat-label>
              <input matInput formControlName="locationNameCtrl">
              <mat-error translate>The input is required.</mat-error>
            </mat-form-field>
            <br/>

            <mat-label translate>GIS information Annexed?</mat-label>
            <mat-radio-group matInput formControlName="gisAnnexedCtrl">
              <mat-radio-button value="1" ><span translate> Yes </span></mat-radio-button>
              <mat-radio-button value="0" ><span translate>No </span></mat-radio-button>
            </mat-radio-group>

            <div>
              <button mat-button matStepperPrevious type="button" > <span translate> Back </span></button>
              <button mat-button matStepperNext type="button" > <span translate>Next </span></button>
            </div>
          </mat-step>

          <mat-step formGroupName="8" [stepControl]="formArray?.get([8])">
            <ng-template matStepLabel>
              <div translate>Other</div>
            </ng-template>
            <mat-form-field>
              <mat-label translate>Emissions Sources</mat-label>
              <input matInput formControlName="emissionSourceCtrl">
              <mat-error translate>The input is required.</mat-error>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <mat-label translate>Carbon Sinks</mat-label>
              <input matInput formControlName="carbonSinksCtrl">
              <mat-error translate>The input is required.</mat-error>
            </mat-form-field>
            <br/>

            <mat-form-field>
              <mat-label translate>How the impact in emissions will be achieved?</mat-label>
              <input matInput formControlName="emissionImpactCtrl">
              <mat-error translate>The input is required.</mat-error>
            </mat-form-field>
            <br/>

            <mat-form-field>
              <mat-label translate>Impact of mitigation action</mat-label>
              <input matInput formControlName="mitigationActionImpactCtrl">
              <mat-error translate>The input is required.</mat-error>
            </mat-form-field>
            <br/>

            <mat-form-field>
              <mat-label translate>Bibliographical Sources</mat-label>
              <input matInput formControlName="bibliographicalSourcesCtrl">
              <mat-error translate>The input is required.</mat-error>
            </mat-form-field>
            <br/>

            <mat-label translate>International Market Participation?</mat-label>
            <mat-radio-group matInput formControlName="internationalParticipationCtrl">
              <mat-radio-button value="1" > <span translate> Yes </span></mat-radio-button>
              <mat-radio-button value="0" > <span translate> No </span></mat-radio-button>

            </mat-radio-group>

            <br/>

            <mat-form-field>
              <mat-label translate>International Market Participation</mat-label>
              <input matInput formControlName="internationalParticipationDetailCtrl">
              <mat-error translate>The input is required.</mat-error>
            </mat-form-field>
            <br/>

            <mat-form-field>
              <textarea matInput formControlName="sustainabilityObjectivesCtrl" [placeholder]="'Sustainable Development Objectives' | translate" matTextareaAutosize
                matAutosizeMinRows="2" matAutosizeMaxRows="20"></textarea>
              <mat-error translate>This field is required</mat-error>
            </mat-form-field>
            <br/>


            <div>
              <button mat-button matStepperPrevious type="button" > <span translate>Back</span></button>
              <button mat-button matStepperNext type="button" > <span translate> Next </span></button>
            </div>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel> <span translate> Confirm your information </span></ng-template>
            
            <div *ngIf="formGroup.valid; else elseBlock" translate>Everything seems correct. </div>
            
            <ng-template #elseBlock translate>Check the form for any errors marked in red</ng-template>
            <div>
              <button mat-raised-button color="primary"><span translate>Done</span></button>
            </div>
          </mat-step>
        </mat-vertical-stepper>



      </form>
    </mat-card-content>
  </mat-card>
</div>
