<div>
	<label class="mat-h3">
		<strong>
			"Se recomienda utilizar de guía el método de cadena causal del Estándar de
			Política y acción del WRI (2014) para la construcción del mapa de cadena
			causal"
		</strong>
	</label>
	<div class="txt-container">
		<label class="mat-h4">
			Ejemplo del esquema requerido utilizando Diagrama Causal
		</label>
		<img width="80%" height="50%" src="assets/sinamecc-info-ma.png" />
		<br />
		<a
			target="_blank"
			href="https://www.ghgprotocol.org/sites/default/files/ghgp/standards/Spanish%20-%20Policy%20and%20Action%20Standard.pdf"
		>
			Ver link
		</a>
	</div>
</div>;
