<div class="container">
  <mat-card>
    <h3>
      <mat-card-title translate class="section-heading">mccr.EditMCCR</mat-card-title>
      <mat-divider class="divider-custom"></mat-divider>
      <mat-divider class="divider-custom"></mat-divider>
    </h3>
    <mat-card-content>
      <form (ngSubmit)="submitForm()" *ngIf="formValues | async" [formGroup]="form" novalidate>
        <div class="form-error" [hidden]="!error || isLoading" translate>
          <span translate>errorLabel.errorSubmittingForm</span>
        </div>
        <br />
        <div class="flex flex-col">
          <mat-form-field>
            <mat-select formControlName="mitigation" placeholder="mitigationAction.MA" [compareWith]="compareIds">
              <mat-option *ngFor="let mitigationAction of processedMitigationActions" [value]="mitigationAction.id">
                {{ mitigationAction.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />

          <mat-form-field>
            <mat-label translate>Status</mat-label>
            <input matInput formControlName="status" />
            <mat-error translate>errorLabel.inputInvalid</mat-error>
          </mat-form-field>
          <br />
        </div>
        <div class="box-button">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span translate>mccr.submitMccr</span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
