$COLOR_INPUT: #757575;

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.report-error {
  color: red;
}

.custom-radio-group {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.radio-grup-label {
  color: $COLOR_INPUT;
}

.last-section-mat-select {
  margin-bottom: 0.5em;
}

.finance-container {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
}

.custom-divider {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.max-container {
  width: 100%;
}
