$COLOR_INPUT: #757575;

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.report-error {
  color: red;
}

.custom-radio-group {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.radio-grup-label {
  color: $COLOR_INPUT;
}

.last-section-mat-select {
  margin-bottom: 0.5em;
}
