<div class="container">
  <form [formGroup]="form" >
      <mat-vertical-stepper #stepper formArrayName="formArray">
        <mat-step formGroupName="0" [stepControl]="formArray?.get([0])" >
          <ng-template matStepLabel>
            <span translate>Registro de avances de monitoreo</span>
          </ng-template>

          <span translate>Seleccione el impacto general  de la acción de adaptación reportada</span>
          <mat-radio-group
            #generalImpactControl="matRadioGroup"
            formControlName="generalImpactCtrl"
            class="custom-radio-group"
          >
            <mat-radio-button value="1">
              <label translate>Aumento de resiliencia </label>
            </mat-radio-button>
            <mat-radio-button value="2">
              <label translate>Disminución de vulnerabilidad</label>
            </mat-radio-button>
            <mat-radio-button value="3">
              <label translate>Mitigación de riego</label>
            </mat-radio-button>
            <mat-radio-button value="4">
              <label translate>Creción de capacidades</label>
            </mat-radio-button>
            <mat-radio-button value="5">
              <label translate>Conocimiento sobre amenazas</label>
            </mat-radio-button>
            <mat-radio-button value="6">
              <label translate>Planeación basada en el cambio climático.</label>
            </mat-radio-button>
          
          </mat-radio-group>
          <br />
          <br />

          <mat-form-field class="field-ppcn" appearance="fill">
              <mat-label translate>"Temporalidad del impacto en adaptación de la acción</mat-label>
              <mat-select formControlName="adaptationTemporalityImpactCtrl" multiple>
                  <mat-option [value]="1">
                   <label translate>Inmediato</label>
                  </mat-option>

                 <mat-option [value]="2">
                   <label translate>Corto plazo (hasta 1 año)</label>
                  </mat-option>

                  <mat-option [value]="3">
                   <label translate>Mediano plazo (entre 1- 5 años)</label>
                  </mat-option>

                   <mat-option [value]="4">
                   <label translate>Largo plazo (más de 5 años)</label>
                  </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="field-ppcn" >
            <mat-label translate>Impactos de la acción según otros indicadores o mediciones</mat-label>
                <input matInput formControlName="impactsAccordingIndicatorsCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>

          <span translate>La acción incorporó elementos de equidad de género</span>
          <mat-radio-group
            #genderEquityElementsControl="matRadioGroup"
            formControlName="genderEquityElementsCtrl"
            class="custom-radio-group"
          >
            <mat-radio-button value="1">
              <label translate>Si </label>
            </mat-radio-button>
            <mat-radio-button value="2">
              <label translate>No</label>
            </mat-radio-button>
           
          
          </mat-radio-group>
          <br />

          <mat-form-field class="field-ppcn" *ngIf="genderEquityElementsControl.value === 1">
            <mat-label translate>En caso positivo describa como la acción aporta a la equidad de género frente al cambio climático</mat-label>
                <input matInput formControlName="genderEquityElementsQuestionCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>

            <mat-form-field class="field-ppcn" *ngIf="genderEquityElementsControl.value === 1">
            <mat-label translate>¿La acción ha generado algún impacto no deseado/inesperado/negativo?</mat-label>
                <input matInput formControlName="actionNegativeImpactCtrl" />
                <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>

             <div fxLayout="row" fxLayoutAlign=" center">
                  <mat-form-field class="field-ppcn">
                    <mat-label translate>Anexo información de soporte asociada al impacto de la acción reportada</mat-label>
                    <input matInput formControlName="AnnexSupportingInformationCtrl" />
                    <mat-error translate>errorLabel.fieldRequired</mat-error>
                  </mat-form-field>
                  <input type="file" name="filename2" />
                  <br />
              </div>



            <div fxLayout="row" class="button-box" fxLayoutAlign="end center" >
              <app-generic-button (click)="buildPayload()" name="general.done">
              </app-generic-button>
            </div>

        </mat-step>





      </mat-vertical-stepper>
  </form>
</div>
