<div class="container-custom">
  <div class="header-container flex flex-col justify-center items-center">
    <h2 translate>adaptationAction.form6.title</h2>
    <ng-container *ngIf="type === types.A">
      <div class="flex flex-col justify-center items-start rounded bg-gray-100 border-2 border-gray-200 p-2">
        <span translate>general.optional</span>
      </div>
    </ng-container>
  </div>
  <form [formGroup]="form">
    <mat-vertical-stepper #stepper linear formArrayName="formArray">
      <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
        <ng-template matStepLabel>
          <span translate>adaptationAction.form6.actionImpact</span>
        </ng-template>

        <mat-form-field class="field-ppcn" appearance="fill">
          <mat-label translate>adaptationAction.form6.temporalityImpact</mat-label>
          <mat-select formControlName="adaptationTemporalityImpactCtrl">
            <mat-option *ngFor="let element of temporalityImpact" [value]="element.id">
              <label translate>{{ element.name }}</label>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="field-ppcn">
          <mat-label translate>adaptationAction.form6.impactsAction</mat-label>
          <input matInput formControlName="impactsAccordingIndicatorsCtrl" />
          <mat-error translate>errorLabel.fieldRequired</mat-error>
        </mat-form-field>

        <span translate>adaptationAction.form6.genderEquity</span>
        <mat-radio-group
          #genderEquityElementsControl="matRadioGroup"
          formControlName="genderEquityElementsCtrl"
          class="custom-radio-group"
        >
          <mat-radio-button [value]="1">
            <label translate>Sí </label>
          </mat-radio-button>
          <mat-radio-button [value]="2">
            <label translate>No</label>
          </mat-radio-button>
        </mat-radio-group>
        <br />

        <div class="flex flex-col gap-2" *ngIf="genderEquityElementsControl.value === 1">
          <label translate>adaptationAction.form6.contributesGenderEquity</label>
          <mat-form-field class="field-ppcn">
            <input matInput formControlName="genderEquityElementsQuestionCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
          </mat-form-field>
        </div>

        <div class="flex flex-col gap-2">
          <label translate>adaptationAction.form6.sustainableDevelopment</label>
          <mat-form-field class="field-ppcn" appearance="fill">
            <mat-select multiple formControlName="objectivesCtrl">
              <mat-option *ngFor="let element of ods" [value]="element.id">
                <label translate>{{ element.name }}</label>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="flex flex-col gap-2">
          <label translate>adaptationAction.form6.generatedImpact</label>
          <mat-form-field class="field-ppcn">
            <input matInput formControlName="actionNegativeImpactCtrl" />
            <mat-error translate>errorLabel.fieldRequired</mat-error>
          </mat-form-field>
        </div>

        <div class="flex flex-col gap-2">
          <label translate>adaptationAction.form6.annexSupporting</label>
          <div class="flex flex-row justify-center gap-4">
            <mat-form-field class="field-ppcn">
              <input matInput formControlName="AnnexSupportingInformationCtrl" />
              <mat-error translate>errorLabel.fieldRequired</mat-error>
            </mat-form-field>
            <app-upload-button (fileChange)="uploadFile($event)" name="annexSupporting" />
            <br />
          </div>
        </div>

        <div class="box-button">
          <button type="button" matRipple (click)="stepper.next()" class="primary-button">
            <span translate>general.next</span>
          </button>
        </div>
      </mat-step>

      <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
        <ng-template matStepLabel>
          <span translate>impactEvaluation.includeImpactInfoTitle</span>
        </ng-template>
        <div class="flex flex-col gap-1">
          <label class="text-sm font-medium text-gray-700" translate>
            <span translate>impactEvaluation.includeImpactInfo</span>
          </label>

          <mat-radio-group
            class="flex gap-4 items-center"
            formControlName="includeImpactInfoCtrl"
            [(ngModel)]="includeImpactInfo"
            name="includeImpactInfo"
          >
            <mat-radio-button [value]="true" class="flex items-center gap-1">
              <span translate>general.yes</span>
            </mat-radio-button>
            <mat-radio-button [value]="false" class="flex items-center gap-1">
              <span translate>No</span>
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="button-box flex flex-row justify-end items-center">
          <button mat-raised-button color="primary" type="button" [disabled]="isDisabled()" (click)="submitForm()">
            <span translate>general.done</span>
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>
