<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav mode="over" ngClass.gt-sm="has-border">
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          

          <button mat-menu-item [matMenuTriggerFor]="admin" >
            <span translate>ADMIN</span>
          </button>
          <mat-menu  #admin="matMenu" [overlapTrigger]="false">
            <button mat-menu-item routerLink="/admin/users" routerLinkActive="active" (click)="sidenav.close()"><span translate>admin.users</span></button>
            <button  mat-menu-item routerLink="/admin/permissions" routerLinkActive="active" (click)="sidenav.close()"><span translate>admin.permissions</span></button>
            <button  mat-menu-item routerLink="/admin/groups" routerLinkActive="active" (click)="sidenav.close()"><span translate>admin.groups</span></button>
          </mat-menu>

          <a *ngIf="permissions.report_data != undefined" mat-list-item routerLink="/report" routerLinkActive="active" (click)="sidenav.close()">
            <span translate>reportData.reportsM</span>
          </a>
          <mat-divider></mat-divider>
          <a *ngIf="permissions.mitigation_action != undefined"  mat-list-item routerLink="/mitigation/actions" routerLinkActive="active" (click)="sidenav.close()">
            <span translate>{{ 'mitigationAction.MAt.toUpperCase()' | translate }}</span>
          </a>  
          <mat-divider></mat-divider>

          <button mat-menu-item [matMenuTriggerFor]="MCCR">MCCR</button>

          <mat-menu #MCCR="matMenu">
              <button *ngIf="permissions.mccr != undefined"  mat-menu-item routerLink="/mccr/registries" routerLinkActive="active" (click)="sidenav.close()">MCCR REGISTRIES</button>
              <button mat-menu-item routerLink="/mccr/poc" routerLinkActive="active" (click)="sidenav.close()">MCCR POC</button>
          
          </mat-menu>

        <mat-divider></mat-divider>
          <a *ngIf="permissions.ppcn != undefined" mat-list-item routerLink="/ppcn/registries" routerLinkActive="active" (click)="sidenav.close()">
            <span translate>PPCN</span>
          </a>  
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header [sidenav]="sidenav"></app-header>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
