<div>
  <div #commentContainer></div>
</div>

<div class="container">
  <mat-card>
    <h1>
      <mat-card-title translate>APP_NAME</mat-card-title>
      <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
    </h1>
    <h3>
      <mat-card-title
        ><span translate>{{ title }}</span></mat-card-title
      >
    </h3>
    <mat-card-content>
      <form (ngSubmit)="submitForm()" [formGroup]="form" novalidate>
        <div class="form-error" [hidden]="!error || isLoading" translate>
          <span translate>errorLabel.errorSubmittingForm</span>
        </div>
        <br />
        <div fxLayout="column">
          <h3 translate>general.currentStatus</h3>
          <span>{{ entity.fsm_state }}</span>
          <hr />
          <mat-form-field>
            <mat-select
              formControlName="statusCtrl"
              [placeholder]="'specificLabel.nextStatus' | translate"
              [compareWith]="compareIds"
            >
              <mat-option *ngFor="let status of statuses" [value]="status">
                {{ status }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />

          <mat-form-field *ngIf="shouldDisplayComment">
            <textarea
              matInput
              formControlName="descriptionCtrl"
              [placeholder]="'specificLabel.descriptionReviewUpdate' | translate"
              matTextareaAutosize
              matAutosizeMinRows="2"
              matAutosizeMaxRows="20"
            ></textarea>
            <mat-error translate>errorLabel.fieldRequired</mat-error>
          </mat-form-field>
          <br />

          <br />

          <button
            (click)="loadComponent()"
            type="button"
            *ngIf="module == 'ppcn' && !moduleRef"
            mat-raised-button
            color="primary"
          >
            <span translate>specificLabel.commentForm</span>
          </button>
          <br />
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
            <app-loader class="inline-loader" [isLoading]="isLoading"></app-loader>
            <span translate>specificLabel.submitReview</span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
