@import "src/theme/theme-variables";

.main-container {
  width: 100wh;
  height: 100vh;

  .side-menu {
    width: 20%;
    height: 100%;
    background-color: #0f375a;
  }

  .side-content {
    width: 80%;
    height: 100%;
  }
}

.icon-button {
  color: white;
}

.logo-container {
  padding: 1em;

  .logo {
    margin-left: 0.7em;
    width: 80%;
    height: auto;
  }
}

.option-container {
  margin-top: 1em;

  .option {
    padding: 0.7em;
    color: white;

    &:hover {
      background-color: #255d82;
      cursor: pointer;
    }
  }

  .option-selected {
    background-color: #255d82;
    padding: 0.7em;
    color: white;
  }
}

.user-data {
  color: white;
  padding: 0.5em;
}

.no-margin {
  margin: 0;
}
