<div class="sinamecc-container flex flex-col justify-start items-start">
  <h3 class="mat-h3">Estado actual</h3>
  <div class="custom-chip">
    {{ actualReview?.current_status }}
  </div>
  <mat-divider class="custom-divider"></mat-divider>
  <div *ngIf="reviews.length > 0">
    <h3 class="mat-h3">Historial</h3>
    <div *ngFor="let review of reviews; let isLast = last">
      <div class="flex flex-row justify-start items-center">
        <mat-icon>done</mat-icon>
        <mat-label class="mat-h4" style="margin-left: 1em">{{ review?.date | date: 'medium' }}</mat-label>
      </div>
      <div class="comment-container flex flex-row justify-start items-center">
        <mat-divider [vertical]="true" class="custom-vertical-divider"></mat-divider>
        <div class="flex flex-col justify-start items-center">
          <div [class]="isLast ? 'custom-success-chip' : 'custom-chip'">
            <label class="mat-h4">{{ review?.current_status }}</label>
          </div>
          <label class="mat-h4">{{ review?.user }}</label>
        </div>
      </div>
    </div>
  </div>
</div>
