:host {
  display: flex;
  flex: 1;
  height: 100vh;
  background-image: url("../../assets/background-login.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "Open Sans" sans-serif !important ;
  font-weight: 800;
}
