@import "src/theme/theme-variables";


.container {
    text-align: center;
    padding: 1rem;
  }
  
  .mat-icon {
    vertical-align: middle;
  }
  

  .report-error {
    color: mat-color($app-warn);
  }
