<div class="container">
    <mat-card>
          <h3>
              <mat-card-title class="section-heading" translate>credentialsSection.changePass</mat-card-title>
              <mat-divider class="divider-custom"></mat-divider>
              <mat-divider class="divider-custom"></mat-divider>
          </h3>
          <mat-card-content>
            <form (ngSubmit)="submit()" [formGroup]="form" novalidate>

                <div class="report-error" [hidden]="!error || isLoading" translate>
                    <span translate>errorLabel.errorSubmittingForm {{error}}</span>
                </div>

              <div fxLayout="column">
                  <mat-form-field >
                      <input type="password" matInput formControlName="password" [placeholder]="'credentialsSection.password' | translate"/>
                      <mat-error *ngIf="form.controls.password.invalid || form.controls.password.untouched">
                          <span translate>credentialsSection.passwordRequired</span>
                     </mat-error>  
                  </mat-form-field>

                  <mat-form-field >
                      <input type="password" matInput formControlName="newPassword" [placeholder]="'New Password' | translate"/>  
                      <mat-error *ngIf="form.controls.newPassword.invalid || form.controls.newPassword.untouched">
                          <span translate>New Password is required</span>
                     </mat-error>  
                  </mat-form-field>

                  <mat-form-field >
                      <input type="password"  matInput formControlName="confirmPassword" [placeholder]="'Confirm New Password' | translate"/>  
                      <mat-error *ngIf="form.controls.confirmPassword.invalid || form.controls.confirmPassword.untouched">
                          <span translate>New Password is required</span>
                     </mat-error> 
                  </mat-form-field> 
                  <br>
                  <div>

                    <button  mat-raised-button color="primary" type="submit">
                        <span translate>Change</span>
                    </button>

                    <button  mat-raised-button color="primary" type="button">
                        <span translate>{{ 'general.cancel' | translate }}</span>
                    </button>

                  </div>
              </div>
            </form>
          </mat-card-content>
    </mat-card>

</div>
